@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("/css/reset.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("/css/reset.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.COL-1 {
  width: calc((100% - 220px) / 12 * 1);
  margin-right: 20px;
}
.COL-1:last-child {
  margin-right: 0;
}

.COL-2 {
  width: calc((100% - 220px) / 12 * 2);
  margin-right: 20px;
}
.COL-2:last-child {
  margin-right: 0;
}

.COL-3 {
  width: calc((100% - 220px) / 12 * 3);
  margin-right: 20px;
}
.COL-3:last-child {
  margin-right: 0;
}

.COL-4 {
  width: calc((100% - 220px) / 12 * 4);
  margin-right: 20px;
}
.COL-4:last-child {
  margin-right: 0;
}

.COL-5 {
  width: calc((100% - 220px) / 12 * 5);
  margin-right: 20px;
}
.COL-5:last-child {
  margin-right: 0;
}

.COL-6 {
  width: calc((100% - 220px) / 12 * 6);
  margin-right: 20px;
}
.COL-6:last-child {
  margin-right: 0;
}

.COL-7 {
  width: calc((100% - 220px) / 12 * 7);
  margin-right: 20px;
}
.COL-7:last-child {
  margin-right: 0;
}

.COL-8 {
  width: calc((100% - 220px) / 12 * 8);
  margin-right: 20px;
}
.COL-8:last-child {
  margin-right: 0;
}

.COL-9 {
  width: calc((100% - 220px) / 12 * 9);
  margin-right: 20px;
}
.COL-9:last-child {
  margin-right: 0;
}

.COL-10 {
  width: calc((100% - 220px) / 12 * 10);
  margin-right: 20px;
}
.COL-10:last-child {
  margin-right: 0;
}

.COL-11 {
  width: calc((100% - 220px) / 12 * 11);
  margin-right: 20px;
}
.COL-11:last-child {
  margin-right: 0;
}

.COL-12 {
  width: calc((100% - 220px) / 12 * 12);
  margin-right: 20px;
}
.COL-12:last-child {
  margin-right: 0;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 414px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 414px) {
  h3 {
    font-size: 2.5rem;
  }
}

p {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 414px) {
  p {
    font-size: 2rem;
  }
}

.BREAD {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.EN {
  font-size: 1.5rem;
  font-weight: 400;
}

html {
  font-family: Arial, "Noto Sans TC";
  line-height: 1.25;
  font-size: 10px;
}

.BACKGROUND {
  background-image: url("../../img/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.WRAPPER {
  max-width: 1440px;
  margin: 0 auto;
  width: 75%;
}

a {
  display: block;
}

.HEADER_NAV .RESERVE {
  cursor: pointer;
  background: linear-gradient(180deg, #FF965C 0%, #DC643E 100%);
  font-size: 2.5rem;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 65px;
  width: 270px;
  height: 65px;
  cursor: pointer;
  transition: all 1s ease;
}
.HEADER_NAV .RESERVE:hover {
  background: linear-gradient(180deg, #DC643E 0%, #f48347 100%);
  color: #FFFFFF;
}

.LOGIN {
  font-size: 2.5rem;
  font-weight: 700;
}

.BTN {
  cursor: pointer;
  font-size: 2.5rem;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  position: relative;
  border: unset;
  background: linear-gradient(180deg, #33414E 0%, #22163C 100%);
  color: #FFFFFF;
}
.BTN:hover {
  background: linear-gradient(180deg, #000000 0%, #24313F 100%);
  color: #FFFFFF;
}

.BTN_BACK {
  cursor: pointer;
  font-size: 2.5rem;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  position: relative;
  border: unset;
  background: linear-gradient(180deg, #CB5656 0%, #A92A2A 100%);
  color: #FFFFFF;
}
.BTN_BACK:hover {
  background: linear-gradient(180deg, #610E0E 0%, #891D1D 100%);
}

.TOP_BTN {
  cursor: pointer;
  background-image: url(/img/TOP-BTN.svg);
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: unset;
  border-radius: 50%;
  position: sticky;
  left: 93%;
  bottom: 30px;
  margin: 30px;
  transition: all 0.25s ease-in-out;
}
.TOP_BTN:hover {
  background-image: url(/img/TOP-BTN-HOVER.svg);
  width: 100px;
  height: 100px;
  border: unset;
  border-radius: 50%;
}
.TOP_BTN.SHOW {
  visibility: visible;
  opacity: 1;
}
.TOP_BTN.HIDE {
  visibility: hidden;
  opacity: 0;
}

.SHOPPINGLIST_MAGNIFIER {
  cursor: pointer;
  background-image: url(/img/shopping_list/magnifier.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

.ITEMCOUNT_BTN {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.ITEMCOUNT_BTN .ITEMCOUNT_BTN-LEFT {
  display: block;
  width: 20%;
  height: 65px;
  background-color: #428AA9;
  text-align: center;
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: pointer;
}
.ITEMCOUNT_BTN .ITEMCOUNT_BTN-LEFT i {
  font-size: 45px;
  color: #34424F;
  line-height: 65px;
}
.ITEMCOUNT_BTN .ITEMCOUNT_BTN-BODY {
  display: block;
  width: 100%;
  height: 65px;
  background-color: #fff;
  border: 1px solid #428AA9;
  font-size: 30px;
  color: #34424F;
  line-height: 65px;
  text-align: center;
}
.ITEMCOUNT_BTN .ITEMCOUNT_BTN-RIGHT {
  display: block;
  width: 20%;
  height: 65px;
  background-color: #428AA9;
  text-align: center;
  position: absolute;
  top: 1px;
  right: -1px;
  cursor: pointer;
}
.ITEMCOUNT_BTN .ITEMCOUNT_BTN-RIGHT i {
  font-size: 45px;
  color: #34424F;
  line-height: 65px;
}

.CARD_BODY {
  max-width: 1200px;
  height: 350px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 50px 0;
}

.CARD_LEFT > img {
  border-radius: 10px 0 0 10px;
}

.CARD_RIGHT {
  position: relative;
  background-color: #FFFFFF;
  width: 675px;
  height: 350px;
  border-radius: 0 10px 10px 0;
  padding: 0 30px 0 40px;
}

.CARD_TITLE {
  font-size: 2.5rem;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #F89F69;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  margin-top: 30px;
}

.CARD_DATE {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 30px;
}

.CARD_CONTENT {
  padding-top: 30px;
  font-weight: 500;
  line-height: 50px;
}

.ALLOW {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.SHOPPINGCARD {
  margin-top: 35px;
}
.SHOPPINGCARD:hover .CARDLINK img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.SHOPPINGCARD:hover p.SHOPPINGCARD_TITLE {
  text-decoration: underline;
}
.SHOPPINGCARD .SHOPPINGCARD_IMG {
  border-radius: 3px 50px 3px 3px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  filter: drop-shadow(0px 0px 5px #6b7d80);
}
.SHOPPINGCARD .SHOPPINGCARD_IMG::before {
  content: "";
  width: 100%;
  height: 50px;
  background: rgba(248, 159, 105, 0.7);
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.SHOPPINGCARD .SHOPPINGCARD_IMG img {
  width: 100%;
  border-radius: 3px 50px 3px 3px;
}
.SHOPPINGCARD .SHOPPINGCARD_IMG span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(248, 159, 105, 0.7);
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  line-height: 50px;
}
.SHOPPINGCARD .SHOPPINGCARD_IMG span:hover {
  background-color: #CB5656;
}
.SHOPPINGCARD .SHOPPINGCARD_IMG span .SHOPPINGCART_ICON::before {
  color: #FFF;
  font-size: 2.5rem;
  margin-right: 10px;
  transform: translate(20%, 20%);
}
.SHOPPINGCARD .SHOPPINGCARD_IMG span p {
  color: #FFF;
  font-weight: 900;
}
.SHOPPINGCARD .SHOPPINGCARD_IMG a {
  text-decoration: none;
}
.SHOPPINGCARD .SHOPPINGCARD_IMG a img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.SHOPPINGCARD a {
  text-decoration: none;
}
.SHOPPINGCARD a .SHOPPINGCARD_TITLE {
  height: 125px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 10px;
  color: #34424F;
}
.SHOPPINGCARD .SHOPPINGCARD_PRICE {
  font-weight: 700;
  line-height: 34px;
  color: #D13333;
  text-align: right;
}

.INPUT {
  font-size: 2.5rem;
  color: #34424F;
}
.INPUT input {
  font-family: "Noto Sans";
  font-size: 2rem;
  color: #34424F;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #9E9E9E;
  height: 45px;
  width: 300px;
}
.INPUT input:focus {
  outline: none;
}

.SELECT {
  font-size: 2.5rem;
  position: relative;
  color: #34424F;
}
.SELECT select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../img/chevron-down.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  font-family: "Noto Sans";
  font-size: 2rem;
  color: #34424F;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #9E9E9E;
  height: 45px;
  width: 300px;
}
.SELECT select:focus {
  outline: none;
}

.TEXTAREA {
  font-size: 2.5rem;
  color: #34424F;
}
.TEXTAREA textarea {
  font-family: "Noto Sans";
  font-size: 2rem;
  color: #34424F;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #9E9E9E;
}
.TEXTAREA textarea:focus {
  outline: none;
}

.BREAD {
  color: #34424F;
}
.BREAD a {
  display: initial;
  color: #34424F;
  text-decoration: none;
}

.BIG_TITLE {
  position: relative;
  color: #FFFFFF;
}
.BIG_TITLE::after {
  content: "";
  position: absolute;
  border: 2px solid #98C7CF;
  width: 59.6vw;
  bottom: 0;
  left: 280px;
}
.BIG_TITLE .BIG_TITLE_IMG {
  background-image: url(../../img/TITLE-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 100px;
  padding: 5px 20px;
  box-sizing: border-box;
}
.BIG_TITLE .BIG_TITLE_IMG h1 {
  text-align: left;
  padding-top: 10px;
}
.BIG_TITLE .BIG_TITLE_IMG p {
  padding-top: 5px;
  padding-left: 5px;
}

.SMALL_TITLE {
  border-bottom: 2px solid #34424F;
  margin: 0 70px;
}
.SMALL_TITLE h2 {
  color: #34424F;
}
.SMALL_TITLE span {
  margin-left: 10px;
}

.ARC_TITLE {
  font-size: 3.5rem;
  width: 80px;
  height: 80px;
  background-color: #F89F69;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  color: #FFFFFF;
}

.DOT {
  position: relative;
  width: 200px;
  height: 200px;
}
.DOT::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #FFFFFF 0%, #FFFFFF 20%, transparent 0%, transparent 100%);
  background-size: 17px 17px;
  background-position: 0 0;
}

.DOT1 {
  position: relative;
  width: 200px;
  height: 200px;
}
.DOT1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #FFFFFF 0%, #FFFFFF 20%, transparent 0%, transparent 100%);
  background-size: 17px 17px;
  background-position: 0 0;
}

.DOT2 {
  position: relative;
  width: 200px;
  height: 200px;
}
.DOT2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #FFFFFF 0%, #FFFFFF 20%, transparent 0%, transparent 100%);
  background-size: 17px 17px;
  background-position: 0 0;
}

.ALLOW {
  font-size: 40px;
  color: #33414E;
}

.APPOINTMENT {
  width: 100px;
  height: 300px;
  border-radius: 10px 0 0 10px;
  position: fixed;
  top: 50%;
  right: 0;
  background-color: #34424F;
  transform: translateY(-50%);
  z-index: 999;
  line-height: 100px;
  display: flex;
  align-items: center;
}
.APPOINTMENT > p {
  color: #FFFFFF;
  font-weight: 700;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 10px;
}

.CAROUSEL {
  background-image: url("../../img/HEADER-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.CAROUSEL .MASTER_VISION {
  background-image: url("../../img/header/victor-grabarczyk-N04FIfHhv_k-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 250px 0 0 0;
  width: 87.5%;
  height: 830px;
  float: right;
  margin-top: 105px;
  animation: image_carousel 30s ease-in-out infinite;
}
.CAROUSEL .MASTER_VISION > img {
  width: 100%;
  height: 830px;
}

@keyframes image_carousel {
  0% {
    background-image: url("../../img/header/victor-grabarczyk-N04FIfHhv_k-unsplash.jpg");
  }
  20% {
    background-image: url("../../img/header/leslie-low-0lzAa5raUso-unsplash.png");
  }
  40% {
    background-image: url("../../img/header/flouffy-7hEXd9kYPCY-unsplash.jpg");
  }
  60% {
    background-image: url("../../img/header/alicja-gancarz-e3EHK9pzmLU-unsplash.jpg");
  }
  80% {
    background-image: url("../../img/header/peri-stojnic-5Vr_RVPfbMI-unsplash.jpg");
  }
  100% {
    background-image: url("../../img/header/victor-grabarczyk-N04FIfHhv_k-unsplash.jpg");
  }
}
footer {
  display: flex;
  width: 100%;
  height: 326px;
  background: linear-gradient(258.59deg, #28333B 32.91%, #323F4B 61.97%);
  justify-content: space-between;
  position: relative;
}

.FOOTER_LOGO {
  margin-left: 11vw;
  margin-top: 8vh;
}

.FOOTER_LOGO > img {
  width: 25vw;
}

.FOOTER_ICON {
  position: absolute;
  bottom: 11%;
  right: 10%;
}

.FOOTER_ICON > a {
  display: inline-block;
}

.FOOTER_ICON > a > img {
  padding: 10px;
}

.FOOTER_BOTTOM {
  width: 100%;
  height: 100px;
  background-color: #252F3A;
}

.FOOTER_BOTTOM > p {
  color: white;
  text-align: center;
  line-height: 100px;
  font-weight: 400;
}

.HEADER_NAV {
  background-image: url("../../img/HEADER-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}
.HEADER_NAV > img {
  width: 12.5%;
  position: absolute;
  top: 0;
  left: 0;
}
.HEADER_NAV:hover img[src="img/V-HEADER-LOGO.svg"] {
  opacity: 0;
  transition: all 0.1s;
}
.HEADER_NAV > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20%;
}
.HEADER_NAV > ul > li > a {
  text-decoration: none;
  margin: 20px 0;
  color: #FFFFFF;
  display: block;
}
.HEADER_NAV > ul > li > a:hover {
  color: #34424F;
}
.HEADER_NAV > ul > li > a > span {
  font-size: 2.5rem;
  font-weight: 700;
}
.HEADER_NAV > ul > li > a > i {
  font-size: 2.5rem;
}
.HEADER_NAV > ul > li > a .bi-person-fill {
  margin-right: 10px;
}

.FOOTER_NAV > ul {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 16.6vw;
  margin-top: 2.5vh;
}
.FOOTER_NAV > ul > li {
  padding: 2px 30px;
  width: 100px;
}
.FOOTER_NAV > ul > li > a {
  text-decoration: none;
  margin: 20px 0;
  color: #FFFFFF;
}
.FOOTER_NAV > ul > li > a:hover {
  opacity: 0.3;
}
.FOOTER_NAV > ul > li > a > span {
  font-size: 2.5rem;
  font-weight: 500;
}

.BACK_NAV {
  background-image: url("../../img/HEADER-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.BACK_NAV > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 22.5vh;
}
.BACK_NAV:hover img[src="img/BACK-LOGO.svg"] {
  opacity: 0;
  transition: all 0.1s;
}
.BACK_NAV ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 22.5vh;
}
.BACK_NAV ul > li > a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #34424F;
  display: block;
  margin: 0 40px;
}
.BACK_NAV ul > li > a:hover {
  color: #FFFFFF;
}
.BACK_NAV ul > li > a > i {
  margin-right: 10px;
}

.BACK_MAIN_CONTENT_LEFT {
  width: 18%;
  background-color: #EBE3DD;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_TOP {
  background-color: #EEEEEE;
  padding: 10px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_TOP select {
  width: 100%;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_TOP h3 {
  color: #34424F;
  margin: 20px 0;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_TOP h3:nth-of-type(2) {
  align-self: flex-end;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_TOP span {
  font-size: 6rem;
  font-weight: 700;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_TOP .BTN_BACK {
  text-align: left;
  width: 100%;
  margin: 0 0 15px;
  padding: 0 20px;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_TOP .BTN_BACK .bi-arrow-right-circle {
  position: absolute;
  right: 20px;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_BUTTON {
  background-color: #EBE3DD;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_BUTTON ul li a {
  font-size: 2.5rem;
  text-decoration: none;
  line-height: 80px;
  color: #34424F;
  display: block;
  position: relative;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_BUTTON ul li a:hover {
  background-color: #FFFFFF;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_BUTTON ul li a > i:first-of-type {
  margin-left: 10%;
  margin-right: 10px;
}
.BACK_MAIN_CONTENT_LEFT .ASIDE_BUTTON ul li a .bi-chevron-right {
  position: absolute;
  right: 10%;
}

.ABOUT .BACKGROUND {
  position: relative;
}
.ABOUT .CAROUSEL {
  position: relative;
}
.ABOUT .DOT {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 30px;
  bottom: 40px;
  z-index: 10;
}
.ABOUT .BREAD {
  padding-top: 30px;
}
.ABOUT .ABOUTUS_TITLE {
  position: relative;
  color: #FFFFFF;
  z-index: 10;
  margin-top: 50px;
  margin-bottom: 40px;
}
.ABOUT .ABOUTUS_TITLE .ABOUTUS_TITLE_IMG {
  background-image: url(../../img/TITLE-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 100px;
  padding: 5px 20px;
  box-sizing: border-box;
}
.ABOUT .ABOUTUS_TITLE .ABOUTUS_TITLE_IMG h1 {
  text-align: left;
  padding-top: 10px;
}
.ABOUT .ABOUTUS_TITLE .ABOUTUS_TITLE_IMG p {
  padding-top: 5px;
  padding-left: 5px;
}
.ABOUT .FAKE_HIGH {
  height: 75.4vh;
}
.ABOUT .ABOUT_BG > img {
  width: 100%;
  position: absolute;
  top: 145px;
}
.ABOUT .SMALL_TITLE {
  display: flex;
  padding-bottom: 10px;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 70px;
  position: relative;
}
.ABOUT .SMALL_TITLE > h2 {
  z-index: 10;
}
.ABOUT .DOT {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -120px;
  bottom: 0;
  z-index: 0;
}
.ABOUT .CLINIC_PROFILE {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1150px;
}
.ABOUT .CLINIC_PROFILE > img {
  float: left;
}
.ABOUT .LOCATION_WRAPPER {
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
}
.ABOUT .LOCATION_LEFT {
  width: 50%;
}
.ABOUT .LOCATION_RIGHT {
  width: 50%;
  padding-left: 30px;
}
.ABOUT .LOCATION_LOGO {
  margin-bottom: 20px;
}
.ABOUT .LOCATION_INFORMATION {
  display: flex;
  padding: 10px 0;
}
.ABOUT .LOCATION_INFORMATION > i {
  font-size: 35px;
  color: #34424F;
  padding-right: 15px;
}
.ABOUT .LOCATION_INFORMATION > p {
  line-height: 35px;
  color: #34424F;
}
.ABOUT .LOCATION_TIMETABLE {
  margin-top: 20px;
}
.ABOUT .LOCATION_TIMETABLE > img {
  border-radius: 10px;
}

/* 下方內容 */
.BACK_MAIN_CONTENT {
  display: flex;
}

/* 下方右側 */
.BACK_MAIN_CONTENT_RIGHT {
  width: 82%;
  padding: 55px 65px;
}

/* --------病歷搜尋表單---------- */
.MEDICAL_RECORD_SEARCH {
  width: 74%;
  margin: 0 auto;
}
.MEDICAL_RECORD_SEARCH ul {
  margin-top: 85px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: end;
  padding: 0;
}
.MEDICAL_RECORD_SEARCH ul input {
  width: 100%;
}
.MEDICAL_RECORD_SEARCH p {
  width: 5%;
  margin-bottom: 20px;
}

.MEDICAL_RECORD_SEARCH li:nth-child(1) {
  width: 20%;
}

.MEDICAL_RECORD_SEARCH li:nth-child(2) {
  width: 20%;
}

.MEDICAL_RECORD_SEARCH li:nth-child(3) {
  width: 14%;
}

.MEDICAL_RECORD_SEARCH li:nth-child(5) {
  width: 14%;
}

.BTN_BACK {
  width: 200px;
  margin: 0 auto;
  display: block;
}

/* 病歷搜尋結果 */
.MEDICAL_RECORD_TABLE_ALL {
  width: 74%;
  margin: 0 auto 75px;
  border: 1px solid black;
  border-radius: 10px;
}
.MEDICAL_RECORD_TABLE_ALL ul {
  display: flex;
  font-size: 2.5rem;
}

.BACK_TABLE_TITLE {
  background-color: #CB5656;
  color: #FFFFFF;
  height: 55px;
  text-align: center;
  line-height: 55px;
  outline: 2px solid #CB5656;
  border-radius: 10px 10px 0 0;
}

.BACK_TABLE_CONTENT {
  color: #34424F;
  text-align: center;
  line-height: 80px;
  height: 80px;
}
.BACK_TABLE_CONTENT li {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.MEDICAL_RECORD_TABLE_ALL li:nth-child(1) {
  width: 20%;
}

.MEDICAL_RECORD_TABLE_ALL li:nth-child(2) {
  width: 17%;
}

.MEDICAL_RECORD_TABLE_ALL li:nth-child(3) {
  width: 17%;
}

.MEDICAL_RECORD_TABLE_ALL li:nth-child(4) {
  width: 30%;
}

.MEDICAL_RECORD_TABLE_ALL li:nth-child(5) {
  width: 8%;
}

.MEDICAL_RECORD_TABLE_ALL li:nth-child(6) {
  width: 8%;
  border-right: none;
}

/*----------新增病歷----------*/
.ADD_MEDICAL_RECORD {
  width: 55%;
  margin: 0 auto;
}

.ADD_MEDICAL_RECORD_FORM {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  margin-top: 85px;
  margin-bottom: 70px;
}
.ADD_MEDICAL_RECORD_FORM p {
  margin: 10px 0;
}
.ADD_MEDICAL_RECORD_FORM input {
  width: 100%;
}
.ADD_MEDICAL_RECORD_FORM select {
  width: 100%;
}

.ADD_MEDICAL_RECORD_FORM li:nth-child(1) {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.ADD_MEDICAL_RECORD_FORM li:nth-child(8) {
  flex-basis: 100%;
}

.ADD_MEDICAL_RECORD_FORM li:nth-child(9) {
  flex-basis: 100%;
}

.ADD_MEDICAL_RECORD_FORM li {
  width: 45%;
}

textarea {
  width: 100%;
}

/* 上傳檔案input */
.FILEBOX {
  position: relative;
  font-size: 2.5rem;
  color: #34424F;
  /* 檔案名稱 */
  /* 選取檔案按鈕 */
  /* 隱藏原按鈕 */
}
.FILEBOX .FILENAME {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  height: 45px;
  font-size: 2rem;
  color: #34424F;
  border: 1px solid #9E9E9E;
  margin: 10px 0;
}
.FILEBOX .FILEBUTTON {
  background-color: #D9D9D9;
  width: 145px;
  height: 45px;
  padding: 10px;
  border: 0;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 35px;
  right: 0px;
  cursor: pointer;
}
.FILEBOX .FILE {
  width: 145px;
  height: 45px;
  position: absolute;
  top: 24px;
  right: -12px;
  cursor: pointer;
  /* filter:alpha( opacity : 0); */
  opacity: 0;
}

.BTN_BOX {
  display: flex;
}

/*----------會員管理區塊---------*/
/* 會員管理 */
.MEMBER_PROFILE {
  width: 76.5%;
  margin: 85px auto 50px;
}

.BACK_BANNER {
  width: 100%;
  height: 60px;
  background-color: #CB5656;
  color: white;
  font-size: 30px;
  line-height: 60px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
}

.MEMBER_PROFILE_SEARCH {
  width: 75%;
  margin: 70px auto 50px;
}
.MEMBER_PROFILE_SEARCH ul {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MEMBER_PROFILE_SEARCH ul input {
  width: 100%;
}
.MEMBER_PROFILE_SEARCH ul p {
  color: #34424F;
}

.MEMBER_PROFILE_SEARCH li:nth-child(1) {
  width: 28%;
}

.MEMBER_PROFILE_SEARCH li:nth-child(2) {
  width: 3%;
}

.MEMBER_PROFILE_SEARCH li:nth-child(3) {
  width: 28%;
}

.MEMBER_PROFILE_TABLE {
  width: 86%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}
.MEMBER_PROFILE_TABLE ul {
  display: flex;
  font-size: 2.5rem;
}

.MEMBER_PROFILE_TABLE li:nth-child(1) {
  width: 19%;
}

.MEMBER_PROFILE_TABLE li:nth-child(2) {
  width: 19%;
}

.MEMBER_PROFILE_TABLE li:nth-child(3) {
  width: 33%;
}

.MEMBER_PROFILE_TABLE li:nth-child(4) {
  width: 7%;
}

.MEMBER_PROFILE_TABLE li:nth-child(5) {
  width: 7%;
}

.MEMBER_PROFILE_TABLE li:nth-child(6) {
  width: 15%;
  border-right: none;
}

/* 寵物搜尋 */
.PET_PROFILE {
  width: 76.5%;
  margin: 100px auto 0;
}

.PET_PROFILE_SEARCH {
  width: 75%;
  margin: 70px auto 50px;
}
.PET_PROFILE_SEARCH ul {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.PET_PROFILE_SEARCH ul input {
  margin-bottom: 0;
  width: 100%;
}
.PET_PROFILE_SEARCH ul select {
  width: 100%;
}

.PET_PROFILE_SEARCH li:nth-child(1) {
  width: 28%;
}

.PET_PROFILE_SEARCH li:nth-child(2) {
  width: 28%;
}

/* 寵物搜尋結果 */
.PET_PROFILE_TABLE {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}
.PET_PROFILE_TABLE ul {
  display: flex;
  font-size: 2.5rem;
}

.PET_PROFILE_TABLE li:nth-child(1) {
  width: 23%;
}

.PET_PROFILE_TABLE li:nth-child(2) {
  width: 20%;
}

.PET_PROFILE_TABLE li:nth-child(3) {
  width: 23%;
}

.PET_PROFILE_TABLE li:nth-child(4) {
  width: 20%;
}

.PET_PROFILE_TABLE li:nth-child(5) {
  width: 7%;
}

.PET_PROFILE_TABLE li:nth-child(6) {
  width: 7%;
  border-right: none;
}

.INDEX .BIG_TITLE {
  padding-top: 100px;
  position: relative;
}
.INDEX .HIPPO_TURTLE1 {
  position: absolute;
  width: 80px;
  bottom: 0;
  right: 25vw;
}
.INDEX .HIPPO_TURTLE2 {
  position: absolute;
  width: 120px;
  bottom: 0;
  right: 16vw;
}
.INDEX .HIPPO_TURTLE3 {
  position: absolute;
  width: 160px;
  bottom: 0;
  right: 5vw;
}
.INDEX .DINO_RABBIT {
  position: absolute;
  width: 120px;
  bottom: 4px;
  left: 25vw;
  display: block;
  animation: walk 5s alternate infinite;
}
@keyframes walk {
  0% {
    left: 25vw;
  }
  100% {
    left: 60vw;
  }
}
.INDEX .BACKGROUND {
  position: relative;
}
.INDEX .CAROUSEL {
  position: relative;
}
.INDEX .DOT {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 30px;
  bottom: 40px;
  z-index: 10;
}
.INDEX .DOT1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}
.INDEX .DOT2 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0px;
  top: 5px;
  z-index: 10;
}
.INDEX .CONSULTATION_UL {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 120px;
}
.INDEX .CONSULTATION_ITEM {
  padding: 0 90px;
}
.INDEX .TOPBACKGROUND_1, .INDEX .TOPBACKGROUND_2, .INDEX .TOPBACKGROUND_3 {
  width: 293px;
  height: 55px;
  background-color: #98C7CF;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.INDEX .TOPBACKGROUND_1::after {
  content: "第一診間";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 800;
  font-size: 20px;
  color: white;
  width: 182px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 100px;
  background-color: #F89F69;
}
.INDEX .TOPBACKGROUND_2::after {
  content: "第二診間";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 800;
  font-size: 20px;
  color: white;
  width: 182px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 100px;
  background-color: #F89F69;
}
.INDEX .TOPBACKGROUND_3::after {
  content: "第三診間";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 800;
  font-size: 20px;
  color: white;
  width: 182px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 100px;
  background-color: #F89F69;
}
.INDEX .CONSULTATIONCARD {
  width: 293px;
  height: 296px;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.INDEX .CONSULTATIONCARD > p {
  padding: 20px 0;
  font-weight: 500;
}
.INDEX .CONSULTATIONCARD .CONSULTATION_NUM {
  font-size: 80px;
  font-weight: 700;
  color: #F89F69;
}
.INDEX .INFORMATION_CARD {
  padding-top: 50px;
}
.INDEX .BTN_WRAAPER {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}
.INDEX .BTN {
  width: 320px;
}
.INDEX .Services_UL {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.INDEX .Services_ITEM {
  padding: 0 40px;
  text-align: center;
}
.INDEX .Services_ITEM > img {
  border-radius: 80px 10px 80px 10px;
}
.INDEX .Services_ITEM h3 {
  padding-top: 30px;
  padding-bottom: 15px;
}
.INDEX .FEATURE_WRAPPER {
  display: flex;
}
.INDEX .FEATURE_LEFT {
  margin-bottom: 120px;
}
.INDEX .FEATURE_ITEM {
  display: flex;
  justify-content: space-between;
}
.INDEX .FEATURE_ITEM:first-child {
  padding-top: 100px;
  padding-bottom: 90px;
}
.INDEX .FEATURE_ITEM:nth-child(2) {
  padding-bottom: 90px;
}
.INDEX .FEATURE_ITEM:nth-child(3) {
  padding-bottom: 90px;
}
.INDEX .FEATURE_ITEM:last-child {
  padding-bottom: 100px;
}
.INDEX .FEATURE_ITEM p {
  line-height: 160%;
  padding: 0 50px;
  font-weight: 500;
  text-align: justify;
}
.INDEX .FEATURE_RIGHT > img {
  border-radius: 100px 0 0 100px;
}
.INDEX .ARC_TITLE {
  min-width: 80px;
  min-height: 80px;
}
.INDEX .CORE_CONTENT {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.INDEX .LOCATION_WRAPPER {
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
}
.INDEX .LOCATION_LEFT {
  width: 50%;
}
.INDEX .LOCATION_RIGHT {
  width: 50%;
  padding-left: 30px;
}
.INDEX .LOCATION_LOGO {
  margin-bottom: 20px;
}
.INDEX .LOCATION_INFORMATION {
  display: flex;
  padding: 10px 0;
}
.INDEX .LOCATION_INFORMATION > i {
  font-size: 35px;
  color: #34424F;
  padding-right: 15px;
}
.INDEX .LOCATION_INFORMATION > p {
  line-height: 35px;
  color: #34424F;
}
.INDEX .LOCATION_TIMETABLE {
  margin-top: 20px;
}
.INDEX .LOCATION_TIMETABLE > img {
  border-radius: 10px;
}

section {
  background-image: url(../../img/BG.jpg);
}

.SHOPPING .SHOPPING_MASTERVISION {
  background-image: url("/img/shopping/SHOPPING_MASTERVISION_01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 250px 0 0 0;
  width: 87.5%;
  height: 830px;
  float: right;
  margin-top: 105px;
  animation: image 30s ease-in-out infinite;
}
.SHOPPING .SHOPPING_MASTERVISION img {
  width: 100%;
  height: 830px;
}
.SHOPPING .DOT {
  position: absolute;
  width: 425px;
  height: 425px;
  right: 0px;
  bottom: -120px;
  z-index: 10;
}
.SHOPPING .SHOPPINGBG {
  background-image: url("../../img/shopping/SHOPPING_BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.SHOPPING .BREAD {
  padding-top: 55px;
}
.SHOPPING .BIG_TITLE {
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 40px;
}
.SHOPPING .BIG_TITLE::after {
  width: 0px;
  border: 0px;
}
.SHOPPING .SHOPPINGHOT {
  background-image: url(/img/shopping/SHOPPINGHOT_BG.png);
  width: 100%;
  height: 737px;
}
.SHOPPING .SMALL_TITLE {
  margin: 0 auto;
  padding-top: 45px;
}
.SHOPPING .SHOPPINGCARDAREA_UL {
  display: flex;
  justify-content: space-around;
}
.SHOPPING .SHOPPINGCARDBTN {
  margin-top: 60px;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.SHOPPING .SHOPPINGSELECT {
  box-sizing: border-box;
  padding: 0 135px;
  padding-top: 130px;
}
.SHOPPING .SELECT {
  margin-right: 60px;
}
.SHOPPING .SELECTOP {
  width: 350px;
  font-weight: 600;
}
.SHOPPING select option {
  color: #34424F;
  font-weight: 600;
}
.SHOPPING ::-moz-placeholder {
  color: #34424F;
  font-weight: 600;
}
.SHOPPING ::placeholder {
  color: #34424F;
  font-weight: 600;
}
.SHOPPING .SEARCH_ALL {
  position: relative;
  display: inline-block;
  width: 63%;
}
.SHOPPING .SHOPPINGSELECT_SEARCH {
  width: 100%;
  font-weight: 500;
}
.SHOPPING .SEARCHBTN_ALL {
  position: absolute;
  top: 16%;
  right: 0px;
  z-index: 10;
  width: 20%;
}
.SHOPPING .SEARCHICON {
  font-size: 2rem;
  color: #FFF;
  z-index: 5;
  margin-right: 10px;
}
.SHOPPING .SEARCHBTN {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 2rem;
  border-radius: 0px 10px 10px 0px;
  position: relative;
}
.SHOPPING .SHOPPINGITEM {
  box-sizing: border-box;
  padding: 0 135px;
  padding-top: 100px;
}
.SHOPPING .SHOPPINGITEM_UL {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.SHOPPING .SHOPPINGITEM .SHOPPINGCARD {
  margin-bottom: 50px;
}
.SHOPPING .PGAENUMBER {
  padding-top: 120px;
  margin-bottom: 335px;
  display: flex;
  justify-content: center;
}
.SHOPPING .PGAENUMBER span {
  width: 25px;
}
.SHOPPING .PGAENUMBER span:hover {
  border-bottom: 2px solid #34424F;
}
.SHOPPING .PGAENUMBER span > img {
  margin: 0 auto;
  height: 25px;
}
.SHOPPING .PAGEBTN {
  width: 12px;
  cursor: pointer;
}
.SHOPPING .PGAENUMBER p {
  display: block;
  width: 50px;
  margin: 0 10px;
  color: #34424F;
  cursor: pointer;
  text-align: center;
}
.SHOPPING .PGAENUMBER p:hover {
  text-decoration: underline;
}
.SHOPPING .LEFT {
  transform: rotate(180deg);
  margin-right: 20px;
  padding-right: 25%;
}
.SHOPPING .RIGHT {
  margin-left: 20px;
  padding-left: 25%;
}

.SHOPPINGLIST {
  background-image: url("../../img/shopping_list/SHOPPING_LIST_BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.SHOPPINGLIST .BREAD {
  padding-top: 361px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_SMALLIMG {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8.5%;
  margin-right: 10px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_SMALLIMG img {
  cursor: pointer;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_BIGIMG {
  overflow: hidden;
  border-radius: 10px 80px 10px 10px;
  position: relative;
  cursor: pointer;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_BIGIMG:hover .SHOPPINGLIST_MAGNIFIER {
  background-image: url(/img/shopping_list/magnifier_hover.png);
  width: 90px;
  height: 90px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_BIGIMG .SHOPPINGLIST_MAGNIFIER {
  transform: scale(0.8);
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_BIGIMG .SHOPPINGLIST_IMG {
  height: 100%;
  background-color: #fff;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_BIGIMG .SHOPPINGLIST_IMG img {
  display: block;
  margin: 0 auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT h2 {
  color: #34424F;
  line-height: 58px;
  margin-bottom: 45px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT h1 {
  color: #D13333;
  margin-bottom: 53px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT h3 {
  color: #34424F;
  margin-bottom: 20px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .ITEMCOUNT_BTN {
  margin-bottom: 20px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .SHOPPINGLIST_CARTBTN {
  margin-bottom: 40px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .SHOPPINGLIST_CARTBTN .BTN {
  width: 100%;
  background: linear-gradient(180deg, #FF965C 0%, #DC643E 100%);
  font-weight: 700;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .SHOPPINGLIST_CARTBTN .BTN:hover {
  background: linear-gradient(180deg, #DC643E 0%, #f48347 100%);
  color: #FFFFFF;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .SHOPPINGLIST_SHARE {
  display: flex;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .SHOPPINGLIST_SHARE p {
  margin-right: 20px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .SHOPPINGLIST_SHARE a {
  display: inline-block;
  margin-right: 20px;
  width: 25px;
}
.SHOPPINGLIST .SHOPPINGLIST_TOP .SHOPPINGLIST_TOPTEXT .SHOPPINGLIST_SHARE a img {
  display: inline-block;
  width: 100%;
}
.SHOPPINGLIST .SHOPPINGHOT {
  width: 100%;
  margin-bottom: 70px;
}
.SHOPPINGLIST .SMALL_TITLE {
  margin: 0 auto;
}
.SHOPPINGLIST .SHOPPINGCARDAREA_UL {
  display: flex;
  justify-content: space-around;
}
.SHOPPINGLIST .SHOPPINGLIST_CONTENT {
  margin-bottom: 335px;
}
.SHOPPINGLIST .SHOPPINGLIST_CONTENT .SMALL_TITLE {
  margin-bottom: 40px;
}
.SHOPPINGLIST .SHOPPINGLIST_CONTENT p {
  white-space: pre-wrap;
  line-height: 40px;
  color: #34424F;
  margin-bottom: 40px;
}
.SHOPPINGLIST .SHOPPINGLIST_CONTENT p b {
  font-weight: bold;
}

/* 前後台登入頁 */
.WEB_LOGIN {
  background-image: url(/img/HEADER-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.WEB_LOGIN main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.WEB_LOGIN main .FRONT {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.WEB_LOGIN main .BACK {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BACKEND {
  display: none;
  height: 100vh;
  width: 100%;
}
.BACKEND .BACKEND_LOGIN {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 73%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BACKEND .BACKEND_LOGIN .LEFT_LOGO {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 85%;
  background-color: #CB5656;
  border-radius: 30px 0 0 30px;
}
.BACKEND .BACKEND_LOGIN .LEFT_LOGO img {
  display: block;
  margin: 0 auto;
  width: 55%;
}
.BACKEND .RIGHT_LOGIN {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 85%;
  background-color: #EBE3DD;
  border-radius: 0 30px 30px 0;
}
.BACKEND .RIGHT_LOGIN .INPUT {
  display: block;
}
.BACKEND .RIGHT_LOGIN .INPUT input {
  width: 350px;
  margin: 10px 0;
}
.BACKEND .RIGHT_LOGIN .BTN_BACK {
  margin: 70px 5px 0;
  width: 163px;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */