// header nav 設定
.HEADER_NAV {
    background-image: url('../../img/HEADER-BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 99;

    .HEADER_UL {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .HEADER_LI {

            .HEADER_A {
                text-decoration: none;
                font-size: $bread;
                margin:20px 80px 20px 0;
                color: $white;

                &:hover{
                    color: $blueblack;
                }

                .HEADER_SPAN {
                    font-size: $p;
                    font-weight: 700;
                }

                .HEADER_I{
                    font-size: $p;
                }

                // 登入登出icon
                .bi-person-fill{
                    margin-right: 10px;
                }
            }
        }
    }
}

// footer nav 設定

