//header nav設定

.M_HEADER_NAV {
    display: none;
}

.M_FUNTION {
    display: none;
}

.HEADER_NAV_SHADOW {
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
}

.HEADER_NAV {
    background-image: url("../../img/HEADER-BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    transition: all 0.3s ease;



    a {

        .HEADERLOGO_BG_BOX {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $red;
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease;

            &:hover .HEADERLOGO_PAW .HEADERLOGO_CLAWS {
                top: 0;
            }

            .HEADERLOGO_PAW {
                margin: 10px auto;
                position: absolute;
                top: 0px;
                left: 45px;
                z-index: 1;
                transition: all 0.3s ease;
            }

            .HEADERLOGO_CLAWS {
                position: absolute;
                top: 45px;
                left: 0px;
                z-index: -1;
                transition: all 0.3s ease;

            }

            .HEADER_LOGO_NAME {
                position: absolute;
                top: 220px;
                left: 45px;
                margin: 10px auto;
                margin-top: 0;
                transition: all 0.3s ease;

            }

            // HEADER_LOGO_形變
            .HEADERLOGO_S {
                top: -60px;
                left: -40px;
                transform: scale(.4);
            }

            .HEADERNAME_S {
                top: 20px;
                left: 80px;
                transform: scale(.8);
            }


        }

        // HEADER_LOGO_BG形變
        .HEADERLOGE_BG_TOP {
            width: 260px;
            height: 360px;
            border-radius: 0 0 125px 0;
        }

        .HEADERLOGE_BG_SCROLL {
            width: 260px;
            height: 105px;
            border-radius: 0 0 50px 0;
        }


    }




    >ul {
        // width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 20%;

        >li {

            >a {
                text-decoration: none;
                margin: 20px 0;
                color: $white;
                display: block;

                &:hover {
                    color: $blueblack;
                }

                >span {
                    font-size: $p;
                    font-weight: 700;
                    line-height: 1.35;
                    // @include m{
                    //     font-size: $littleword;
                    // }
                }

                >i {
                    font-size: $p;
                    // @include m{
                    //     font-size: $littleword;
                    // }
                }

                // 登入登出icon
                .bi-person-fill {
                    margin-right: 10px;

                }
            }
        }
    }
}

//footer nav設定
.FOOTER_NAV {
    @include m() {
        margin-bottom: 200px;
    }

    >ul {

        display: flex;
        width: 360px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 16.6vw;
        margin-top: 2.5vh;

        >li {
            padding: 2px 30px;
            width: 100px;

            >a {
                text-decoration: none;
                margin: 20px 0;
                color: $white;


                &:hover {
                    opacity: .3;
                }

                >span {
                    font-size: $p;
                    font-weight: 500;
                    // @include m{
                    //     font-size: $littleword;
                    // }

                }

            }

        }

    }

}

.BACK_NAV {


    transition: all 0.3s ease;
    background-image: url("../../img/HEADER-BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    // position: fixed;
    // z-index: 99;
    // top: 0;

    a {

        >img {
            position: absolute;
            top: 0;
            left: 0;
            height: 22.5vh;
        }

        &:hover img[src="img/BACK-LOGO.svg"] {
            opacity: 0;
            transition: all .1s;
        }

    }



    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 22.5vh;

        >li {

            >a {
                font-size: $p;
                text-decoration: none;
                color: $blueblack;
                display: block;
                margin: 0 40px;

                &:hover {
                    color: $white;
                }

                >i {
                    margin-right: 10px;
                }
            }
        }
    }
}







//=============================================================
// 手機版414px
@mixin m() {
    @media screen and (max-width: 414px) {
        @content;
    }
}

@include m {

    .HEADER_NAV {
        display: none;
    }

    //header nav設定
    header .M_HEADER_NAV_BG_ACTIVE {
        height: 100vh;
        background: linear-gradient(160deg, rgb(243, 145, 85, .9) 0%, rgb(228, 170, 123, .9) 40%, rgba(126, 184, 196, 0.9) 80%, rgba(126, 184, 196, 0.8) 100%);
        transition: all 0.3s ease;
    }

    // 導覽列底色
    .M_HEADER_NAV_BG {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 90;
        height: 92px;
        width: 100%;
        background: rgba(255, 255, 255, 0);
        transition: all 0.3s ease;

    }

// 導覽列底色啟動
    .M_HEADER_BG_ACTIVE {
        background: rgba(255, 255, 255, .3)
    }

    .M_HEADER_NAV {
        display: block;
        // background: rgba(255, 255, 255, 0);
        position: fixed;
        height: 0;
        width: 100%;
        top: 0;
        z-index: 99;
        transition: all 1s ease;

        // 點擊時底色拉滿







        >a {

            .M_HEADERLOGO_BG_BOX {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $red;
                display: flex;
                flex-direction: column;
                transition: all 0.3s ease;


                img {
                    width: 42px;

                }

                .M_HEADERLOGO_PAW {
                    margin: 0;
                    position: absolute;
                    top: 5px;
                    left: 13px;
                    z-index: 1;
                    transition: all 0.3s ease;

                }

                .M_HEADERLOGO_CLAWS {
                    display: none;

                }

                .M_HEADER_LOGO_NAME {
                    position: absolute;
                    top: 55px;
                    left: 12px;
                    margin: 10px auto;
                    margin-top: 0;
                    transition: all 0.4s ease;

                }

                // HEADER_LOGO_形變
                .M_HEADERLOGO_S {
                    top: 17px;
                    left: 20px;
                    transform: scale(1.1);
                }

                .M_HEADERNAME_S {
                    top: 41px;
                    left: 102px;
                    transform: scale(2.2);
                }


            }

            // HEADER_LOGO_BG形變
            .M_HEADERLOGE_BG_TOP {
                width: 74px;
                height: 92px;
                border-radius: 0 0 45px 0;
            }

            .M_HEADERLOGE_BG_SCROLL {
                width: 188px;
                height: 92px;
                border-radius: 0 0 30px 0;
            }


        }

        >ul {
            display: none;
            height: 100vh;
            padding-top: 90px;
            background: linear-gradient(160deg, rgb(243, 145, 85, .9) 0%, rgb(228, 170, 123, .9) 40%, rgba(126, 184, 196, 0.9) 80%, rgba(126, 184, 196, 0.8) 100%);


            >li {

                display: flex;
                justify-content: center;
                position: relative;
                padding-bottom: 15px;

                >a {
                    text-decoration: none;
                    margin: 20px 0;
                    color: $white;
                    display: block;
                    font-size: 15px;

                    >span {
                        font-size: $p;
                        font-weight: 700;
                        line-height: 1.35;
                        letter-spacing: .1em;

                    }

                }

                .LOGIN_SHOPPING {
                    width: 130px;
                    display: flex;
                    justify-content: space-between;

                    // border: 1px solid;
                    .LOGIN {
                        font-size: $p;
                        color: $white;
                    }

                    i {
                        font-size: $p;
                        color: $white;
                    }
                }

                .RESERVE {

                    background: $linear-orange;
                    font-size: $p;
                    border-radius: 10px;
                    font-weight: 700;
                    text-align: center;
                    line-height: 50px;
                    width: 90%;
                    height: 50px;
                    cursor: pointer;


                }
            }

            >li:nth-child(1)::after,
            li:nth-child(2)::after,
            li:nth-child(3)::after,
            li:nth-child(4)::after,
            li:nth-child(5)::after {
                content: "";
                position: absolute;
                display: block;
                color: $white;
                width: 120px;
                border: 1px solid;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%);

            }

            >li:nth-child(6) {
                padding-top: 20px;
            }





        }

    }





    // =============== RWD下方nav ============

    .M_FUNTION {
        display: block;
        position: fixed;
        z-index: 100;
        bottom: 0;

        ul {
            display: flex;
            justify-content: space-between;
            width: 100vw;
            height: 90px;
            background: linear-gradient(90deg, #F89F69 0%, #fc9a5e 40%, #A7CFD7 100%);


            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $white;
                text-align: center;
                padding: 0 15px;

                a {
                    //電話按鈕樣式
                    display: flex;
                    flex-direction: column;
                    color: $white;
                }

                i {
                    font-size: 25px;
                    padding-bottom: 15px;
                }

                .arrow {
                    font-size: 40px;
                }
            }
        }
    }
}