//header nav設定
.HEADER_NAV {
    background-image: url("../../img/HEADER-BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    
    a {
        
        img {
            width: 12.5%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover img[src="img/V-HEADER-LOGO.svg"] {
            opacity: 0;
            transition: all .1s;
        }

    }

    >ul {
        // width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 20%;

        >li {

            >a {
                text-decoration: none;
                margin: 20px 0;
                color: $white;
                display: block;

                &:hover {
                    color: $blueblack;
                }

                >span {
                    font-size: $p;
                    font-weight: 700;
                    line-height: 1.35;
                    // @include m{
                    //     font-size: $littleword;
                    // }
                }

                >i {
                    font-size: $p;
                    // @include m{
                    //     font-size: $littleword;
                    // }
                }

                // 登入登出icon
                .bi-person-fill {
                    margin-right: 10px;

                }
            }
        }
    }
}

//footer nav設定
.FOOTER_NAV {

    >ul {

        display: flex;
        width: 360px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 16.6vw;
        margin-top: 2.5vh;

        >li {
            padding: 2px 30px;
            width: 100px;

            >a {
                text-decoration: none;
                margin: 20px 0;
                color: $white;


                &:hover {
                    opacity: .3;
                }

                >span {
                    font-size: $p;
                    font-weight: 500;
                    // @include m{
                    //     font-size: $littleword;
                    // }

                }

            }

        }

    }

}

.BACK_NAV {
    background-image: url("../../img/HEADER-BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    // position: fixed;
    // z-index: 99;
    // top: 0;

    a {

        >img {
            position: absolute;
            top: 0;
            left: 0;
            height: 22.5vh;
        }

        &:hover img[src="img/BACK-LOGO.svg"] {
            opacity: 0;
            transition: all .1s;
        }

    }



    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 22.5vh;

        >li {

            >a {
                font-size: $p;
                text-decoration: none;
                color: $blueblack;
                display: block;
                margin: 0 40px;

                &:hover {
                    color: $white;
                }

                >i {
                    margin-right: 10px;
                }
            }
        }
    }
}







//=============================================================
// 手機版414px
@mixin m() {
    @media screen and (max-width: 414px) {
        @content;
    }
  }

@include m{
    //header nav設定
    .HEADER_NAV {
        background-image: url("");
        background: linear-gradient(160deg, rgb(243, 145, 85, .95) 0%,  rgba(255, 185, 114, 0.95) 40%, rgba(126, 184, 196, 0.8) 100%);
        z-index: 9999;
      
        & .RESERVE {
           
            margin: 0 auto;
         
    
        }
   

        >ul {
            height: 100vh;
            text-align: center;
            padding-left: 0;
            

            >li {
                
                padding: 5px 0;

            }
        }
    }
}