<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='css/style.css'>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="./img/shortcut_logo.png">
    <title>結帳完成 SHOPPING_CART - 波波動物醫院</title>
</head>

<body class="SHOPPINGCARTP3" id="SHOPPINGCART3VUE" onload="showMember()">

    <!-- =============== 共用元件 =============== -->

    <!-- ===== 會員彈窗 ===== -->
    <!-- user_popup -->
    @@include('./layout/user_popup.html')
    <!-- user_popup end -->

    <!-- =============== header =============== -->
    <!-- header -->
    @@include('./layout/header.html')
    <!-- header end -->

    <!-- =============== 網頁內容 =============== -->


    <section class="SHOPPINGCARTP3BG BACKGROUND">

        <div class="BG_CLOUDS">
            <div class="BG_CLOUD CLOUD_1">
                <img class="BG_CLOUD_IMG1" src="./img/CLOUD_BG.png" alt="">
            </div>
            <div class="BG_CLOUD CLOUD_2">
                <img class="BG_CLOUD_IMG2" src="./img/CLOUD_BG.png" alt="">
            </div>
        </div>

        <!-- ========================================================================= -->

        <section class="CART03_SLOGANALL WRAPPER">
            <span class="DINO ANI"></span>
        </section>

        <!-- ======================================麵包屑========================================== -->

        <section class="BREAD WRAPPER">
            <a href="homepage.html">首頁</a>
            /
            <a>購物車</a>
        </section>

        <!-- ====================================購物車第三步驟=========================================== -->
        <section class="SHOPPINGCART_STEP WRAPPER">
            <section class="SHOPPINGCART_STEPAREA--SUCCESS">
                <span>
                    <img src="./img/shopping_cart/pay_success.png" alt="">
                </span>
                <h1>購買成功</h1>
            </section>
            <section class="SHOPPINGCART_STEPAREA">
                <section class="SHOPPINGCART_ARCONE">
                    <div class="ARC_TITLE">1</div>
                    <p>購物車</p>
                </section>
                <section class="SHOPPINGCART_ARCTWO">
                    <div class="ARC_TITLE">2</div>
                    <p>填寫資料</p>
                </section>
                <section class="SHOPPINGCART_ARCTHREE">
                    <div class="ARC_TITLE">3</div>
                    <p>結帳成功</p>
                </section>
            </section>
        </section>

        <!-- ========================================價格商品明細================================================= -->

        <section class="SHOPPINGCARTP2_ORDER WRAPPER">
            <section class="SHOPPINGCARTP2_ORDERTEXT">
                <p>合計：NT$ {{this.total}}</p>
                <span>購物車:({{totalQuantity}}件)
                    <span class="SHOPPINGCARTP2_ORDERARR">
                        <img src="./img/shopping/🦆 icon _angle-right-b_.svg" alt="">
                    </span>
                </span>
            </section>

            <section class="SHOPPINGCART_ALLLIST">

                <section class="SHOPPINGCART_ITEMFORM ORDERITEM">
                    <section class="SHOPPINGCART_ITEMtitle">
                        <span class="ITEM_PRODUCT--W">商品</span>
                        <span class="ITEM_PRICE--W">單件價格</span>
                        <span class="ITEM_COUNT--W">數量</span>
                        <span class="ITEM_SUBTOTAL--W">小計</span>
                    </section>

                    <section class="SHOPPINGCART_ITEM" v-for="product in products" :key="product.PRODUCT_ID">
                        <section class="ITEM_PRODUCT ITEM_PRODUCT--W">
                            <section class="ITEM_PRODUCT--IMG">
                                <img :src="getFirstImagePath(product.IMG_SOURCE)" alt="">
                            </section>
                            <span>{{ product.PRODUCT_TITLE }}</span>
                        </section>
                        <section class="ITEM_PRICE ITEM_PRICE--W">
                            <p>NT＄{{ product.PRICE }}</p>
                        </section>
                        <section class="ITEM_COUNT ITEM_COUNT--W">
                            <span class="ITEM_COUNT--NUM">{{ product.ORDER_AMOUNT }}</span>
                        </section>
                        <section class="ITEM_SUBTOTAL ITEM_SUBTOTAL--W">
                            <p>NT＄{{ product.PRICE * product.ORDER_AMOUNT }}</p>
                        </section>
                    </section>

                    <!-- <section class="SHOPPINGCART_ITEM">
                        <section class="ITEM_PRODUCT ITEM_PRODUCT--W">
                            <section class="ITEM_PRODUCT--IMG">
                                <img src="./img/shopping_list/dryfood/09/dryfood_09_01.jpg" alt="">
                            </section>
                            <span>【SC星益生趣】無穀貓糧(鮭魚配方) 2.5磅/1.1kg</span>
                        </section>
                        <section class="ITEM_PRICE ITEM_PRICE--W">
                            <p>NT＄980</p>
                        </section>
                        <section class="ITEM_COUNT ITEM_COUNT--W">
                            <span class="ITEM_COUNT--NUM">1</span>
                        </section>
                        <section class="ITEM_SUBTOTAL ITEM_SUBTOTAL--W">
                            <p>NT＄980</p>
                        </section>
                    </section> -->
                </section>
            </section>

            <!-- ========================================手機板LIST================================================== -->

            <section class="SHOPPINGCART_ITEMLIST--M">
                <section class="SHOPPINGCART_ITEM--M" v-for="product in products" :key="product.PRODUCT_ID">
                    <section class="SHOPPINGCART_ITEMIMG--M">
                        <img :src="getFirstImagePath(product.IMG_SOURCE)" alt="">
                    </section>
                    <section class="SHOPPINGCART_ITEMWORD--M">
                        <section class="SHOPPINGCART_ITEMWORD--TOPM">
                            <section class="SHOPPINGCART_ITEMWORD--NAMEM">
                                <span>{{ product.PRODUCT_TITLE }}</span>
                            </section>

                        </section>
                        <section class="SHOPPINGCART_ITEMWORD--BOTTOMM">
                            <section class="SHOPPINGCART_ITEMWORD--COUNTM">
                                <span class="ITEM_COUNT--NUM">數量:{{ product.ORDER_AMOUNT }}</span>
                            </section>
                            <section class="SHOPPINGCART_ITEMWORD--PRICEM">
                                <p>NT＄{{ product.PRICE * product.ORDER_AMOUNT }}</p>
                            </section>
                        </section>
                    </section>
                </section>

                <!-- <section class="SHOPPINGCART_ITEM--M">
                    <section class="SHOPPINGCART_ITEMIMG--M">
                        <img src="./img/shopping_list/dryfood/09/dryfood_09_01.jpg" alt="">
                    </section>
                    <section class="SHOPPINGCART_ITEMWORD--M">
                        <section class="SHOPPINGCART_ITEMWORD--TOPM">
                            <section class="SHOPPINGCART_ITEMWORD--NAMEM">
                                <span>【SC星益生趣】無穀貓糧(鮭魚配方) 2.5磅/1.1kg</span>
                            </section>
                            <section class="SHOPPINGCART_ITEMWORD--DELM">
                                <i class="bi bi-trash3"></i>
                            </section>

                        </section>
                        <section class="SHOPPINGCART_ITEMWORD--BOTTOMM">
                            <section class="SHOPPINGCART_ITEMWORD--COUNTM">
                                <span class="ITEM_COUNT--NUM">數量:1</span>
                            </section>
                            <section class="SHOPPINGCART_ITEMWORD--PRICEM">
                                <p>NT＄980</p>
                            </section>
                        </section>
                    </section>
                </section> -->
            </section>


        </section>

        <!-- ================================訂單確認======================================= -->

        <section class="SHOPPINGCARTP3_CONFIRM WRAPPER">
            <section class="SHOPPINGCARTP3_CONFIRMTITLE">
                <span class="">訂單確認</span>
            </section>
            <section class="SHOPPINGCARTP3_CONFIRMZONE">

                <section class="SHOPPINGCARTP3_CONFIRM--T PL COL-6 RWD-COL-12 FIR">
                    <span>訂單資訊</span>
                    <section class="SHOPPINGCARTP3_CONFIRM--CONTENT">

                        <section class="SHOPPINGCARTP3_CONFIRM--TIT">
                            <span>訂單號碼:</span>
                            <span>電子信箱:</span>
                            <span>訂單日期:</span>
                            <span>訂單狀態:</span>
                        </section>
                        <section class="SHOPPINGCARTP3_CONFIRM--CON">
                            <span>230301N00130</span>
                            <span>{{ maskedEmail }}</span>
                            <span>{{this.createDate}}</span>
                            <span>{{this.orderState}}</span>
                        </section>

                    </section>
                </section>

                <section class="SHOPPINGCARTP3_CONFIRM--T PR COL-6 RWD-COL-12">
                    <span>會員資訊</span>
                    <section class="SHOPPINGCARTP3_CONFIRM--CONTENT">

                        <section class="SHOPPINGCARTP3_CONFIRM--TIT">
                            <span>會員名稱:</span>
                            <span>電話:</span>
                        </section>
                        <section class="SHOPPINGCARTP3_CONFIRM--CON">
                            <span>{{this.name}}</span>
                            <span>{{maskedPhoneNo}}</span>
                        </section>

                    </section>
                </section>
            </section>

            <section class="SHOPPINGCARTP3_CONFIRMZONE CONFIRMZONE_DOWN">
                <section class="SHOPPINGCARTP3_CONFIRM--T PL COL-6 RWD-COL-12">
                    <span>收件資訊</span>
                    <section class="SHOPPINGCARTP3_CONFIRM--CONTENT">

                        <section class="SHOPPINGCARTP3_CONFIRM--TIT">
                            <span>送貨方式:</span>
                            <span>送貨狀態:</span>
                            <span>門市名稱:</span>
                            <span>7-11店號:</span>
                            <span>收件人姓名:</span>
                            <span>收件人電話:</span>
                            <span>門市地址:</span>
                        </section>
                        <section class="SHOPPINGCARTP3_CONFIRM--CON">
                            <span>{{this.deliveryMethod}}</span>
                            <span>{{this.deliveryState}}</span>
                            <span>連通門市</span>
                            <span>163877</span>
                            <span>{{this.recipient}}</span>
                            <span>{{maskedrePhoneNo}}</span>
                            <span>新北市中和區圓通路293號</span>
                        </section>

                    </section>
                </section>

                <section class="SHOPPINGCARTP3_CONFIRM--T PR COL-6 RWD-COL-12">
                    <span>付款資訊</span>
                    <section class="SHOPPINGCARTP3_CONFIRM--CONTENT">

                        <section class="SHOPPINGCARTP3_CONFIRM--TIT">
                            <span>付款方式:</span>
                            <span>付款狀態:</span>
                        </section>
                        <section class="SHOPPINGCARTP3_CONFIRM--CON">
                            <span>{{this.paymentMethod}}</span>
                            <span>{{this.paymentState}}</span>
                        </section>

                    </section>
                </section>
            </section>

            <!-- ================================================================= -->
            <section class="SHOPPINGCARTP3_MEMO">
                <section>
                    <label for="memo" class="TEXTAREA">訂單備註<br>
                        <textarea id="memo" placeholder="有什麼想告訴賣家的..." class="TEXTAREA_CONTENT">{{this.orderComment}}</textarea>
                    </label>
                </section>
            </section>

            <!-- ========================================================================== -->

            <section class="SHOPPINGCARTP3_SENDMESSAGE">

                <div>
                    <button class="BTN" @click="submitMemo">送出留言</button>
                </div>

            </section>


        </section>
    </section>

    <!-- ===== TOP按鈕 ===== -->
    <!-- top_btn -->
    @@include('./layout/top_btn.html')
    <!-- top_btn end -->

    <!-- ===== footer ===== -->
    <!-- footer -->
    @@include('./layout/footer.html')
    <!-- footer end -->

    <script src="./js/vendors/vue/vue.global.js"></script>
    <script src="./js/shopping_cart3.js"></script>
    <script src="./js/top_btn.js"></script>
    <script src="./js/nav.js"></script>
    <script src="./js/user_popup.js"></script>
    <script src="./js/toggle.js"></script>

    <script>
        let a = 0
        $(function () {
            let viewport = $(window).width();
            if (viewport > 414) {
                $(function () {
                    $('.SHOPPINGCART_ALLLIST').hide();
                    $(".SHOPPINGCARTP2_ORDERTEXT").click(function () {
                        $(".SHOPPINGCART_ALLLIST").slideToggle("slow");
                        if (a === 0) {
                            $('.SHOPPINGCARTP2_ORDERARR').css({ transform: "rotate(-180deg)" });
                            a = 1;
                        } else {
                            $('.SHOPPINGCARTP2_ORDERARR').css({ transform: "rotate(0deg)" });
                            a = 0;
                        }
                    })
                })
            }
        })

        $(function () {
            let viewport = $(window).width();
            if (viewport <= 414) {
                $('.SHOPPINGCART_ITEMLIST--M').hide();
                $(".SHOPPINGCARTP2_ORDERTEXT").click(function () {
                    $(".SHOPPINGCART_ITEMLIST--M").slideToggle("slow");
                    if (a === 0) {
                        $('.SHOPPINGCARTP2_ORDERARR').css({ transform: "rotate(-180deg)" });
                        a = 1;
                    } else {
                        $('.SHOPPINGCARTP2_ORDERARR').css({ transform: "rotate(0deg)" });
                        a = 0;
                    }
                })

            }
        })
    </script>


</body>

</html>