<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='css/style.css'>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="./img/shortcut_logo.png">
    <title>填寫資料 SHOPPING_CART - 波波動物醫院</title>
</head>

<body class="SHOPPINGCARTP2" id="SHOPPINGCART2VUE" onload="showMember()">
    <!-- =============== 共用元件 =============== -->

    <!-- ===== 會員彈窗 ===== -->
    <!-- user_popup -->
    @@include('./layout/user_popup.html')
    <!-- user_popup end -->

    <!-- =============== header =============== -->
    <!-- header -->
    @@include('./layout/header.html')
    <!-- header end -->

    <!-- =============== 網頁內容 =============== -->

    <section class="SHOPPINGCARTP2BG BACKGROUND">
        <div class="BG_CLOUDS">
            <div class="BG_CLOUD CLOUD_1">
                <img class="BG_CLOUD_IMG1" src="./img/CLOUD_BG.png" alt="">
            </div>
            <div class="BG_CLOUD CLOUD_2">
                <img class="BG_CLOUD_IMG2" src="./img/CLOUD_BG.png" alt="">
            </div>
        </div>
        <!-- ====================================================================================== -->

        <section class="CART02_SLOGANALL WRAPPER">
            <span>
                <img src="./img/shopping_cart/cartp2_slogan01.png" alt="" class="SLOGAN02">
                <img src="./img/shopping_cart/cartp2_slogan01M.png" alt="" class="SLOGAN02M">
            </span>
            <span class="CAT ANI"></span>
        </section>

        <!-- ======================================麵包屑========================================== -->

        <section class="BREAD WRAPPER">
            <a href="homepage.html">首頁</a>
            /
            <a>購物車</a>
        </section>

        <!-- ====================================購物車第二步驟=========================================== -->
        <section class="SHOPPINGCART_STEP WRAPPER">
            <section class="SHOPPINGCART_STEPAREA">
                <section class="SHOPPINGCART_ARCONE">
                    <div class="ARC_TITLE">1</div>
                    <p>購物車</p>
                </section>
                <section class="SHOPPINGCART_ARCTWO">
                    <div class="ARC_TITLE">2</div>
                    <p>填寫資料</p>
                </section>
                <section class="SHOPPINGCART_ARCTHREE">
                    <div class="ARC_TITLE">3</div>
                    <p>結帳成功</p>
                </section>
            </section>
        </section>
        <!-- ========================================價格商品明細================================================= -->

        <section class="SHOPPINGCARTP2_ORDER WRAPPER">
            <section class="SHOPPINGCARTP2_ORDERTEXTALL">
                <section class="SHOPPINGCARTP2_ORDERTEXT">
                    <p>合計：NT${{totalAmount}}</p>
                    <span>購物車:({{ cartItemCount }}件)
                        <span class="SHOPPINGCARTP2_ORDERARR">
                            <img src="./img/shopping/🦆 icon _angle-right-b_.svg" alt="">
                        </span>
                    </span>
                </section>

                <section class="SHOPPINGCART_ALLLIST">

                    <section class="SHOPPINGCART_ITEMFORM ORDERITEM">
                        <section class="SHOPPINGCART_ITEMtitle">
                            <span class="ITEM_PRODUCT--W">商品</span>
                            <span class="ITEM_PRICE--W">單件價格</span>
                            <span class="ITEM_COUNT--W">數量</span>
                            <span class="ITEM_SUBTOTAL--W">小計</span>
                        </section>

                        <section class="SHOPPINGCART_ITEM" v-for="(item, index) in shoppingCartItems" :key="index">
                            <section class="ITEM_PRODUCT ITEM_PRODUCT--W">
                                <section class="ITEM_PRODUCT--IMG">
                                    <img :src="getFirstImage(item.IMG_SOURCE_ARRAY)" alt="">
                                </section>
                                <span>{{ item.PRODUCT_TITLE }}</span>
                            </section>
                            <section class="ITEM_PRICE ITEM_PRICE--W">
                                <p>NT＄{{ item.PRODUCT_PRICE }}</p>
                            </section>
                            <section class="ITEM_COUNT ITEM_COUNT--W">
                                <span class="ITEM_COUNT--NUM">{{ item.quantity }}</span>
                            </section>
                            <section class="ITEM_SUBTOTAL ITEM_SUBTOTAL--W">
                                <p>NT＄{{ item.PRODUCT_PRICE * item.quantity }}</p>
                            </section>
                        </section>
                    </section>
                </section>

                <!-- ========================================手機板LIST================================================== -->

                <section class="SHOPPINGCART_ITEMLIST--M">
                    <section class="SHOPPINGCART_ITEM--M" v-for="(item, index) in shoppingCartItems" :key="index">
                        <section class="SHOPPINGCART_ITEMIMG--M">
                            <img :src="getFirstImage(item.IMG_SOURCE_ARRAY)" alt="">
                        </section>
                        <section class="SHOPPINGCART_ITEMWORD--M">
                            <section class="SHOPPINGCART_ITEMWORD--TOPM">
                                <section class="SHOPPINGCART_ITEMWORD--NAMEM">
                                    <span>{{ item.PRODUCT_TITLE }}</span>
                                </section>

                            </section>
                            <section class="SHOPPINGCART_ITEMWORD--BOTTOMM">
                                <section class="SHOPPINGCART_ITEMWORD--COUNTM">
                                    <span class="ITEM_COUNT--NUM">數量:{{ item.quantity }}</span>
                                </section>
                                <section class="SHOPPINGCART_ITEMWORD--PRICEM">
                                    <p>NT＄{{ item.PRODUCT_PRICE * item.quantity }}</p>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>

            </section>

            <!-- =========================================g購物車P2表單左上=============================================== -->

            <section class="SHOPPINGCARTP2_TEXT">
                <section class="SHOPPINGCARTP2_TEXT--TOP">
                    <section class="SHOPPINGCARTP2_STEPTEXT--FORM P2MEMBER COL-6 RWD-COL-12">
                        <section class="SHOPPINGCARTP2_STEPTEXT--TITLE">
                            <span>會員資料</span>
                        </section>
                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <label for="MEMBERNAME" class="INPUT">姓名<br>
                                <input type="text" id="MEMBERNAME" class="INPUTENTER" placeholder="請輸入會員名稱" readonly>
                            </label>
                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <label for="MEMBERMAIL" class="INPUT">電子信箱<br>
                                <input type="text" id="MEMBERMAIL" class="INPUTENTER" placeholder="請輸入電子信箱" readonly>
                            </label>
                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <label for="MEMBERPHONE" class="INPUT">連絡電話<br>
                                <input type="text" id="MEMBERPHONE" class="INPUTENTER" placeholder="請輸入電話號碼" readonly>
                            </label>
                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <span>若會員資料有誤，建議前往會員中心進行修改，以防之後仍帶入錯誤資訊。</span>
                            <div>
                                <a href="./member_center.html">
                                <button class="BTN">前往會員中心</button>
                                </a>
                            </div>
                        </section>

                    </section>

                    <!-- ==========================================購物車P2表單右上============================================= -->


                    <section class="SHOPPINGCARTP2_STEPTEXT--FORM P2MEMBER COL-6 RWD-COL-12">
                        <section class="SHOPPINGCARTP2_STEPTEXT--TITLE">
                            <span>收件資料</span>
                            <label for="samemember" class="SAMEMEMBER">
                                <input type="checkbox" value="ture" id="samemember" name="MEMBERINFO">
                                <span class="CHECKMEMBER"></span>
                                同會員資料
                            </label>
                        </section>
                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <label for="RECIPIENT" class="INPUT">姓名
                                <span class="INPUTERROR">姓名不可為空白</span>
                                <span class="INPUTERROR2">請輸入正確姓名</span><br>
                                <input type="text" id="RECIPIENT" class="INPUTENTER" placeholder="請輸入收件人名稱">
                            </label>
                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <label for="CARTINBOX" class="INPUT">電子信箱
                                <span class="INPUTERROR">信箱不可為空白</span>
                                <span class="INPUTERROR2">請輸入正確電子信箱</span><br>
                                <input type="text" id="CARTINBOX" class="INPUTENTER" placeholder="請輸入收件人電子信箱">
                            </label>
                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <label for="RECIPIENTPHONE" class="INPUT">連絡手機
                                <span class="INPUTERROR">連絡電話不可為空白</span>
                                <span class="INPUTERROR2">請輸入正確連絡電話</span><br>
                                <input type="text" id="RECIPIENTPHONE" class="INPUTENTER" placeholder="請輸入收件人電話號碼">
                            </label>
                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <span>選擇門市</span>
                            <div>
                                <button class="BTN">搜尋門市</button>
                            </div>
                        </section>

                    </section>



                </section>



                <section class="SHOPPINGCARTP2_TEXT--BOTTOM">


                    <!-- =========================================購物車P2表單左下=============================================== -->

                    <section class="SHOPPINGCARTP2_STEPTEXT--FORM COL-6 RWD-COL-12">
                        <section class="SHOPPINGCARTP2_STEPTEXT--TITLE">
                            <span>付款資料</span>
                        </section>

                        <span class="SHOPPINGCARTP2_STEPTEXT--REMIND">
                            已選擇的送貨方式：7-11店到店取貨付款
                        </span>
                        <section class="SHOPPINGCARTP2_STEPTEXT--HALF">

                            <section class="SHOPPINGCARTP2_STEPTEXT--HALFINPUT">
                                <label for="CARDOWNER" class="INPUT">持卡人姓名
                                    <span class="INPUTERROR">姓名不可為空白</span>
                                    <span class="INPUTERROR2">請輸入正確姓名</span><br>
                                    <input type="text" id="CARDOWNER" class="INPUTENTER" placeholder="請輸入持卡人姓名" :disabled="paymentId === '2'">
                                </label>
                            </section>

                            <section class="SHOPPINGCARTP2_STEPTEXT--HALFINPUT">
                                <label for="CARDNUMBER" class="INPUT">信用卡卡號
                                    <span class="INPUTERROR">卡號不可為空白</span>
                                    <span class="INPUTERROR2">請輸入正確卡號</span><br>
                                    <input type="text" id="CARDNUMBER" class="INPUTENTER"
                                        placeholder="0000-0000-0000-0000" :disabled="paymentId === '2'">
                                </label>
                            </section>

                            <section class="SHOPPINGCARTP2_STEPTEXT--HALFINPUT">
                                <label for="CARDEXPIRYDATE" class="INPUT">有效日期
                                    <span class="INPUTERROR">日期不可為空白</span>
                                    <span class="INPUTERROR2">請輸入正確日期</span><br>
                                    <input type="text" id="CARDEXPIRYDATE" class="INPUTENTER" placeholder="MM/YY" :disabled="paymentId === '2'">
                                </label>
                            </section>

                            <section class="SHOPPINGCARTP2_STEPTEXT--HALFINPUT">
                                <label for="CARDCVC" class="INPUT">安全碼(CVC)
                                    <span class="INPUTERROR">安全碼不可為空白</span>
                                    <span class="INPUTERROR2">請輸入正確安全碼</span><br>
                                    <input type="text" id="CARDCVC" class="INPUTENTER" placeholder="請輸入三位數安全碼" :disabled="paymentId === '2'">
                                </label>
                            </section>

                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <span
                                class="CREDITREMIND">我們使用「綠界科技ECPay支付平台系統」，網頁將會轉往綠界信用卡授權頁面；交易全程使用SSL安全機制，確保交易資料不會外洩，請您安心付款！</span>
                        </section>

                    </section>


                    <!-- =========================================購物車P2表單右下=============================================== -->

                    <section class="SHOPPINGCARTP2_STEPTEXT--FORM COL-6 RWD-COL-12">
                        <section class="SHOPPINGCARTP2_STEPTEXT--TITLE">
                            <span>訂單備註</span>
                        </section>

                        <section class="SHOPPINGCARTP2_STEPTEXT--INPUT">
                            <label for="MEMO" class="TEXTAREA">備註<br>
                                <textarea id="MEMO" placeholder="有什麼想告訴賣家的..." class="TEXTAREA_CONTENT"></textarea>
                            </label>
                        </section>

                    </section>

                </section>

            </section>
            <!-- ===================================結帳頁最後============================================= -->

            <section class="SHOPPINGCARTP2_FINALLINK">
                <section>
                    <a href="./shopping_cart.html">返回購物車</a>
                    <a href="#">
                        <button class="BTN" id="SHOPPINGCARTP2PAY" @click="handlePayment">付款</button>
                    </a>
                </section>
            </section>

        </section>
    </section>
        <!-- ===== TOP按鈕 ===== -->
        <!-- top_btn -->
        @@include('./layout/top_btn.html')
        <!-- top_btn end -->
        
    <script src="./js/vendors/vue/vue.global.js"></script>
    <script src="./js/shopping_cart2.js"></script>
    <script src="./js/top_btn.js"></script>
    <script src="./js/nav.js"></script>
    <script src="./js/user_popup.js"></script>
    <script src="./js/toggle.js"></script>

    <script>
        $(document).ready(function() {
            $('#RECIPIENT').on('blur', function() {
                var recipientInput = $(this);
                var recipientValue = recipientInput.val().trim();
                var errorElement1 = recipientInput.siblings('.INPUTERROR');
                var errorElement2 = recipientInput.siblings('.INPUTERROR2');

                var recipientRegex = /^[\u4E00-\u9FFFa-zA-Z\s]+$/;
                if (recipientValue === '') {
                errorElement1.addClass('WRONG');
                errorElement2.removeClass('WRONG');
                } else if (recipientValue.length < 2 || !recipientRegex.test(recipientValue)) {
                errorElement1.removeClass('WRONG');
                errorElement2.addClass('WRONG');
                } else {
                errorElement1.removeClass('WRONG');
                errorElement2.removeClass('WRONG');
                $('#RECIPIENT').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                }
            });

            $('#CARTINBOX').on('blur', function() {
                var emailInput = $(this);
                var emailValue = emailInput.val().trim();
                var errorElement1 = emailInput.siblings('.INPUTERROR');
                var errorElement2 = emailInput.siblings('.INPUTERROR2');

                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (emailValue === '') {
                errorElement1.addClass('WRONG');
                errorElement2.removeClass('WRONG');
                } else if (!emailRegex.test(emailValue)) {
                errorElement1.removeClass('WRONG');
                errorElement2.addClass('WRONG');
                } else {
                errorElement1.removeClass('WRONG');
                errorElement2.removeClass('WRONG');
                $('#CARTINBOX').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                }
            });

            $('#RECIPIENTPHONE').on('blur', function() {
                var phoneInput = $(this);
                var phoneValue = phoneInput.val().trim();
                var errorElement1 = phoneInput.siblings('.INPUTERROR');
                var errorElement2 = phoneInput.siblings('.INPUTERROR2');

                var phoneRegex = /^(\+?886-?|0)?9\d{8}$/;

                if (phoneValue === '') {
                errorElement1.addClass('WRONG');
                errorElement2.removeClass('WRONG');
                } else if (!phoneRegex.test(phoneValue)) {
                errorElement1.removeClass('WRONG');
                errorElement2.addClass('WRONG');
                } else {
                errorElement1.removeClass('WRONG');
                errorElement2.removeClass('WRONG');
                $('#RECIPIENTPHONE').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                }
            });
        });

// ===========================================================================

    $(document).ready(function() {
        $('#samemember').change(function() {
            if ($(this).is(':checked')) {
            var memberNameValue = $('#MEMBERNAME').val();
            var memberMailValue = $('#MEMBERMAIL').val();
            var memberPhoneValue = $('#MEMBERPHONE').val();

            $('#RECIPIENT').val(memberNameValue).siblings('.INPUTERROR, .INPUTERROR2').removeClass('WRONG');
            $('#RECIPIENT').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
            $('#CARTINBOX').val(memberMailValue).siblings('.INPUTERROR, .INPUTERROR2').removeClass('WRONG');
            $('#CARTINBOX').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
            $('#RECIPIENTPHONE').val(memberPhoneValue).siblings('.INPUTERROR, .INPUTERROR2').removeClass('WRONG');
            $('#RECIPIENTPHONE').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
            } else {
            $('#RECIPIENT').val('');
            $('#CARTINBOX').val('');
            $('#RECIPIENTPHONE').val('');
            }
        });
    });

// ======================================================================================

    $(document).ready(function() {
        $('#CARDNUMBER').on('input', function() {
            var cardNumber = $(this).val().replace(/-/g, ''); // 移除所有现有的连字符

            if (cardNumber.length > 0) {
            // 每四个数字插入连字符
            var formattedCardNumber = cardNumber.match(/.{1,4}/g).join('-');

            // 如果数字长度超过16位，则移除最后的连字符
            if (cardNumber.length > 16) {
                formattedCardNumber = formattedCardNumber.slice(0, -1);
            }

            // 如果格式化后的卡号长度超过19位，则截取前19位
            if (formattedCardNumber.length > 19) {
                formattedCardNumber = formattedCardNumber.slice(0, 19);
            }

            $(this).val(formattedCardNumber);
            }
        });
    });

// =======================================================================================

    $(document).ready(function() {
            $('#CARDOWNER').on('blur', function() {
                var cardownerInput = $(this);
                var cardownerValue = cardownerInput.val().trim();
                var errorElement1 = cardownerInput.siblings('.INPUTERROR');
                var errorElement2 = cardownerInput.siblings('.INPUTERROR2');

                var cardownerRegex = /^[\u4E00-\u9FFFa-zA-Z\s]+$/;
                if (cardownerValue === '') {
                errorElement1.addClass('WRONG');
                errorElement2.removeClass('WRONG');
                } else if (cardownerValue.length < 2 || !cardownerRegex.test(cardownerValue)) {
                errorElement1.removeClass('WRONG');
                errorElement2.addClass('WRONG');
                } else {
                errorElement1.removeClass('WRONG');
                errorElement2.removeClass('WRONG');
                $('#CARDOWNER').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                }
            });

            $('#CARDEXPIRYDATE').on('input', function() {
                var cardexpirydateInput = $(this).val();
                var numbers = cardexpirydateInput.replace(/\D/g, ''); // 移除非數字字符

                
                // 每兩個數字插入斜線
                var formatted = numbers.match(/.{1,2}/g).join('/');

                // 如果長度超過5個字元，則截斷
                if (formatted.length > 5) {
                formatted = formatted.substr(0, 5);
                }

                $(this).val(formatted);
            });

            $('#CARDEXPIRYDATE').on('blur', function() {
                var cardexpirydateInput = $(this);
                var cardexpirydateValue = cardexpirydateInput.val().trim();
                var errorElement1 = cardexpirydateInput.siblings('.INPUTERROR');
                var errorElement2 = cardexpirydateInput.siblings('.INPUTERROR2');

                if (cardexpirydateValue === '') {
                errorElement1.addClass('WRONG');
                errorElement2.removeClass('WRONG');
                } else if (cardexpirydateValue.length < 4 ) {
                errorElement1.removeClass('WRONG');
                errorElement2.addClass('WRONG');
                } else {
                errorElement1.removeClass('WRONG');
                errorElement2.removeClass('WRONG');
                $('#CARDEXPIRYDATE').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                }
            });

            $('#CARDEXPIRYDATE').on('keydown', function(event) {
                var key = event.which || event.keyCode;
                
                // 只允許數字、刪除鍵和方向鍵的使用
                if (!(key >= 48 && key <= 57) && key !== 8 && key !== 37 && key !== 39) {
                    event.preventDefault();
                }
            });

            $('#CARDCVC').on('input', function() {
                var cardcvcInput = $(this).val();
                var numbers = cardcvcInput.replace(/\D/g, ''); // 移除非數字字符

                // 如果長度超過5個字元，則截斷
                if (numbers.length > 3) {
                    numbers = numbers.substr(0, 3);
                }

                $(this).val(numbers);
            });

            $('#CARDCVC').on('blur', function() {
                var cardcvcInput = $(this);
                var cardcvcValue = cardcvcInput.val().trim();
                var errorElement1 = cardcvcInput.siblings('.INPUTERROR');
                var errorElement2 = cardcvcInput.siblings('.INPUTERROR2');

                if (cardcvcValue === '') {
                errorElement1.addClass('WRONG');
                errorElement2.removeClass('WRONG');
                } else if (cardcvcValue.length < 3 ) {
                errorElement1.removeClass('WRONG');
                errorElement2.addClass('WRONG');
                } else {
                errorElement1.removeClass('WRONG');
                errorElement2.removeClass('WRONG');
                $('#CARDCVC').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                }
            });

            $('#CARDCVC').on('keydown', function(event) {
                var key = event.which || event.keyCode;
                
                // 只允許數字、刪除鍵和方向鍵的使用
                if (!(key >= 48 && key <= 57) && key !== 8 && key !== 37 && key !== 39) {
                    event.preventDefault();
                }
            });

// =======================================================================================

            $("#CARDNUMBER").on("input", function() {
                let cardNum = $(this).val();
                let newCardNum = cardNum.replace(/-/g, "");
                let sum = evenNum(newCardNum) + oddNum(newCardNum);
                let resultNum = sum % 10;
                if (resultNum !== 0) {
                    resultNum = 10 - resultNum;
                }

                var errorElement1 = $(this).siblings('.INPUTERROR');
                var errorElement2 = $(this).siblings('.INPUTERROR2');
                if (resultNum !== newCardNum[15] * 1) {
                    errorElement1.removeClass('WRONG');
                    errorElement2.addClass("WRONG");
                } else {
                    errorElement2.removeClass("WRONG");
                    $('#CARDNUMBER').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                }
                });

                // 偶数位加总
                function evenNum(newCardNum) {
                let sum = 0;
                for (let i = 1; i <= 13; i += 2) {
                    let resultNum = Number(newCardNum[i]);
                    sum += resultNum;
                }
                return sum;
                }

                // 奇数位加总
                function oddNum(newCardNum) {
                let sum = 0;
                for (let i = 0; i <= 15; i += 2) {
                    let resultNum = Number(newCardNum[i]) * 2;
                    if (resultNum >= 10) {
                    resultNum -= 9;
                    }
                    sum += resultNum;
                }
                return sum;
                }

                $('#CARDNUMBER').on('blur', function() {
                    var errorElement1 = $(this).siblings('.INPUTERROR');
                    var errorElement2 = $(this).siblings('.INPUTERROR2');

                    if ($(this).val().trim() === '') {
                        errorElement1.addClass('WRONG');
                        errorElement2.removeClass('WRONG');
                    } else if (!errorElement2.hasClass('WRONG')) {
                        errorElement1.removeClass('WRONG');
                        $('#CARDNUMBER').addClass('TRUEOUTLINE').removeClass('ERROROUTLINE');
                    }
                });
        });


    </script>

    <!-- <script>//下一頁按鈕驗證
        $(document).ready(function() {
            // 點擊 SHOPPINGCARTP2PAY 按鈕時觸發事件
            $('#SHOPPINGCARTP2PAY').click(function(event) {
                // 停止表單的預設提交行為
                event.preventDefault();

                // 再次執行驗證並檢查是否通過
                if (validateForm()) {
                // 驗證通過，跳轉到下一頁
                window.location.href = './shopping_cartp3.html';
                }
            });

            function validateForm() {
                var isValid = true;

                // 進行收件人姓名(RECIPIENT)的驗證
                var recipientInput = $('#RECIPIENT');
                var recipientValue = recipientInput.val().trim();
                var errorElement1 = recipientInput.siblings('.INPUTERROR');
                var errorElement2 = recipientInput.siblings('.INPUTERROR2');

                var recipientRegex = /^[\u4E00-\u9FFFa-zA-Z\s]+$/;
                if (recipientValue.trim() === '') {
                errorElement1.addClass('WRONG');
                errorElement2.removeClass('WRONG');
                $('#RECIPIENT').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else if (recipientValue.length < 2 || !recipientRegex.test(recipientValue)) {
                errorElement1.removeClass('WRONG');
                errorElement2.addClass('WRONG');
                $('#RECIPIENT').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else {
                errorElement1.removeClass('WRONG');
                errorElement2.removeClass('WRONG');
                }

                // 進行電子信箱(CARTINBOX)的驗證
                var emailInput = $('#CARTINBOX');
                var emailValue = emailInput.val().trim();
                var emailErrorElement1 = emailInput.siblings('.INPUTERROR');
                var emailErrorElement2 = emailInput.siblings('.INPUTERROR2');

                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (emailValue === '') {
                emailErrorElement1.addClass('WRONG');
                emailErrorElement2.removeClass('WRONG');
                $('#CARTINBOX').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else if (!emailRegex.test(emailValue)) {
                emailErrorElement1.removeClass('WRONG');
                emailErrorElement2.addClass('WRONG');
                $('#CARTINBOX').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else {
                emailErrorElement1.removeClass('WRONG');
                emailErrorElement2.removeClass('WRONG');
                }

                // 進行連絡手機(RECIPIENTPHONE)的驗證
                var phoneInput = $('#RECIPIENTPHONE');
                var phoneValue = phoneInput.val().trim();
                var phoneErrorElement1 = phoneInput.siblings('.INPUTERROR');
                var phoneErrorElement2 = phoneInput.siblings('.INPUTERROR2');

                var phoneRegex = /^(\+?886-?|0)?9\d{8}$/;
                if (phoneValue === '') {
                phoneErrorElement1.addClass('WRONG');
                phoneErrorElement2.removeClass('WRONG');
                $('#RECIPIENTPHONE').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else if (!phoneRegex.test(phoneValue)) {
                phoneErrorElement1.removeClass('WRONG');
                phoneErrorElement2.addClass('WRONG');
                $('#RECIPIENTPHONE').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else {
                phoneErrorElement1.removeClass('WRONG');
                phoneErrorElement2.removeClass('WRONG');
                }

                var cardNumberInput = $('#CARDNUMBER');
                var cardNumberValue = cardNumberInput.val().replace(/-/g, ''); // 移除所有現有的連字符
                var cardNumberErrorElement1 = cardNumberInput.siblings('.INPUTERROR');
                var cardNumberErrorElement2 = cardNumberInput.siblings('.INPUTERROR2');

                if (cardNumberValue === '') {
                cardNumberErrorElement1.addClass('WRONG');
                cardNumberErrorElement2.removeClass('WRONG');
                $('#CARDNUMBER').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else if (!isValidLuhn(cardNumberValue)) {
                cardNumberErrorElement1.removeClass('WRONG');
                cardNumberErrorElement2.addClass('WRONG');
                $('#CARDNUMBER').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else {
                cardNumberErrorElement1.removeClass('WRONG');
                cardNumberErrorElement2.removeClass('WRONG');
                }

                function isValidLuhn(cardNumber) {
                    let newCardNum = cardNumber.replace(/-/g, "");
                    let sum = evenNum(newCardNum) + oddNum(newCardNum);
                    let resultNum = sum % 10;
                    if (resultNum !== 0) {
                        resultNum = 10 - resultNum;
                    }
                    return resultNum === newCardNum[15] * 1;
                    }

                    // 偶数位加总
                    function evenNum(newCardNum) {
                    let sum = 0;
                    for (let i = 1; i <= 13; i += 2) {
                        let resultNum = Number(newCardNum[i]);
                        sum += resultNum;
                    }
                    return sum;
                    }

                    // 奇数位加总
                    function oddNum(newCardNum) {
                    let sum = 0;
                    for (let i = 0; i <= 15; i += 2) {
                        let resultNum = Number(newCardNum[i]) * 2;
                        if (resultNum >= 10) {
                        resultNum -= 9;
                        }
                        sum += resultNum;
                    }
                    return sum;
                    }

                // 進行持卡人姓名(CARDOWNER)的驗證
                var cardOwnerInput = $('#CARDOWNER');
                var cardOwnerValue = cardOwnerInput.val().trim();
                var cardOwnerErrorElement1 = cardOwnerInput.siblings('.INPUTERROR');
                var cardOwnerErrorElement2 = cardOwnerInput.siblings('.INPUTERROR2');

                var cardOwnerRegex = /^[\u4E00-\u9FFFa-zA-Z\s]+$/;
                if (cardOwnerValue === '') {
                cardOwnerErrorElement1.addClass('WRONG');
                cardOwnerErrorElement2.removeClass('WRONG');
                $('#CARDOWNER').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else if (cardOwnerValue.length < 2 || !cardOwnerRegex.test(cardOwnerValue)) {
                cardOwnerErrorElement1.removeClass('WRONG');
                cardOwnerErrorElement2.addClass('WRONG');
                $('#CARDOWNER').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else {
                cardOwnerErrorElement1.removeClass('WRONG');
                cardOwnerErrorElement2.removeClass('WRONG');
                }

                // 進行信用卡有效期限(CARDEXPIRYDATE)的驗證
                var cardExpiryDateInput = $('#CARDEXPIRYDATE');
                var cardExpiryDateValue = cardExpiryDateInput.val().trim();
                var cardExpiryDateErrorElement1 = cardExpiryDateInput.siblings('.INPUTERROR');
                var cardExpiryDateErrorElement2 = cardExpiryDateInput.siblings('.INPUTERROR2');

                if (cardExpiryDateValue === '') {
                cardExpiryDateErrorElement1.addClass('WRONG');
                cardExpiryDateErrorElement2.removeClass('WRONG');
                $('#CARDEXPIRYDATE').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else if (cardExpiryDateValue.length < 4) {
                cardExpiryDateErrorElement1.removeClass('WRONG');
                cardExpiryDateErrorElement2.addClass('WRONG');
                $('#CARDEXPIRYDATE').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else {
                cardExpiryDateErrorElement1.removeClass('WRONG');
                cardExpiryDateErrorElement2.removeClass('WRONG');
                }

                // 進行信用卡安全碼(CARDCVC)的驗證
                var cardCVCInput = $('#CARDCVC');
                var cardCVCValue = cardCVCInput.val().trim();
                var cardCVCErrorElement1 = cardCVCInput.siblings('.INPUTERROR');
                var cardCVCErrorElement2 = cardCVCInput.siblings('.INPUTERROR2');

                if (cardCVCValue === '') {
                cardCVCErrorElement1.addClass('WRONG');
                cardCVCErrorElement2.removeClass('WRONG');
                $('#CARDCVC').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else if (cardCVCValue.length < 3) {
                cardCVCErrorElement1.removeClass('WRONG');
                cardCVCErrorElement2.addClass('WRONG');
                $('#CARDCVC').addClass('ERROROUTLINE').removeClass('TRUEOUTLINE');
                isValid = false;
                } else {
                cardCVCErrorElement1.removeClass('WRONG');
                cardCVCErrorElement2.removeClass('WRONG');
                }

                return isValid;

            }



        })
    </script> -->




</body>

</html>