<!-- =====appointment門診時間及預約======== -->
<div class="APPOINTMENT">
    <div class="APPOINTMENT_TAG">
        <p>門診時間&預約</p>
    </div>
    <div class="APPOINTMENT_BOX">
        <div class="APPOINTMENT_CONTENT">
            <img src="./img/appointment/TIMETABLE_PC.png" alt="">
            <div class="APPOINTMENT_RESERVE_PHONE">
                <a href="reserve.html" class="RESERVE">立即預約</a>
                <a class="APPOINTMENT_PHONE" href="tel:+886900000000">
                    <i class="bi bi-telephone"></i>
                    預約專線 : 02-3322-2777
                </a>
            </div>
        </div>
    </div>
</div>