<footer>
  <div class="FOOTER_LOGO">
    <a href="">
      <picture>
        <source srcset="./img/index/M_index/M_FOOTERLOGO.svg" media="(max-width: 414px)">
        <img src="img/H-LOGO.svg" alt="" />
      </picture>
      
    </a>
    
  </div>
  <div class="FOOTER_RIGHT">
    <nav class="FOOTER_NAV">
      <ul>
        <li>
          <a href="about_us.html"> <span>關於院所</span></a>
        </li>
        <li>
          <a href="reserve.html"> <span>立即預約</span></a>
        </li>
        <li>
          <a href="information.html"> <span>資訊導覽</span></a>
        </li>
        <li>
          <a href="member_center.html"> <span>會員中心</span></a>
        </li>
        <li>
          <a href="shopping.html"> <span>線上購物</span></a>
        </li>
        <li>
          <a href="shopping_cart.html"> <span>購物車</span></a>
        </li>
        <li>
          <a href="qa.html"> <span>常見問題</span></a>
        </li>
        <li>
          <span class="FOLLOW">追蹤我們</span>
        </li>
      </ul>
    </nav>
  </div>

  <div class="FOOTER_ICON">
    <a href="https://www.facebook.com/"><img src="img/FOOTER_FB_ICON.svg" alt="" /></a>
    <a href="https://www.instagram.com/"><img src="img/FOOTER_INS_ICON.svg" alt="" /></a>
  </div>

  <div class="FOOTER_TOP_BTN" id="js-f-top">
    <i class="bi bi-caret-up-fill"></i>
    <p>回到頂部</p>
  </div>
  
</footer>
<div class="FOOTER_BOTTOM">
  <p>
    Copyright ©
    本網站為緯育TibaMe前端工程師班學員專題作品，本平台僅供學習、展示之用。
  </p>
</div>