<header>
    <nav class="HEADER_NAV">
      
      <a href="index.html">
        <img src="img/V-HEADER-LOGO-HOVER.svg" alt=""/>
        <img src="img/V-HEADER-LOGO.svg" alt=""/>
      </a>

      <ul>
        <li>
          <a href="#"><span>關於院所</span><br />About Us</a>
        </li>
        <li>
          <a href="#"><span>資訊導覽</span><br />Information</a>
        </li>
        <li>
          <a href="#"><span>線上購物</span><br />Shopping</a>
        </li>
        <li>
          <a href="#"><span>常見問題</span><br />Q & A</a>
        </li>
        <li>
          <a href="#"><span>會員中心</span><br />Member Centre</a>
        </li>
        <li>
          <a href="#" class="RESERVE">立即預約</a>
        </li>
        <li>
          <a href="#" class="LOGIN"><i class="bi bi-person-fill"></i>登入</a>
        </li>
        <li>
          <a href="#"><i class="bi bi-cart-fill"></i></a>
        </li>
      </ul>
      <div class="TOGGLE"><span></span></div>
    </nav>
  </header>



  <header>

    <nav class="HEADER_NAV">

        <a href="homepage.html">
            <div class="HEADERLOGO_BG_BOX HEADERLOGE_BG_TOP">
                <div class="HEADERLOGO_PAW">
                    <img src="./img/HEADERLOGO_PAW.svg" alt="">
                    <div class="HEADERLOGO_CLAWS">
                        <img src="./img/HEADERLOGO_CLAWS.svg" alt="">
                    </div>
                </div>
                <div class="HEADER_LOGO_NAME">
                    <img src="./img/HEADERLOGO_NAME.svg" alt="">
                </div>
            </div>
        </a>


        <ul>
            <li>
                <a href="about_us.html"><span>關於院所</span><br>About Us</a>
            </li>
            <li>
                <a href="information.html"><span>資訊導覽</span><br>Information</a>
            </li>
            <li>
                <a href="shopping.html"><span>線上購物</span><br>Shopping</a>
            </li>
            <li>
                <a href="qa.html"><span>常見問題</span><br>Q & A</a>
            </li>
            <li>
                <a href="member_center.html"><span>會員中心</span><br>Member Centre</a>
            </li>
            <li>
                <a href="#" class="RESERVE">立即預約</a>
            </li>
            <li>
                <a href="#" class="LOGIN"><i class="bi bi-person-fill"></i>登入</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-cart-fill"></i></a>
            </li>
        </ul>
        <div class="TOGGLE"><span></span></div>
    </nav>

</header>