<header>

    <nav class="HEADER_NAV">

        <img src="img/V-HEADER-LOGO-HOVER.svg" alt="">
        <img src="img/V-HEADER-LOGO.svg" alt="">
        

        <ul>
            <li>
                <a href="#"><span>關於院所</span><br>About Us</a>
            </li>
            <li>
                <a href="#"><span>資訊導覽</span><br>Information</a>
            </li>
            <li>
                <a href="#"><span>線上購物</span><br>Shopping</a>
            </li>
            <li>
                <a href="#"><span>常見問題</span><br>Q & A</a>
            </li>
            <li>
                <a href="#"><span>會員中心</span><br>Member Centre</a>
            </li>
            <li>
                <a href="#" class="RESERVE">立即預約</a>
            </li>
            <li>
                <a href="#" class="LOGIN"><i class="bi bi-person-fill"></i>登入</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-cart3"></i></a>
            </li>
        </ul>

    </nav>

</header>