<header>

  <nav class="HEADER_NAV">

    <a href="homepage.html">
      <div class="HEADERLOGO_BG_BOX HEADERLOGE_BG_TOP">
        <div class="HEADERLOGO_PAW">
          <img src="./img/HEADERLOGO_PAW.svg" alt="">
          <div class="HEADERLOGO_CLAWS">
            <img src="./img/HEADERLOGO_CLAWS.svg" alt="">
          </div>
        </div>
        <div class="HEADER_LOGO_NAME">
          <img src="./img/HEADERLOGO_NAME.svg" alt="">
        </div>
      </div>
    </a>


    <ul>
      <li>
        <a href="about_us.html">
          <span>關於院所</span>
          <br>About Us
        </a>
      </li>
      <li>
        <a href="information.html">
          <span>資訊導覽</span>
          <br>Information
        </a>
      </li>
      <li>
        <a href="shopping.html">
          <span>線上購物</span>
          <br>Shopping
        </a>
      </li>
      <li>
        <a href="qa.html">
          <span>常見問題</span>
          <br>Q & A
        </a>
      </li>
      <li>
        <a href="member_center.html">
          <span>會員中心</span>
          <br>Member Centre
        </a>
      </li>
      <li>
        <a href="reserve.html" class="RESERVE">立即預約</a>
      </li>
      <li id="SHOWMEMBER">
        <!-- <a href="" class="LOGIN"><i class="bi bi-person-fill" ></i>登入</a> -->
        <!-- <a herf='' class='LOGOUT' href='http://localhost/THD101_NO1/php/Logout.php'><i class='bi bi-person-fill'></i>登出</a> -->
      </li>
      <li>
        <a href="shopping_cart.html"><i class="bi bi-cart-fill"></i></a>
      </li>
    </ul>

  </nav>




  <nav class="M_HEADER_NAV">

    <a href="homepage.html">
      <div class="M_HEADERLOGO_BG_BOX M_HEADERLOGE_BG_TOP">
        <div class="M_HEADERLOGO_PAW">
          <img src="./img/HEADERLOGO_PAW.svg" alt="">
          <div class="M_HEADERLOGO_CLAWS">
            <img src="./img/HEADERLOGO_CLAWS.svg" alt="">
          </div>
        </div>
        <div class="M_HEADER_LOGO_NAME">
          <img src="./img/HEADERLOGO_NAME.svg" alt="">
        </div>
      </div>
    </a>


    <ul>
      <li>
        <a class="M_HEADER_LI" href="about_us.html">
          <span>關於院所</span>
          <P class="EN">About Us</P>
        </a>
      </li>
      <li>
        <a class="M_HEADER_LI" href="information.html">
          <span>資訊導覽</span>
          <p class="EN">Information</p>
        </a>
      </li>
      <li>
        <a class="M_HEADER_LI" href="shopping.html">
          <span>線上購物</span>
          <p class="EN">Shopping</p>
        </a>
      </li>
      <li>
        <a class="M_HEADER_LI" href="qa.html">
          <span>常見問題</span>
          <p class="EN">Q & A</p>
        </a>
      </li>
      <li>
        <a class="M_HEADER_LI" href="member_center.html">
          <span>會員中心</span>
          <p class="EN">Member Centre</p>
        </a>
      </li>

      <li>
        <div class="LOGIN_SHOPPING">
          <div id="SHOWMEMBER">
            <!-- <a herf='' class='LOGIN' onclick='LOGIN()'><i class='bi bi-person-fill'></i>登入</a> -->
          </div>
          <a href="shopping_cart.html"><i class="bi bi-cart-fill"></i></a>
        </div>
      </li>

      <li>
        <a href="reserve.html" class="RESERVE">立即預約</a>
      </li>
    </ul>




    <div id="TOGGLE" class="TOGGLE">
      <span class="SPAN1"></span>
      <span class="SPAN2"></span>
      <span class="SPAN3"></span>
    </div>
  </nav>

</header>