<header>

    <nav>

        <ul>
            <li><a href="#"><span>關於院所</span><br>About Us</a></li>
            <li><a href="#"><span>資訊導覽</span><br>Information</a></li>
            <li><a href="#"><span>線上購物</span><br>Shopping</a></li>
            <li><a href="#"><span>常見問題</span><br>Q & A</a></a></li>
            <li><a href="#"><span>會員中心</span><br>Member Centre</a></a></li>
            <li><a href="#" class="reserve">立即預約</a></li>
            <li><a href="#" class="login"><i class="bi bi-person-fill"></i>登入</a></li>
            <li><a href="#"><i class="bi bi-cart3"></i></a></li>
            <h1>test</h1>
        </ul>

    </nav>

    <div class="master_vision"><img src="img/HEADER-TOP.png" alt=""></div>

</header>