<!-- 各頁面JS -->
<!-- <script src="./js/qa.js"></script>
<script src="./js/infor.js"></script>
<script src="./js/locales-all.global.js"></script>
<script src="./js/illness_sign.js"></script>
<script src="./js/sroll.js"></script> -->

<!-- 通用組件JS -->
<!-- <script src="./js/appointment.js"></script>
<script src="./js/top_btn.js"></script>
<script src="./js/nav.js"></script>
<script src="./js/user_popup.js"></script>
<script src="./js/toggle.js"></script>
<script src="./js/swiper.js"></script> -->


<!-- ================ min.js ================ -->
<!-- 各頁面JS -->
<script src="./js/qa.min.js"></script>
<script src="./js/infor.min.js"></script>
<script src="./js/locales-all.global.min.js"></script>
<script src="./js/illness_sign.min.js"></script>
<script src="./js/sroll.min.js"></script>

<!-- 通用組件JS -->
<script src="./js/appointment.min.js"></script>
<script src="./js/top_btn.min.js"></script>
<script src="./js/nav.min.js"></script>
<script src="./js/user_popup.min.js"></script>
<script src="./js/toggle.min.js"></script>
<script src="./js/swiper.min.js"></script>

