<section class="WRAPPER">
    <div class="LOCATION_WRAPPER">
      <div class="LOCATION_LEFT">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1278.0129118998307!2d121.52466683154347!3d25.04200095528725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a970a11a84ad%3A0x58e05f2528812097!2z5ZyL56uL6Ie65YyX5ZWG5qWt5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1683701812809!5m2!1szh-TW!2stw" width="700" height="525" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
        
      <div class="LOCATION_RIGHT">
        <div class="LOCATION_LOGO">
          <img src="img/index/locationLOGO.svg" alt="">
        </div>
      
        <div class="LOCATION_INFORMATION">
          <i class="bi bi-telephone"></i>
          <p>連絡電話：02-3322-2777</p>
        </div>
        <div class="LOCATION_INFORMATION">
          <i class="bi bi-geo-alt"></i>
          <p>地址：100台北市中正區濟南路一段321號</p>
        </div>


        <div class="LOCATION_TIMETABLE">
          <img src="img/index/TIMETABLE.jpg" alt="">
        </div>
      </div>
     
    </div>
    
  </section>