<div class="M_FUNTION">
  <ul>
    <li>
      <i class="bi bi-telephone"></i>
      <p>電話預約</p>
    </li>
    <a href="" class="M_FUNTION_A2">
      <li>
        <i class="bi bi-calendar-plus"></i>
        <p class="CLINIC_HOURS">門診時間</p>
      </li>
    </a>
    
    <a href="reserve.html" class="M_FUNTION_A3">
      <li>
        <i class="bi bi-arrow-right"></i>
        <p>立即預約</p>
      </li>
    </a>
   
  </ul>
</div>

<!-- ==== 手機板門診時刻表 ==== -->
<div class="M_TIME_TABLE -off">
  <div>
    <h1>門診時刻表</h1>
    <img src="./img/M_TIME_TABLE.png" alt="">
    <a href="" class="CLOSE_TABLE">
      <i class="bi bi-x-circle"></i>
    </a>
    
  </div>
  
</div>