<!-- =====RWD 功能列及小時刻表======== -->
<!-- RWD功能列內的時刻表 -->
<div class="M_TIME_TABLE">
  <img src="./img/appointment/TIMETABLE_RWD.png" alt="" class="">
</div>
<!-- RWD下方功能列 -->
<div class="M_FUNTION">
  <ul>
    <a class="M_FUNTION_A1" href="tel:+886900000000">
      <li>
        <i class="bi bi-telephone"></i>
        <p>電話預約</p>
      </li>
    </a>
    <a href="" class="M_FUNTION_A2">
      <li>
        <i class="bi bi-calendar-plus"></i>
        <p class="CLINIC_HOURS">門診時間</p>
      </li>
    </a>
    <a href="reserve.html" class="M_FUNTION_A3">
      <li>
        <i class="bi bi-arrow-right"></i>
        <p>立即預約</p>
      </li>
    </a>
  </ul>
</div>
