<!-- ========================= 彈跳視窗 ========================= -->
<!-- 壓底黑色塊 -->
<div id="modal" class="MODAL">
    <!-- 關閉按鈕 -->
    <a class="POPUP_CLOSEBTN" href="#">
        <i class="bi bi-x-circle"></i>
    </a>
    <!-- 彈跳視窗_註冊/登入 -->
    <div id="popup-wrap" class="POPUP_WRAP">
        <div class="BG_CLOUD_BOX">
            <img class="BG_CLOUD" src="./img/user_popup/USER_BG_CLOUD.png" alt="">
        </div>
        <!-- 導覽列 -->
        <ul class="POPUP_NAVS">
            <li class="POPUP_TABS "><a href="#POPUP_LOGIN">登入會員</a></li>
            <li class="POPUP_TABS "><a href="#POPUP_SIGNUP">註冊會員</a></li>
            <li class="POPUP_TABS FORGETTABS CLOSETABS"><a href="#">忘記密碼</a></li>
            <li class="POPUP_TABS CHANGETABS CLOSETABS"><a href="#">修改密碼</a></li>

        </ul>
        <!-- 登入視窗 -->
        <div class="POPUP_TABS_CONTENT">
            <div id="POPUP_LOGIN" class="POPUP_BOX">
                <img src="./img/user_popup/USER_LOGO.png" alt="" class="USER_LOGO">

                <form class="USER_FORM">
                    <!-- 信箱：只能英文和數字和'@'和'.' -->
                    <div class="INPUT_GROUP">
                        <i class="bi bi-envelope"></i>
                        <input type="email" name="email" class="LOGIN_EMAIL" autocomplete="email" placeholder="請輸入電子信箱"
                            onkeyup="value=value.replace(/[^a-zA-Z0-9@.]/g, '')" /></br>
                    </div>
                    <!-- 密碼：只能英文和數字/長度限制30 -->
                    <div class="INPUT_GROUP">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" name="LOGIN_PASSWORD" id="LOGIN_PASSWORD"
                            class="PASSWORD LOGIN_PASSWORD" autocomplete="new-password" placeholder="請輸入密碼"
                            onkeyup="value=value.replace(/[^a-zA-Z0-9]/g, '')" maxlength="30" />
                        <div class="SHOWPASS">
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="FORGET_BOX">
                        <button type="button" class="FORGET_BTN">忘記密碼？</button>
                    </div>

                    <div class="LOGIN_BTN BTN" onclick="loginSub()">登入</div>

                    <div class="DIVIDING">
                        <span>or</span>
                    </div>
                    <button type="submit" class="OTHERLOGIN_BTN">
                        <span class="OTHERLOGIN_ICON">
                            <img src="./img/user_popup/GOOGLE.svg" alt="">
                        </span>
                        <span>使用GOOGLE登入</span>
                    </button>
                </form>
                <div class="BTN TOSIGNUP_BTN">註冊會員</div>
            </div>
            <!-- 註冊視窗 -->
            <div id="POPUP_SIGNUP" class="POPUP_BOX ">
                <img src="./img/user_popup/USER_LOGO.png" alt="" class="USER_LOGO">

                <form class="USER_FORM">
                    <div class="SIGNUP_INPUTS">
                        <!-- 姓名：只能輸入中文和英文 -->
                        <div class="INPUT_GROUP">
                            <i class="bi bi-person-circle"></i>
                            <input type="text" name="SIGNUP_USERNAME" id="SIGNUP_USERNAME" class="SIGNUP_USERNAME"
                                autocomplete="name" placeholder="請輸入真實姓名"
                                onkeyup="value=value.replace(/[^a-zA-Z\u4E00-\u9FFF\u3100-\u312F]/g, '')" />
                        </div>
                        <!-- 密碼：只能英文和數字/長度限制30 -->
                        <div class="INPUT_GROUP">
                            <i class="bi bi-lock-fill"></i>
                            <input type="password" name="SIGNUP_PASSWORD" id="SIGNUP_PASSWORD"
                                class="PASSWORD SIGNUP_PASSWORD" autocomplete="new-password" placeholder="請輸入密碼"
                                onkeyup="value=value.replace(/[^a-zA-Z0-9]/g, '')" maxlength="30" />
                            <div class="SHOWPASS">
                                <i class="bi bi-eye-fill"></i>
                            </div>
                        </div>
                        <div class="INPUT_GROUP">
                            <i class="bi bi-lock"></i>
                            <input type="password" name="password" class="PASSWORD SIGNUP_VERIFPASSWORD"
                                autocomplete="new-password" placeholder="請再確認一次密碼"
                                onkeyup="value=value.replace(/[^a-zA-Z0-9]/g, '')" maxlength="30" />
                            <div class="SHOWPASS">
                                <i class="bi bi-eye-fill"></i>
                            </div>
                        </div>
                        <!-- 電話：只能輸入數字 最多十位數 -->
                        <div class="INPUT_GROUP">
                            <i class="bi bi-phone"></i>
                            <input type="tel" name="SIGNUP_PHONENO" class="SIGNUP_PHONENO" autocomplete="phone"
                                placeholder="請輸入手機號碼" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                maxlength="10" />
                        </div>
                        <!-- 信箱：只能英文和數字和'@'和'.' -->
                        <div class="INPUT_GROUP">
                            <i class="bi bi-envelope"></i>
                            <input type="email" name="SIGNUP_EMAIL" class="SIGNUP_EMAIL" autocomplete="email"
                                placeholder="請輸入電子信箱" onkeyup="value=value.replace(/[^a-zA-Z0-9@.]/g, '')" />
                        </div>
                        <div class="INPUT_GROUP">
                            <i class="bi bi-key"></i>
                            <input type="number" name="verifyNum" class="VERIFYINPUT SIGNUP_VERIFY"
                                placeholder="請輸入驗證碼" />
                            <button class="VERIFBTN BTN">
                                發送驗證碼
                            </button>
                        </div>
                        <div class="INPUT_WARN">
                            <p>註冊資料不得為空！</p>
                            <p>請輸入姓名！</p>
                            <p>請輸入密碼！</p>
                            <p>請輸入確認密碼！</p>
                            <p>請輸入手機號碼！</p>
                            <p>請輸入信箱！</p>
                            <p>請輸入驗證碼！</p>
                            <p>驗證碼不正確！</p>
                            <p>兩次密碼輸入不相同！</p>
                            <p>手機號碼不正確！</p>
                        </div>


                    </div>

                    <p>＊送出即同意「會員服務條款、隱私權保護聲明」</p>
                    <div class=" SIGNUP_SUB BTN" onclick="joinSub()">驗證並送出</div>
                </form>
            </div>

            <!-- 註冊成功畫面 -->
            <div id="popup_signup_succ" class="POPUP_BOX">
                <img src="./img/user_popup/USER_LOGO.png" alt="" class="USER_LOGO">
                <div class="USER_FORM">
                    <img class="SIGNUP_SUCC" src="./img/user_popup/SIGNUP_SUCC.png" alt="">
                </div>
                <div class="BACKTOLOGIN_BOX">
                    <p>＊三秒後將跳轉到登入頁，如果沒跳轉請點選按鈕</p>
                    <div class="BTN SUCC_BTN BACKLOGIN_BTN">登入會員</div>
                </div>
            </div>
            <!-- 忘記密碼 -->
            <div id="popup_forgetpass" class="POPUP_BOX ">
                <img src="./img/user_popup/USER_LOGO.png" alt="" class="USER_LOGO">
                <form class="USER_FORM">
                    <!-- 信箱：只能英文和數字和'@'和'.' -->
                    <div class="INPUT_GROUP">
                        <i class="bi bi-envelope"></i>
                        <input type="email" name="email" autocomplete="email" placeholder="請輸入電子信箱"
                            onkeyup="value=value.replace(/[^a-zA-Z0-9@.]/g, '')" />
                    </div>

                    <div class="INPUT_GROUP">
                        <i class="bi bi-key"></i>
                        <input type="number" name="verifyNum" class="VERIFYINPUT" placeholder="請輸入驗證碼" />
                        <button class="VERIFBTN BTN">
                            發送驗證碼
                        </button>
                    </div>
                    <div class="BACKLOGIN_BOX">
                        <button type="button" class="BACKLOGIN_BTN">返回登入</button>
                    </div>
                    <div class="FORGETPASS_DESC">
                        <p>＊系統已寄出驗證信，請至信箱收取。</p>
                        <p>＊若過久未收到驗證信件，請至垃圾信件匣或其他收件匣確認。</p>
                    </div>
                </form>
                <div class="PASS_SEND_BOX">
                    <p>＊送出後會直接跳轉到修改密碼頁</p>
                    <div class="TOPASS_BTN BTN">送出</div>
                </div>
            </div>
            <!-- 修改密碼 -->
            <div id="popup_changepass" class="POPUP_BOX">
                <img src="./img/user_popup/USER_LOGO.png" alt="" class="USER_LOGO">
                <form class="USER_FORM">
                    <!-- 密碼：只能英文和數字/長度限制30 -->
                    <div class="INPUT_GROUP">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" name="password" class="PASSWORD" placeholder="請輸入密碼"
                            onkeyup="value=value.replace(/[^a-zA-Z0-9]/g, '')" maxlength="30" />
                        <div class="SHOWPASS">
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                    <div class="INPUT_GROUP">
                        <i class="bi bi-lock"></i>
                        <input type="password" name="password" class="PASSWORD" placeholder="請再確認一次密碼"
                            onkeyup="value=value.replace(/[^a-zA-Z0-9]/g, '')" maxlength="30" />
                        <div class="SHOWPASS">
                            <i class="bi bi-eye-fill"></i>
                        </div>
                    </div>
                </form>
                <div class="PASS_SEND_BOX">
                    <div class="PASS_SUB BTN">修改密碼</div>
                </div>
            </div>
            <!-- 修改完成畫面 -->
            <div id="popup_changepass_succ" class="POPUP_BOX">
                <img src="./img/user_popup/USER_LOGO.png" alt="" class="USER_LOGO">
                <div class="USER_FORM">
                    <img class="CHANGEPASS_SUCC" src="./img/user_popup/CHANGEPASS_SUCC.png" alt="">
                </div>
                <div class="BACKTOLOGIN_BOX">
                    <p>＊三秒後將跳轉到登入頁，如果沒跳轉請點選按鈕</p>
                    <div class="BTN SUCC_BTN BACKLOGIN_BTN">登入會員</div>
                </div>
            </div>

        </div>
    </div>
</div>