.ABOUT{
    
    .M_FUNTION{
        display: none;
    }


    .TOGGLE {
        position: relative;
        height: 45px;
        width: 45px;
        cursor: pointer;
    }
    .TOGGLE:after, .TOGGLE:before{
        content: "";
        background: $white;
        width: 33px;
        height: 5px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
        border-radius: 5px;
        
    }
    
    .TOGGLE > span{
        content: "";
        background: $white;
        width: 33px;
        height: 5px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 5px;
    }
    
    
    .TOGGLE{
        display: none;
    }
    
    
    
    .TOGGLE:before {
        top: -50%;
    }
    
    .TOGGLE > span{
        top: 10%;
    }
    
    .TOGGLE:after {
        top: 70%;
    }
    
    .TOGGLE.close:before {
        transform: rotate(-225deg);
        top: 0;
    }
    .TOGGLE.close:after {
        transform: rotate(225deg);
        top: 0;
    }

   


// ==================================================
.BACKGROUND{
    position: relative;
}

// .BACKGROUND::after{
//     content: "";
//     background-image: url('/img/index/test.jpg');
//     top: 0;
//     left: 0;
//     position: absolute;
//     display: block;
// }
.CAROUSEL{
    position: relative;
    .PAWPAW > picture > img{
        position: absolute;
        top: 50%;
        left: 6vw;
        width: 35vw;
        
    }
}

.DOT1{
    display: none;
}

.DOT2{
    
    position: absolute;
    width: 200px;
    height: 200px;
    left: -120px;
    bottom: 0px;
    z-index: 0;

}

// =================  麵包屑  =====================
.BREAD{
    padding-top:30px ;
}

// ================================

.ABOUTUS_TITLE{
    position: relative;
    color: $white;
    z-index: 10;
    margin-top: 50px;
    margin-bottom: 40px;

    

    .ABOUTUS_TITLE_IMG {
        background-image: url(../../img/TITLE-BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 280px;
        height: 100px;
        padding: 5px 20px;
        box-sizing: border-box;

        h1{
            text-align: left;
            padding-top: 10px;
        }

        p {
            padding-top: 5px;
            padding-left: 5px;
        }

    }

}


.FAKE_HIGH{
    // height: 705px;
    height: 75.4vh;
}


.ABOUT_BG > picture > img{
    width: 100%;
    position: absolute;
    top: 145px;
}

// ======================================



.SMALL_TITLE{
    display: flex;
    padding-bottom: 5px;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 70px;
    position: relative;
    
}

.SMALL_TITLE > h2{
    z-index: 10;
}

.DOT{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 30px;
    bottom: 40px;
    z-index: 10;

}


// ================= 醫院簡介 ====================

.CLINIC_PROFILE{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
    margin-bottom: 80px;

}

.CLINIC_PROFILE > img{
    float: left;
    padding-right: 60px;
}

.CLINIC_PROFILE > .p1{
    padding-top: 38px;
    line-height: 160%;
    text-align: justify;
    color: $blueblack;

}

.CLINIC_PROFILE > .p2{
    display: none;
}

.BTN_WRAAPER{
    display: none;
}

// =================== 醫師陣容 ======================

.TEAM_BG{
    background-image: url('/img/about/teambg.jpg');
    padding-top: 100px;
}

.TEAM_WRAPPER{
    max-width: 900px;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.TEAM_WRAPPER > p{
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 160%;
    color: $blueblack;
    text-align: left;
}


.TEAM_WRAPPER_PRODUCERS{
    width: 1440px;
    height: 800px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin-left: 400px;
    padding-right: 900px;
    justify-content: end;
    flex-direction: column;
    border: 1px solid;

}

.swiper-button-prev{
    position: absolute;
    top: 230px;
    left: 1000px;
}

.swiper-button-next{
    position: absolute;
    top: 230px;
    right: 300px;
}

.swiper {
    width: 300px;
    height: 500px;
    align-items: center;
    overflow:visible;
  }

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: border-box
}

.swiper-slide-active > section > img{
    width: 300px; 
    height: 500px;
    transform: scale(1.8);
    margin-bottom: 80px;
    overflow: visible;
    border-radius: 0 100px 0 0;
    // margin: 30px;
  
  }

  .swiper-slide{
    // padding: 30px;
  }

  .swiper-slide section > img{
    width: 200px;
    height: 300px;
    
  }


// ============== 設備介紹 ==============
.INTRODUCTION{
    text-align: center;
    width: 100%;
}

.INTRODUCTION > p{
    margin: 100px 0;
    color: $blueblack;
}

.INTRODUCTION_PHOTO{
    display: flex;
}


.GALLERY{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    
    
}

.GALLERY a{
    margin:  0 15px 44px;
}

.GALLERY img{
    width: 277px;
    height: 277px;
    border-radius: 0 50px 0 0;
}




#IMG_CONTAINER{
    position: relative;
    width: 1070px;
    height: 600px;
    overflow: hidden;
    border-radius: 0 100px 0 0;
}

#IMG_CONTAINER > img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}







// ================= 交通位置及門診時刻表 ====================


.LOCATION_WRAPPER{
    margin-top: 150px;
    padding-bottom: 200px;
    display: flex;

}

.LOCATION_LEFT{
    width: 50%;
    // border: 1px solid;
}

.LOCATION_RIGHT{
    width: 50%;
    padding-left: 30px;
}

.LOCATION_LOGO{
    margin-bottom: 20px;
}

.LOCATION_INFORMATION{
    display: flex;
    padding: 10px 0;

    i{
        font-size: 35px;
        color: $blueblack;
        padding-right: 15px;
    }

    p{
        line-height: 35px;
        color: $blueblack;
    }
}


.LOCATION_TIMETABLE{
    margin-top: 20px;

    img{
        border-radius: 10px ;
    }
}

}













// =========================  RWD ===============================

// 手機版414px
@mixin m() {
    @media screen and (max-width: 414px) {
        @content;
    }
}


@include m {
    .ABOUT{


        
        .BIG_TITLE { 
            padding-top: 30px;
            position: relative;
        }

        //================= 主視覺部分  ===================
        .APPOINTMENT{
            display: none;
        }

        .M_FUNTION{
            display: block;
            position: fixed;
            z-index: 100;
            bottom: 0;

            ul{
                display: flex;
                justify-content: space-between;
                width: 100vw;   
                height: 90px;
                background: linear-gradient(90deg, #F89F69 0%, #fc9a5e 40%, #A7CFD7 100%);


                li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: $white;
                    text-align: center;
                    padding:  0 15px;
                    i{
                        font-size: 25px;
                        padding-bottom: 15px;
                    }

                    .arrow{
                        font-size: 40px;
                    }
                }
            }
        }

        //
   
        .HEADER_NAV > img{
            width: 75px;
        }
       
        .HEADER_NAV > ul{
            display: none;
        }

        .HEADER_NAV > .TOGGLE{
            display: block;
            margin-top: 14px;
            text-align: right;
            position: absolute;
            right:   15px;
            top: 0;
     
        }
        .HEADER_NAV .TOGGLE > span.close{
            transition: opacity 1s ;
            opacity: 0;
        }

        .HEADER_NAV .TOGGLE.close:before {
            transform: rotate(-225deg);
            top: 0;
        }
        .HEADER_NAV .TOGGLE.close:after {
            transform: rotate(225deg);
            top: 0;
        }

        .CAROUSEL{
 
            .PAWPAW > picture > img{
                position: absolute;
                top: 5%;
                left: 25vw;

                width: 55vw;
                
            }
            
            
        

            .DOT{
                
                position: absolute;
                width: 120px;
                height: 120px;
                left: -62px;
                top: 25vh;
                z-index: 10;
                
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: radial-gradient(circle, $white 0%, $white 20%, transparent 25%, transparent 100%);
                    background-size: 10px 10px;
                    background-position: 0 0;
                }
            }
            
            .DOT1{
                display: block;
                position: absolute;
                width: 170px;
                height: 170px;
                left: auto;
                right: 10px;
                bottom: -10px;
                z-index: 10;
    

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: radial-gradient(circle, $white 0%, $white 20%, transparent 0%, transparent 100%);
                    background-size: 14px 14px;
                    background-position: 0 0;
                }
            
            }

        }
        

    //  ========= header下方區塊的背景 ==========



//         .BACKGROUND_BG{
            
     
//             >img{
//                 position: absolute;
//                 width: 500px;
//                 height: 500px;
//                 bottom: 0;
//             }
//         }

//         .DOT2{
//             display: none;
//         }

    //============關於院所TITLE========== 

    .ABOUTUS_TITLE{

        &::after {
            content: "";
            position: absolute;
            border: 2px solid $lightblue;
            width: 89vw;
            bottom: 0;
            left: 0;
        }
    }

    .FAKE_HIGH{
        // height: 705px;
    
        height: 62vh;
    }


    .ABOUT_BG > picture > img{
        width: 100%;
        position: absolute;
        top:195px;
    }


    // ================= 醫院簡介 ====================

    .DOT2{
        display: none;
    }

    .CLINIC_PROFILE{
        margin: 0 auto;
        margin-top: 50px;
        max-width: 1200px;
        margin-bottom: 80px;

    }

    .CLINIC_PROFILE > img{
        display: block;
        float:none;
        padding-right: 0px;
        margin: 0 auto;
        width: 166px;
    }

    .CLINIC_PROFILE > .p1{
        display: none;
    }

    .CLINIC_PROFILE > .p2{
        
        padding-top: 40px;
        line-height: 160%;
        display: block;
        text-align: justify;
     
    }

    .BTN_WRAAPER{
        text-align: center;

        .BTN{
            width: 135px;
            height: 50px;
            font-size: 15px;
            line-height: 50px;
            
        }
    }

    //======= 設備介紹 =======

    .EN{
        letter-spacing: 1px;
    }


    .INTRODUCTION{
        margin: 0 auto;
        text-align: center;
        width: auto;
        
    }
    
    .INTRODUCTION > p{
        margin: 60px auto;
        line-height: 160%;
        text-align: justify;
        letter-spacing: normal;
        width: 90%;
    }
    
    .INTRODUCTION_PHOTO{
    
        display: block;

        #IMG_CONTAINER{
            display: flex;
            width: 400px;
            height: 340px;

            img{
                border-radius: 0 100px 0 0 ;
            }
        }
    }
    
   
    
    .GALLERY{
        padding-top: 20px;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 90%;
        height: 80px;
        
    }
    
    .GALLERY a{
        margin:  0 ;
    }
    
    .GALLERY img{
        width: 80px;
        height: 80px;
        border-radius: 0 30px 0 0;
    }
    

        // ================= 交通位置及門診時刻表 ====================


        .LOCATION_WRAPPER{
            
            margin-top: 80px;
            padding-bottom: 50px;
            flex-direction: column;
            
        }

        .LOCATION_LEFT{
            width: auto;
            order: 1;
            margin-top: 30px;
            
            iframe{
                width: 100%;
                height: 33vh;
            }
            // border: 1px solid;
        }

        .LOCATION_RIGHT{
            width: auto;
            padding-left: 0;
            order: 0;
        }

        .LOCATION_LOGO{
            margin-bottom: 20px;

            >img{
                width: 260px;
                height: 80px;
            }
        }

        .LOCATION_INFORMATION{
            display: flex;
            padding: 10px 0;

            i{
                font-size: 18px;
              
            }

            p{
                line-height: 20px;

                font-size: 15px;
            }
        }


        .LOCATION_TIMETABLE{
            margin-top: 0;
            >picture{

                >img{
                    margin-top: 20px;
                    width: 90vw;
                    border-radius: 10px;
                }
            }
            
        
        }

            

        // ================ footer ====================
        .TOP_BTN{
            display: none;
        }
        
        .FOOTER_TOP_BTN{
            display: block;
        }

        footer{
    
      
            height: 162px;
         
        }

        .FOOTER_LOGO{
            margin-left: 11vw;
            margin-top: 3.5vh;
        }
        

        .FOOTER_NAV{
            display: none;
        
        }

        .FOOTER_ICON{
            position: absolute;
            top: 11%;
            right: 5%;
        }

        .FOOTER_ICON > a > img{
            padding: 15px;
            width: 20px;
        }


      
        .FOOTER_BOTTOM{
            display: flex;
            width: auto;
            height: 87px;
            background-color: #252F3A;
            line-height: 87px;
            align-items: center;
            margin-bottom: 87px;
        }

        .FOOTER_BOTTOM > p{
            padding: 0 15px;
            font-size: 15px;
            line-height: 150%;
            font-weight: 400;
        }
        
    }
}