.ABOUT{
    




// ==================================================
.BACKGROUND{
    position: relative;
}

// .BACKGROUND::after{
//     content: "";
//     background-image: url('/img/index/test.jpg');
//     top: 0;
//     left: 0;
//     position: absolute;
//     display: block;
// }
.CAROUSEL{
    position: relative;
}

.DOT{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 30px;
    bottom: 40px;
    z-index: 10;

}

// =================  麵包屑  =====================
.BREAD{
    padding-top:30px ;
}

// ================================

.ABOUTUS_TITLE{
    position: relative;
    color: $white;
    z-index: 10;
    margin-top: 50px;
    margin-bottom: 40px;
    

    .ABOUTUS_TITLE_IMG {
        background-image: url(../../img/TITLE-BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 280px;
        height: 100px;
        padding: 5px 20px;
        box-sizing: border-box;

        h1{
            text-align: left;
            padding-top: 10px;
        }

        p {
            padding-top: 5px;
            padding-left: 5px;
        }

    }

}


.FAKE_HIGH{
    // height: 705px;
    height: 75.4vh;
}


.ABOUT_BG > img{
    width: 100%;
    position: absolute;
    top: 145px;
}

// ======================================



.SMALL_TITLE{
    display: flex;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 70px;
    position: relative;
    
}

.SMALL_TITLE > h2{
    z-index: 10;
}

.DOT{
    position: absolute;
    width: 200px;
    height: 200px;
    left: -120px;
    bottom: 0;
    z-index: 0;
    
}

// ================= 醫院簡介 ====================

.CLINIC_PROFILE{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
    margin-bottom: 80px;

}

.CLINIC_PROFILE > img{
    float: left;
    padding-right: 60px;
}

.CLINIC_PROFILE > p{
    padding-top: 38px;
    line-height: 160%;
    text-align: justify;
    color: $blueblack;

}

// =================== 醫師陣容 ======================

.TEAM_BG{
    background-image: url('/img/about/teambg.jpg');
    padding-top: 100px;
}

.TEAM_WRAPPER{
    max-width: 900px;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.TEAM_WRAPPER > p{
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 160%;
    color: $blueblack;
    text-align: left;
}


.TEAM_WRAPPER_PRODUCERS{
    width: 1440px;
    height: 800px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin-left: 400px;
    padding-right: 1000px;
    justify-content: end;
    flex-direction: column;
    border: 1px solid;

}

.swiper-button-prev{
    position: absolute;
    top: 50px;
    right: 100px;
}

.swiper {
    width: 250px;
    height: 500px;
    align-items: center;
    overflow:visible;
  }

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: border-box
}

.swiper-slide-active{
    width: 300px;
    height: 500px;
    transform: scale(1.8);
    margin-bottom: 80px;
    overflow: visible;
    // margin: 30px;
  
  }

  .swiper-slide{
    // padding: 30px;
  }

  .swiper-slide section > img{
    width: 200px;
    height: 300px;
    
  }


// ============== 設備介紹 ==============
.INTRODUCTION{
    text-align: center;
    width: 100%;
}

.INTRODUCTION > p{
    margin: 100px 0;
    color: $blueblack;
}

.INTRODUCTION_PHOTO{
    display: flex;
}


.GALLERY{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    
    
}

.GALLERY a{
    margin:  0 15px 44px;
}

.GALLERY img{
    width: 277px;
    height: 277px;
    border-radius: 0 50px 0 0;
}




#IMG_CONTAINER{
    position: relative;
    width: 1070px;
    height: 600px;
    overflow: hidden;
    border-radius: 0 100px 0 0;
}

#IMG_CONTAINER > img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}







// ================= 交通位置及門診時刻表 ====================


.LOCATION_WRAPPER{
    margin-top: 150px;
    padding-bottom: 200px;
    display: flex;

}

.LOCATION_LEFT{
    width: 50%;
    // border: 1px solid;
}

.LOCATION_RIGHT{
    width: 50%;
    padding-left: 30px;
}

.LOCATION_LOGO{
    margin-bottom: 20px;
}

.LOCATION_INFORMATION{
    display: flex;
    padding: 10px 0;

    i{
        font-size: 35px;
        color: $blueblack;
        padding-right: 15px;
    }

    p{
        line-height: 35px;
        color: $blueblack;
    }
}


.LOCATION_TIMETABLE{
    margin-top: 20px;

    img{
        border-radius: 10px ;
    }
}

}