// 消息管理_搜尋消息

.MESSAGE_MANAGEMENT_SEARCH {
    width: 60%;
    margin: 85px auto 50px;

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        li {
            margin: 10px 0;

            input {
                width: 100%;
            }

            select {
                width: 100%;
            }

            p {
                width: 5%;
                margin-bottom: 20px;
            }

        }

    }

}

.MESSAGE_MANAGEMENT_SEARCH ul li:nth-child(1) {
    width: 30%;
}

.MESSAGE_MANAGEMENT_SEARCH ul li:nth-child(2),
.MESSAGE_MANAGEMENT_SEARCH ul li:nth-child(3) {
    width: 30%;
}

.MESSAGE_MANAGEMENT_SEARCH ul li:nth-child(4) {
    width: 70%;
}

.MESSAGE_MANAGEMENT_SEARCH ul li:nth-child(5) {
    align-self: flex-end;
}

// 消息管理_表格

.MESSAGE_MANAGEMENT_TABLE_ALL {
    width: 90%;
    margin: 30px auto 75px;
    border: 1px solid black;
    border-radius: 10px;

    ul {
        display: flex;
        font-size: $p;
    }

    .BACK_TABLE_TITLE {
        background-color: $red;
        color: $white;
        height: 55px;
        text-align: center;
        line-height: 55px;
        outline: 2px solid $red;
        border-radius: 10px 10px 0 0;
    }

    .BACK_TABLE_CONTENT {
        color: $blueblack;
        text-align: center;
        line-height: 100px;
        min-height: 100px;

        li {
            border-top: 1px solid black;
            border-right: 1px solid black;
            padding: 10px;
            box-sizing: border-box;
        }

        .bi-pencil {
            cursor: pointer;
        }

        .bi-x-lg {
            cursor: pointer;
        }

    }

}

.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(1),
.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(2) {
    width: 10%;
}

.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(3) {
    width: 15%;

    img {
        display: block;
        width: 100%;
    }

}

.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(4) {
    width: 10%;
}

.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(5) {
    width: 35%;
}

.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(6) {
    width: 12.5%;
}

.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(7),
.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(8) {
    width: 5%;
}

.MESSAGE_MANAGEMENT_TABLE_ALL li:nth-child(8) {
    border-right: none;
}

// 新增消息

.ADD_MESSAGE {
    width: 80%;
    margin: 85px auto 50px;
    text-align: center;

    .INPUT {
        display: block;
        text-align: left;
    }

    input {
        width: 100%;
        margin-bottom: 25px;
        text-align: left;
    }

    p {
        color: $blueblack;
        margin: 20px 0 10px;
        text-align: left;
    }

    .PREVIEW_MESSAGE_PIC {
        text-align: left;
    }

    .BTN_BACK {
        display: inline-block;
        margin: 40px 20px;
    }

    .MESSAGE_IMAGE {
        width: 100%;
        height: 570px;
        background-color: #EBE3DD;
        text-align: center;
        margin-bottom: 25px;

        .PREVIEW_MESSAGE_PIC {
            position: relative;

            .bi-image {
                font-size: 100px;
                line-height: 150px;
                position: absolute;
                top: 150px;
                left: 45.65%;
            }

        }

    }

    .PREVIEW_IMG {
        width: 100%;
        height: 570px;
        object-fit: cover;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .IMAGE_BOX:hover::after {
        content: url(../img/backend/message_bg.svg);
        position: absolute;
        width: 100%;
        top: 175px;
        left: 0;
        pointer-events: none;
    }

    .PIC_FILE_BOX {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 180px;
        height: 65px;

        .BTN_BACK {
            width: 160px;
            margin: 295px 0;
            text-align: center;
        }

        // 隱藏原本按鈕
        .PIC_FILE {
            width: 180px;
            height: 65px;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            opacity: 0;
        }
    }

    .BUTTON {
        text-align: center;
    }

}

.ADD_MESSAGE {
    text-align: left;

    .MESSAGE_CLASSIFICATION {
        width: 100%;
        margin-bottom: 25px;
        background-position-x: 98.5%;
    }

    .MESSAGE_STATUS {
        width: 100%;
        margin-bottom: 25px;
        background-position-x: 98.5%;
    }
}