
/* 下方內容 */
.BACK_MAIN_CONTENT{
    display: flex;
}

/* 下方右側 */
.BACK_MAIN_CONTENT_RIGHT{
   width: 82%;
   padding: 55px 65px;
   // box-sizing: border-box;
}

/* --------病歷搜尋表單---------- */
.MEDICAL_RECORD_SEARCH{
   width: 74%;
   margin: 0 auto;

   ul{
      width: 100%;
      margin-top: 85px;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      list-style: none;
      align-items: end;
      padding: 0;
   }

   p{
      width: 5%;
      margin-right: 30px;
      margin-bottom: 10px;
   }

}
.MEDICAL_RECORD_SEARCH input:nth-child(1){
   width: 80%;
}
.MEDICAL_RECORD_SEARCH input:nth-child(2){
   width: 80%;
}
.MEDICAL_RECORD_SEARCH input:nth-child(3){
   width: 60%;
}
.MEDICAL_RECORD_SEARCH input:nth-child(5){
   width: 60%;
}
.BTN_BACK{
   width: 250px;
   margin: 0 auto;
   display: block;
}
/* 病歷搜尋結果 */
.MEDICAL_RECORD_TABLE_ALL{
   width: 74%;
   margin: 0 auto 75px;
   border: 1px solid black;
   border-radius: 10px;

   ul{
      display: flex;
      font-size: $p;
   }
}
.BACK_TABLE_TITLE{
   background-color: $red;
   color: $white;
   height: 55px;
   text-align: center;
   line-height: 55px;
   outline: 2px solid $red;
   border-radius: 10px 10px 0 0;
}
.BACK_TABLE_CONTENT{
   color: $blueblack;
   text-align: center;
   line-height: 80px;
   height: 80px;

   li{
      border-top: 1px solid black;
      border-right:1px solid black;
   }
}

.MEDICAL_RECORD_TABLE_ALL li:nth-child(1){
   width: 20%;
}
.MEDICAL_RECORD_TABLE_ALL li:nth-child(2){
   width: 17%;
}
.MEDICAL_RECORD_TABLE_ALL li:nth-child(3){
   width: 17%;
}
.MEDICAL_RECORD_TABLE_ALL li:nth-child(4){
   width: 30%;
}
.MEDICAL_RECORD_TABLE_ALL li:nth-child(5){
   width: 8%;
}
.MEDICAL_RECORD_TABLE_ALL li:nth-child(6){
   width: 8%;
   border-right: none;
}

/*----------新增病歷----------*/
.ADD_MEDICAL_RECORD{
   width: 55%;
   margin: 0 auto;
}
.ADD_MEDICAL_RECORD_FORM{
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   justify-content: space-between;
   align-content: center;
   margin-bottom: 70px;

   p{
      margin: 10px 0;
   }
   input{
      width: 100%;
   }
   select{
      width: 100%;
   }
}
.ADD_MEDICAL_RECORD_FORM li:nth-child(1){
   flex-basis: 100%;
   margin-bottom: 20px ;
}
.ADD_MEDICAL_RECORD_FORM li:nth-child(8){
   flex-basis: 100%;
}
.ADD_MEDICAL_RECORD_FORM li:nth-child(9){
   flex-basis: 100%;
}
.ADD_MEDICAL_RECORD_FORM li{
   width: 45%;
}
textarea{
   width: 100%;
}
/* 上傳檔案input */
.FILEBOX{
   position: relative;
   font-size: $p;
   color: $blueblack;

   /* 檔案名稱 */
   .FILENAME{
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      height: 45px;
      font-size: $littleword;
      color: $blueblack;
      border: 1px solid #9E9E9E;
      margin: 10px 0;
   }
   /* 選取檔案按鈕 */
   .FILEBUTTON{
      background-color: #D9D9D9;
      width: 145px;
      height: 45px;
      padding: 10px;
      border:0;
      border-radius:0 10px 10px 0;
      
      position:absolute;
      top: 35px;
      right:0px;
      cursor:pointer;
   }

   /* 隱藏原按鈕 */
   .FILE{
      width: 145px;
      height: 45px;

      position:absolute;
      top: 24px;
      right:-12px;
      cursor:pointer;

      /* filter:alpha( opacity : 0); */
      opacity: 0;
   }

}
.BTN_BOX{
   display: flex;
}

/*----------會員管理區塊---------*/
/* 會員管理 */
.MEMBER_PROFILE{
   width: 76.5%;
   margin: 0 auto;
}
.BACK_BANNER{
   width:100%;
   height:60px;
   background-color:#CB5656;
   color: white;
   font-size:30px;
   line-height:60px;
   border-radius:10px;
   border: none;
   padding-left: 20px;
}
.MEMBER_PROFILE_SEARCH{
   width: 75%;
   margin: 70px auto 50px;

   ul{
      font-size: $p;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
} 
.MEMBER_PROFILE_TABLE{
   width: 86%;
   margin: 0 auto;
   border: 1px solid black;
   border-radius: 10px;

   ul{
      display: flex;
      font-size: $p;
  }

}
.MEMBER_PROFILE_TABLE li:nth-child(1){
   width: 19%;
}
.MEMBER_PROFILE_TABLE li:nth-child(2){
   width: 19%;
}
.MEMBER_PROFILE_TABLE li:nth-child(3){
   width: 33%;
}
.MEMBER_PROFILE_TABLE li:nth-child(4){
   width: 7%;
}
.MEMBER_PROFILE_TABLE li:nth-child(5){
   width: 7%;
}
.MEMBER_PROFILE_TABLE li:nth-child(6){
   width: 15%;
   border-right: none;
}

/* 寵物搜尋 */
.PET_PROFILE{
   width: 76.5%;
   margin: 100px auto 0;
}
.PET_PROFILE_SEARCH{
   width: 75%;
   margin: 70px auto 50px;

   ul{
      font-size: $p;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
/* 寵物搜尋結果 */
.PET_PROFILE_TABLE{
   width: 90%;
   margin: 0 auto;
   border: 1px solid black;
   border-radius: 10px;

   ul{
      display: flex;
      font-size: $p;
  }
}
.PET_PROFILE_TABLE li:nth-child(1){
   width: 23%;
}
.PET_PROFILE_TABLE li:nth-child(2){
   width: 20%;
}
.PET_PROFILE_TABLE li:nth-child(3){
   width: 23%;
}
.PET_PROFILE_TABLE li:nth-child(4){
   width: 20%;
}
.PET_PROFILE_TABLE li:nth-child(5){
   width: 7%;
}
.PET_PROFILE_TABLE li:nth-child(6){
   width: 7%;
   border-right: none;
}
