.INDEX{
    overflow-x: hidden;

    .M_HEADER_NAV{
        display: none;
    }

    .BIG_TITLE { 
        padding-top: 100px;
        position: relative;
    }

    .M_FUNTION{
        display: none;
    }


    .TOGGLE {
        position: relative;
        height: 45px;
        width: 45px;
        cursor: pointer;
    }
    .TOGGLE:after, .TOGGLE:before{
        content: "";
        background: $white;
        width: 33px;
        height: 5px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
        border-radius: 5px;
        
    }

    .TOGGLE > span{
        content: "";
        background: $white;
        width: 33px;
        height: 5px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 5px;
    }


    .TOGGLE{
        display: none;
    }



    .TOGGLE:before {
        top: -50%;

    }

    .TOGGLE > span{
        top: 10%;
        transition: all 1.5s;
    }

    .TOGGLE:after {
        top: 70%;
    }

    .TOGGLE.close:before {
        transform: rotate(-225deg);
        top: 0;
        background: $red;
    }
    .TOGGLE.close:after {
        transform: rotate(225deg);
        top: 0;
        background: $red;
    }


// ============= 動物插畫區 =================


.SHOPPINGHOT_ANI{
    animation:ANI 15s  linear infinite; 
    
   

    .HIPPO{
        background-image: url(../../img/index/test.png);
        width: 300px;
        height: 200px;
        background-size: 1800px 200px;
        animation:ANI4 2.5s steps(6,end) infinite; 
        position: absolute;
        bottom: -20px;
        right: 220px;
        margin: 0;
        padding: 0  ;
    }
    
    @keyframes ANI4 {
        0%{
            background-position-x: 0px;
        }
    
        100%{
            background-position: -1800px;
        }
    }
    
    .HIPPO2{
        background-image: url(../../img/index/test.png);
        width: 150px;
        height: 100px;
        background-size: 900px 100px;
        animation:ANI5 2.5s steps(6,end) infinite; 
        position: absolute;
        bottom: -20px;
        right: 30px;
        margin: 0;
        padding: 0  ;
    }
    
    @keyframes ANI5 {
        0%{
            background-position-x: 0px;
        }
    
        100%{
            background-position: -900px;
        }
    }
    
}

@keyframes ANI {
    0%{
        transform: translate(1200px);
    }

    100%{
        transform: translate(600px);
    }
}


// ======== (資訊導覽) =======
.DINO_RABBIT{
    position: absolute;
    width: 120px;
    bottom: 4px;
    left: 25vw;
    display: block;
    animation: walk 5s alternate infinite;
}
@keyframes walk {
    0%{
        left: 25vw;
        
    }

    100%{
        left: 60vw;
    }
}

//========== (服務項目) =========



// ==================================================
.BACKGROUND{
    position: relative;
    background-image: url('../../img/index/index_bg.jpg');
    
}


.CAROUSEL{
    position: relative;
}

.DOT{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 30px;
    bottom: 40px;
    z-index: 10;
    
}

.DOT1{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    bottom: 0px;
    z-index: 10;

}

.DOT2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 5px;
    z-index: 10;

}


// ==========看診進度==========
.CONSULTATION_UL{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 120px;
    transform: translateX(400%); 
    transition: transform 0.6s ease;
}

.CONSULTATION_UL.show{
    transform: translateX(0);
}

.CONSULTATION_ITEM{
    padding: 0 90px;
}

.TOPBACKGROUND_1 , .TOPBACKGROUND_2, .TOPBACKGROUND_3{
    width: 293px;
    height: 55px;
    background-color: $lightblue;
    border-radius: 10px 10px 0 0;
    position: relative;
}


.TOPBACKGROUND_1::after{
    content: "第一診間";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    width: 182px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 100px;
    background-color: $orange;
}

.TOPBACKGROUND_2::after{
    content: "第二診間";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    width: 182px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 100px;
    background-color: $orange;
}

.TOPBACKGROUND_3::after{
    content: "第三診間";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    width: 182px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 100px;
    background-color: $orange;
}


.CONSULTATIONCARD{
    width: 293px;
    height: 296px;
    background-color: $white;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    


    >p{
        padding: 20px 0;
        font-weight: 500;
        color: $blueblack;
    }

    

    .CONSULTATION_NUM{
        font-size: 80px;
        font-weight: 700;
        color: $orange;
    }
}


// ======== 資訊導覽 ========

.INFORMATION_CARD{
    padding-top: 50px;
    position: relative;

}

.DOT3{
   
    position: absolute;
    width: 420px;
    height: 420px;
    right: -230px;
    top: 50%;
    transform: translate(0,-45%);
    z-index: 0;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, $white 10%, $white 28%, transparent 0%, transparent 100%);
        background-size: 17px 17px;
        background-position: 0 0;
    }

}

.INFORMATION_CARD_A{
    color: $blueblack;
    transition: all 0.3s ease;
    &:hover{
        filter: drop-shadow(0px 0px 5px $blueblack);
        transform: scale(1.05);
    }
}


.BTN_WRAAPER{
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}

.BTN{
    width: 320px;
    
}

// =========== 服務項目 =============
.BIG_TITLE{
    z-index: 0;
}

.DOT4{
   
    position: absolute;
    width: 200px;
    height: 200px;
    left: -100px;
    top: 70%;
    transform: translate(0,-45%);
    z-index: -1;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, $white 0%, $white 28%, transparent 0%, transparent 100%);
        background-size: 17px 17px;
        background-position: 0 0;
    }

}


.Services_UL{
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    position: relative;
   

    
    
}


.Services_ITEM{
    padding: 0 40px;
    text-align: center;
    z-index:1;
}

.Services_ITEM > img{
    border-radius: 80px 10px 80px 10px;
}

.Services_ITEM h3{
    padding-top: 30px;
    padding-bottom: 15px;
}


// ============= 醫院特色 ===================


.DOT5{
   
    position: absolute;
    width: 200px;
    height: 200px;
  
    top:135px;

    right: 190px;
    transform: translate(0,-45%);
    z-index: 0;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, $white 0%, $white 28%, transparent 0%, transparent 100%);
        background-size: 17px 17px;
        background-position: 0 0;
    }

}


.DOT6{
   
    position: absolute;
    width: 420px;
    height: 420px;
  
    top:13.45px;

    right: -235px;
    transform: translate(0,-45%);
    z-index: -1;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, $white 0%, $white 28%, transparent 0%, transparent 100%);
        background-size: 17px 17px;
        background-position: 0 0;
    }

}



.FEATURE_WRAPPER{
    display: flex;
  
    
}

.FEATURE_LEFT{
    margin-bottom: 120px;
}

.FEATURE_ITEM{
    display: flex;
    justify-content: space-between;
    // padding: 60px 0;
    &:first-child{
        padding-top: 100px;
        padding-bottom: 90px;
    }
    
    &:nth-child(2) {
        padding-bottom: 90px;
    }
    
    &:nth-child(3) {
        padding-bottom: 90px;
    }

    &:last-child{
        padding-bottom: 100px;
        // padding-top: 60px;
    }
    
}

.FEATURE_ITEM > .P1{
    line-height: 160%;
    padding: 0 50px;
    font-weight: 500;
    text-align: justify;
}

.FEATURE_ITEM .P2{
    display: none;
}

.FEATURE_RIGHT {
    z-index: 0;
}
.FEATURE_RIGHT > img{
    border-radius: 100px 0 0 100px;
    
}

.ARC_TITLE{
  
    min-width: 80px;
    min-height: 80px;
    
}

// ============== 核心項目 ====================

.CORE_CONTENT{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
   
    
}


.CORE_CONTENT_ITEM{
    padding: 0 20px;
    text-align: center;
    color: $blueblack;
 
    transition: all 0.3s ease;
    &:hover{
        filter: drop-shadow(0px 0px 5px $blueblack);
        transform: scale(1.05);
    }
}

.CORE_CONTENT_ITEM.COL-4{
    width: 400px;
}

.CORE_CONTENT_ITEM > li >img{
    border-radius: 80px 10px 80px 10px;
}

.CORE_CONTENT_ITEM > li > h3{
    padding-top: 30px;
    padding-bottom: 15px;
}



// ================= 交通位置及門診時刻表 ====================


.LOCATION_WRAPPER{
    margin-top: 150px;
    padding-bottom: 100px;
    display: flex;

}

.LOCATION_LEFT{
    width: 50%;
    // border: 1px solid;
    position: relative;


    .DOT7{
   
        position: absolute;
        width: 420px;
        height: 420px;
      
        top: 40px;
    
        left: -235px;
        transform: translate(0,-45%);
        z-index: 0;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(circle, $white 0%, $white 28%, transparent 0%, transparent 100%);
            background-size: 17px 17px;
            background-position: 0 0;
        }
    
    }
}

.LOCATION_RIGHT{
    width: 50%;
    padding-left: 30px;
}

.LOCATION_LOGO{
    margin-bottom: 20px;
}

.LOCATION_INFORMATION{
    display: flex;
    padding: 10px 0;

    i{
        font-size: 35px;
        color: $blueblack;
        padding-right: 15px;
    }

    p{
        line-height: 35px;
        color: $blueblack;
    }
}


.LOCATION_TIMETABLE{
    margin-top: 22.5px;

    >picture{
        >img{
            border-radius: 10px ;
        }
    }
}

    


// ========== footer上小動畫 ==========

    .FOOTER_ANI{
        position: relative;
        width: 165px;
    }

    .SHEEP{
        background-image: url(../../img/index/footer.png);
        width: 165px;
        height: 400px;
        background-size: 960px 400px;
        animation:ANISHEEP 10s steps(6,end) infinite; 
        position: absolute;
        bottom: 50px;
        right: 30px;
        margin: 0;
        padding: 0  ;
    }

    @keyframes ANISHEEP {
        0%{
            background-position-x: 0px;
        }

        100%{
            background-position: -960px;
        }
    }

}
// =========================  RWD ===============================

// 手機版414px
@mixin m() {
    @media screen and (max-width: 414px) {
        @content;
    }
}


@include m {

    
    .INDEX{
        .DOT3, .DOT4, .DOT5, .DOT6, .DOT7{
            display: none;
        }

        
        .BIG_TITLE { 
            padding-top: 30px;
            position: relative;
        }

        .HEADER_NAV{
            display: none;
        }


        .M_HEADER_NAV{
            display: block;
        }

        //================= 主視覺部分  ===================
        .APPOINTMENT{
            display: none;
        }

        .M_FUNTION{
            display: block;
            position: fixed;
            z-index: 100;
            bottom: 0;

            ul{
                display: flex;
                justify-content: space-between;
                width: 100vw;   
                height: 90px;
                background: linear-gradient(90deg, #F89F69 0%, #fc9a5e 40%, #A7CFD7 100%);


                li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: $white;
                    text-align: center;
                    padding:  0 15px;
                    i{
                        font-size: 25px;
                        padding-bottom: 15px;
                    }

                    .arrow{
                        font-size: 40px;
                    }
                }
            }
        }

        // ============ header ===========
   
        .M_HEADER_NAV > img{
            width: 75px;
        }
       
        .M_HEADER_NAV > ul{
            display: none;
        }

        .M_HEADER_NAV > .TOGGLE{
            display: block;
            margin-top: 14px;
            text-align: right;
            position: absolute;
            right:   15px;
            top: 0;
            z-index: 100;
     
        }
        .M_HEADER_NAV .TOGGLE > span.close{
            transition: opacity 1s ;
            opacity: 0;
        }

        .M_HEADER_NAV .TOGGLE.close:before {
            transform: rotate(-225deg);
            top: 0;
        }
        .M_HEADER_NAV .TOGGLE.close:after {
            transform: rotate(225deg);
            top: 0;
        }

        .CAROUSEL{


            
        

            .DOT{
                position: absolute;
                width: 120px;
                height: 120px;
                left: -62px;
                top: 25vh;
                z-index: 10;
                
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: radial-gradient(circle, $white 0%, $white 20%, transparent 25%, transparent 100%);
                    background-size: 10px 10px;
                    background-position: 0 0;
                }
            }
            
            .DOT1{
                position: absolute;
                width: 170px;
                height: 170px;
                left: auto;
                right: 10px;
                bottom: -10px;
                z-index: 10;
    

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: radial-gradient(circle, $white 0%, $white 20%, transparent 0%, transparent 100%);
                    background-size: 14px 14px;
                    background-position: 0 0;
                }
            
            }

        }
        

        //  ========= header下方區塊的背景 ==========



        .BACKGROUND_BG{
            
     
            >img{
                position: absolute;
                width: 500px;
                height: 500px;
                bottom: 0;
            }
        }

        .DOT2{
            display: none;
        }

        
        .BIG_TITLE{
            

            .HIPPO_TURTLE1{
                position: absolute;
                width: 80px;
                bottom:  0;
                right: 0;
            
            }

            .HIPPO_TURTLE2 , .HIPPO_TURTLE3{
                display: none;
            }
        }


        // ==========看診進度==========

        .SHOPPINGHOT_ANI{
            animation:none; 

            .ANI{
                background-repeat: repeat;
            }
            .HIPPO{
                background-image: url(../../img/index/test.png);
                width: 100px;
                height: 80px;
                background-size: 600px 80px;
                animation:ANI4 2.5s steps(6,end) infinite; 
                position: absolute;
                bottom: 0px;
                right: 0px;
                margin: 0;
                padding: 0  ;
            }
            
            @keyframes ANI4 {
                0%{
                    background-position-x: 0px;
                }
            
                100%{
                    background-position-x: -600px;
                }
            }
            
            .HIPPO2{
                display: none;
            }
            
        }

      
        
        
        
      
        .CONSULTATION_UL{
            margin-top: 50px;
            margin-bottom: 0px;        
            flex-direction: column;
         
        }

        .CONSULTATION_ITEM{
            padding: 0 ;
         
        }

        .TOPBACKGROUND_1 , .TOPBACKGROUND_2, .TOPBACKGROUND_3{
            width: auto;
        }


        .CONSULTATIONCARD{
            width: auto;
            height: auto;
            margin-bottom: 60px;
            
            >p{
                font-size: 25px;
                padding: 10px 0;

            }
        }


        // ======== (資訊導覽) =======

        .IF{
            padding: 0;
            margin-bottom: 15px;
        }
        
        .DINO_RABBIT{
            position: absolute;
            width: 60px;
            bottom: 4px;
            right: 0;
            left: auto;
            display: block;
            animation: walk 3s alternate infinite;
        }
        @keyframes walk {
            0%{
                right: 0vw;
                
            }

            100%{
                right:10vw;
            }
        }


        .INFORMATION_CARD{
            padding-top: 10px;
        }
        
        
        .BTN_WRAAPER{
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;
        }
        
        .BTN{
            width: 135px;
            height: 50px;
            line-height: 50px;
            font-size: $bread;
        }

        
        // =========== 服務項目 =============


        .Services_UL{
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin:  30px 0;
            
        }


        .Services_ITEM{
            padding: 0 15px;
            text-align: center;
            width: 140px;
            padding-bottom: 25px;
            
            
        }

        .Services_ITEM > img{
            width: 130px;
            height: 130px;
            border-radius: 50px 10px 50px 10px;
        }

        .Services_ITEM h3{
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: $littleword;
            
        }
        .Services_ITEM p{
            font-size: $initial;
        }

        .COL-3{
            margin-right: 0;
        }

        .COL-3:last-child{
            margin-right: 0;
        }



        // ============= 醫院特色 ===================

        .FEATURE_WRAPPER{
            display: flex;
            
        }

        .FEATURE_LEFT{
            margin-bottom: 0px;
        }

        .FEATURE_ITEM{
            display: flex;
            justify-content: space-between;
            // padding: 60px 0;
            &:first-child{
                padding-top: 40px;
                padding-bottom: 20px;
            }
            
            &:nth-child(2) {
                padding-bottom: 20px;
            }
            
            &:nth-child(3) {
                padding-bottom: 20px;
            }

            &:last-child{
                padding-bottom: 0;
 
            }
            
        }

        .FEATURE_ITEM > .P1{
            display: none;
        }

        .FEATURE_ITEM > .P2{
            display: block;
            font-size: 20px;
            line-height: 160%;
            padding-left: 20px;
        }


        .FEATURE_RIGHT > img{
            display: none;
        }

        .ARC_TITLE{
        
            min-width: 40px;
            min-height: 40px;
            
        }
        

        // ============== 核心項目 ====================

        .CORE_CONTENT{
            width: auto;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
    

        }


        .CORE_CONTENT_ITEM{
            padding: 0 ;
            text-align: center;
            &:hover{
                filter: drop-shadow(0px 0px 0px $blueblack);
                transform: scale(1);
            }
        }

        .CORE_CONTENT_ITEM.COL-4{
            width: auto;
            margin-right: 0;
        }
        
        .CORE_CONTENT_ITEM > li > img{
            border-radius: 80px 10px 80px 10px;
            width: 90vw;
        }
        
        .CORE_CONTENT_ITEM > li > h3{
            padding-top: 20px;
            padding-bottom: 5px;
            font-size: 30px;
        }

        .CORE_CONTENT_ITEM > li > p {
            padding-bottom: 30px;
        }
        
   


        // ================= 交通位置及門診時刻表 ====================


        .LOCATION_WRAPPER{
            
            margin-top: 80px;
            padding-bottom: 50px;
            flex-direction: column;
            
        }

        .LOCATION_LEFT{
            width: auto;
            order: 1;
            margin-top: 30px;
            
            iframe{
                width: 100%;
                height: 33vh;
            }
            // border: 1px solid;
        }

        .LOCATION_RIGHT{
            width: auto;
            padding-left: 0;
            order: 0;
        }

        .LOCATION_LOGO{
            margin-bottom: 20px;

            >img{
                width: 260px;
                height: 80px;
            }
        }

        .LOCATION_INFORMATION{
            display: flex;
            padding: 10px 0;

            i{
                font-size: 18px;
              
            }

            p{
                line-height: 20px;

                font-size: 15px;
            }
        }


        .LOCATION_TIMETABLE{
            margin-top: 0;
            >picture{

                >img{
                    margin-top: 20px;
                    width: 90vw;
                    border-radius: 10px;
                }
            }
            
        
        }

            

        // ================ footer ====================
        .TOP_BTN{
            display: none;
        }
        
        .FOOTER_TOP_BTN{
            display: block;
        }

        footer{
    
      
            height: 162px;
         
        }

        .FOOTER_LOGO{
            margin-left: 11vw;
            margin-top: 3.5vh;
        }
        

        .FOOTER_NAV{
            display: none;
        
        }

        .FOOTER_ICON{
            position: absolute;
            top: 11%;
            right: 5%;
        }

        .FOOTER_ICON > a > img{
            padding: 15px;
            width: 20px;
        }


      
        .FOOTER_BOTTOM{
            display: flex;
            width: auto;
            height: 87px;
            background-color: #252F3A;
            line-height: 87px;
            align-items: center;
            margin-bottom: 87px;
        }

        .FOOTER_BOTTOM > p{
            padding: 0 15px;
            font-size: 15px;
            line-height: 150%;
            font-weight: 400;
        }
        
    }
}