.INDEX{
    

.BIG_TITLE { 
    padding-top: 100px;
    position: relative;
}

// ============= 動物插畫區 =================
//    ======= (看診進度) ====== 
.HIPPO_TURTLE1{
    position: absolute;
    width: 80px;
    bottom:  0;
    right: 25vw;

}

.HIPPO_TURTLE2{
    position: absolute;
    width: 120px;
    bottom:  0;
    right: 16vw;

}

.HIPPO_TURTLE3{
    position: absolute;
    width: 160px;
    bottom:  0;
    right: 5vw;

}
// ======== (資訊導覽) =======
.DINO_RABBIT{
    position: absolute;
    width: 120px;
    bottom: 4px;
    left: 25vw;
    display: block;
    animation: walk 5s alternate infinite;
}
@keyframes walk {
    0%{
        left: 25vw;
        
    }

    100%{
        left: 60vw;
    }
}

//========== (服務項目) =========



// ==================================================
.BACKGROUND{
    position: relative;
}

// .BACKGROUND::after{
//     content: "";
//     background-image: url('/img/index/test.jpg');
//     top: 0;
//     left: 0;
//     position: absolute;
//     display: block;
// }
.CAROUSEL{
    position: relative;
}

.DOT{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 30px;
    bottom: 40px;
    z-index: 10;

}

.DOT1{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    bottom: 0px;
    z-index: 10;

}

.DOT2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 5px;
    z-index: 10;

}


// ==========看診進度==========
.CONSULTATION_UL{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

.CONSULTATION_ITEM{
    padding: 0 90px;
}

.TOPBACKGROUND_1 , .TOPBACKGROUND_2, .TOPBACKGROUND_3{
    width: 293px;
    height: 55px;
    background-color: $lightblue;
    border-radius: 10px 10px 0 0;
    position: relative;
}


.TOPBACKGROUND_1::after{
    content: "第一診間";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    width: 182px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 100px;
    background-color: $orange;
}

.TOPBACKGROUND_2::after{
    content: "第二診間";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    width: 182px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 100px;
    background-color: $orange;
}

.TOPBACKGROUND_3::after{
    content: "第三診間";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
    width: 182px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 100px;
    background-color: $orange;
}


.CONSULTATIONCARD{
    width: 293px;
    height: 296px;
    background-color: $white;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    


    >p{
        padding: 20px 0;
        font-weight: 500;
    }

    

    .CONSULTATION_NUM{
        font-size: 80px;
        font-weight: 700;
        color: $orange;
    }
}


// ======== 資訊導覽 ========

.INFORMATION_CARD{
    padding-top: 50px;
}


.BTN_WRAAPER{
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}

.BTN{
    width: 320px;
    
}

// =========== 服務項目 =============


.Services_UL{
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    
}


.Services_ITEM{
    padding: 0 40px;
    text-align: center;
}

.Services_ITEM > img{
    border-radius: 80px 10px 80px 10px;
}

.Services_ITEM h3{
    padding-top: 30px;
    padding-bottom: 15px;
}


// ============= 醫院特色 ===================

.FEATURE_WRAPPER{
    display: flex;
    
}

.FEATURE_LEFT{
    margin-bottom: 120px;
}

.FEATURE_ITEM{
    display: flex;
    justify-content: space-between;
    // padding: 60px 0;
    &:first-child{
        padding-top: 100px;
        padding-bottom: 90px;
    }
    
    &:nth-child(2) {
        padding-bottom: 90px;
    }
    
    &:nth-child(3) {
        padding-bottom: 90px;
    }

    &:last-child{
        padding-bottom: 100px;
        // padding-top: 60px;
    }
    
}

.FEATURE_ITEM p{
    line-height: 160%;
    padding: 0 50px;
    font-weight: 500;
    text-align: justify;
}


.FEATURE_RIGHT > img{
    border-radius: 100px 0 0 100px;
}

.ARC_TITLE{
  
    min-width: 80px;
    min-height: 80px;
    
}

// ============== 核心項目 ====================

.CORE_CONTENT{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    
}


// ================= 交通位置及門診時刻表 ====================


.LOCATION_WRAPPER{
    margin-top: 150px;
    padding-bottom: 100px;
    display: flex;

}

.LOCATION_LEFT{
    width: 50%;
    // border: 1px solid;
}

.LOCATION_RIGHT{
    width: 50%;
    padding-left: 30px;
}

.LOCATION_LOGO{
    margin-bottom: 20px;
}

.LOCATION_INFORMATION{
    display: flex;
    padding: 10px 0;

    i{
        font-size: 35px;
        color: $blueblack;
        padding-right: 15px;
    }

    p{
        line-height: 35px;
        color: $blueblack;
    }
}


.LOCATION_TIMETABLE{
    margin-top: 20px;
}

    img{
        border-radius: 10px ;
    }
}


}




// =========================  RWD ===============================