.RESERVE {

    //-----歡迎BANNER、預約頁面共用內容——對初診患者資訊區塊吃layout/_reserve_module.scss-----//

    //----- 預約步驟區塊 -----//
    .RESERVE_STEPAREA {
        color: #34424F;
        margin: 60px auto 170px;
        display: flex;
        width: 67%;
        justify-content: space-between;
    }

    .RESERVE_ARC {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .RESERVE_ARC>.ARC_TITLE {
        color: #428AA9;
        background-color: #fff;
        z-index: 10;
    }

    .RESERVE_ARC>p {
        position: absolute;
        bottom: -60px;
    }

    .RESERVE_ARC::before {
        background-color: #FFF;
        width: 10vw;
        height: 6px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 35px;
        left: 0px;
    }

    .RESERVE_ARC::after {
        background-color: #FFF;
        width: 10vw;
        height: 6px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 35px;
        right: 0px;
    }

    #ARCONE::before {
        display: none;
    }

    #ARCFOUR::after {
        display: none;
    }

    #ARCONE>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCONE>p {
        font-weight: bold;
    }

    .RESERVE_TYPE_UL_M {
        display: none;
    }

    //----- 月曆區塊 -----//
    .CALENDAR_AREA {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        // border: 1px solid;
    }

    #calendar {
        width: 70%;
    }

    #calendar a:hover {
        background-color: transparent;
    }

    //calendar每日格子中文字
    #calendar .event-title {
        margin: auto;
        letter-spacing: 3.5px;
        font-size: 2rem;
    }

    .CALENDAR_INFO {
        padding-left: 10px;
    }

    .CALENDAR_INFO p {
        font-size: 18px;
        color: #34424F;
        margin: 10px;
    }

    .CALENDAR_COLOR_INFO {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .CALENDAR_COLOR_INFO p {
        font-size: 12px;
        margin-left: -10px;
        margin-right: 40px;
    }

    //----- 表單區塊 -----//
    .RESERVE_FORM {
        margin: 30px auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        z-index: 10;
        // border: 1px solid;
    }

    .RESERVE_FORM ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 1000px;
        margin-bottom: 90px;
        // border: 1px solid;
        padding-left: 20px;
    }

    .RESERVE_FORM ul li {
        width: 350px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: 1px solid;
    }

    .RESERVE_FORM ul li {
        margin-bottom: 30px;
    }

    .RESERVE_FORM ul li label {
        font-size: 20px;
    }


    .RESERVE_FORM ul li:nth-child(3) {
        padding-top: 9px;
    }

    .RESERVE_FORM .STEPS {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .STEPS {
        margin-bottom: 170px;
    }

    .STEPS input {
        width: 180px;
        height: 60px;
        font-size: 20px;
        color: #FFF;
        background-color: #34424F;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .STEPS input:first-child {
        background-color: transparent;
        border: none;
        color: #000;
        text-decoration-line: underline;
        cursor: default;
    }
}

// =========================  RWD ===============================

@mixin m() {
    @media screen and (max-width: 415px) {
        @content;
    }
}

@include m {
    .RESERVE {
        .RESERVE_STEPAREA {
            width: 100%;
            display: flex;
            flex-grow: 1;
            margin: 20px auto 100px;

            .RESERVE_ARC {
                p {
                    font-size: 12px;
                    bottom: -25px;
                }
            }

            .RESERVE_ARC::before {
                background-color: #FFF;
                width: 40px;
                height: 6px;
                content: "";
                box-sizing: border-box;
                display: block;
                position: absolute;
                top: 19px;
                left: 0px;
            }

            .RESERVE_ARC::after {
                background-color: #FFF;
                width: 40px;
                height: 6px;
                content: "";
                box-sizing: border-box;
                display: block;
                position: absolute;
                top: 19px;
                right: 0px;
            }

        }
    }

    .CALENDAR_AREA {

        #calendar {

            font-size: 14px;

            a {
                font-size: 12px;
            }

        }

        //calendar每日格子中文字
        #calendar .event-title {
            margin: auto;
            letter-spacing: 1px;
            font-size: 1rem;
        }

        .CALENDAR_INFO {
            padding-top: 20px;
            padding-left: 50px;
        }

    }

    .RESERVE_FORM ul li {
        padding-left: 32px;
    }

    .FOOTER_BOTTOM {
        margin-bottom: 0px;
    }

}