.RESERVE_COMMUNICATION_COMPLETE {

//歡迎BANNER 
.CAROUSEL {

    .PAWPAW {
        position: absolute;
        top: 48%;
        left: 6vw;

        @include m() {
            position: absolute;
            top: 4.5%;
            left: 28vw;
        }

        >picture>img {

            width: 35vw;

            @include m() {
                width: 45vw;
            }


        }

    }

}

    .DOT {
        position: absolute;
        width: 200px;
        height: 200px;
        right: 30px;
        bottom: 40px;
        z-index: 10;

    }

    // .BACKGROUND {
    // }

    .BACKGROUND>.BIG_TITLE::after {
        display: none;
    }

    //-----預約頁面共用內容——對初診患者資訊區塊-----//
    .RESERVE_INFO {
        overflow: hidden;
        padding-bottom: 170px;
    }

    .RESERVE_INFO>.BREAD {
        margin-top: 45px;
        margin-bottom: 50px;
    }

    .FIRSTTIME_INFO {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .FIRSTTIME_INFO>h1::before {
        background-color: #34424F;
        width: 400px;
        height: 2px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 24px;
        left: 150px;
    }

    .FIRSTTIME_INFO>h1 {
        color: #34424F;
        width: 1440px;
        position: relative;
        text-align: center;
        margin-bottom: 80px;
    }

    .FIRSTTIME_INFO>h1::after {
        background-color: #34424F;
        width: 400px;
        height: 2px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 24px;
        right: 150px;
    }

    .RESERVE_TYPE_UL {
        display: flex;
        width: 77%;
        justify-content: space-between;
        margin-bottom: 85px;
    }

    .TITLE_NO {
        background-color: #FFFFFF;
        color: #428AA9;
        position: absolute;
        top: 0;
        left: 0;
    }

    .RESERVE_TYPE {
        background-color: #428AA9;
        color: #FFFFFF;
        width: 250px;
        height: 250px;
        position: relative;
        align-items: center;
        justify-content: center;
        line-height: 250px;
    }

    .FIRSTTIME_INFO>p {
        color: #34424F;
        text-align: center;
        line-height: 1.6;
        width: 100%;
        margin-bottom: 20px;
    }

    .FIRSTTIME_INFO .CALL {
        font-weight: 700;
    }

    //----- 預約步驟區塊 -----//
    .RESERVE_STEPAREA {
        color: #34424F;
        margin: 0 auto;
        display: flex;
        width: 67%;
        justify-content: space-between;
        margin-top: 100px;
    }

    .RESERVE_ARC {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .RESERVE_ARC>.ARC_TITLE {
        color: #428AA9;
        background-color: #fff;
    }

    .RESERVE_ARC>p {
        position: absolute;
        bottom: -60px;
    }

    .RESERVE_ARC::before {
        background-color: #FFF;
        width: 100px;
        height: 6px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 35px;
        left: 0px;
    }

    .RESERVE_ARC::after {
        background-color: #FFF;
        width: 100px;
        height: 6px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 35px;
        right: 0px;
    }

    #ARCONE::before {
        display: none;
    }

    #ARCFOUR::after {
        display: none;
    }

    #ARCONE>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCTWO>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCTHREE>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCFOUR>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCONE::after {
        background-color: #428AA9;
    }

    #ARCTWO::before {
        background-color: #428AA9;
    }

    #ARCTWO::after {
        background-color: #428AA9;
    }

    #ARCTHREE::before {
        background-color: #428AA9;
    }

    #ARCTHREE::after {
        background-color: #428AA9;
    }

    #ARCFOUR::before {
        background-color: #428AA9;
    }

    #ARCONE>p {
        font-weight: bold;
    }

    #ARCTWO>p {
        font-weight: bold;
    }

    #ARCTHREE>p {
        font-weight: bold;
    }

    #ARCFOUR>p {
        font-weight: bold;
    }

    .RESERVE_TYPE_UL_M {
        display: none;
    }

    //----- 表單區塊 -----//
    .RESERVE_FORM {
        margin: 30px auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        z-index: 10;
        // border: 1px solid;
    }

    .RESERVE_FORM h1 {
        color: #CB5656;
    }

    .RESERVE_SUCCESS {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
        margin-bottom: 90px;
        // border: 1px solid;
        padding-left: 20px;
    }

    .RESERVE_SUCCESS {
        span {
            margin-left: -20px;
            margin-bottom: 50px;
        }

        h1 {
            margin-left: -20px;
            margin-bottom: 60px;
        }

        h2 {
            margin-left: -20px;
            margin-bottom: 30px;
        }
    }

    .RESERVE_FORM .STEPS {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .STEPS input {
        width: 180px;
        height: 60px;
        font-size: 20px;
        color: #FFF;
        background-color: #34424F;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .LOCATION_WRAPPER {
        margin-top: 150px;
        padding-bottom: 200px;
        display: flex;

    }

    .LOCATION_LEFT {
        width: 50%;
        // border: 1px solid;
    }

    .LOCATION_RIGHT {
        width: 50%;
        padding-left: 30px;
    }

    .LOCATION_LOGO {
        margin-bottom: 20px;
    }

    .LOCATION_INFORMATION {
        display: flex;
        padding: 10px 0;

        i {
            font-size: 35px;
            color: $blueblack;
            padding-right: 15px;
        }

        p {
            line-height: 35px;
            color: $blueblack;
        }
    }


    .LOCATION_TIMETABLE {
        margin-top: 20px;

        img {
            border-radius: 10px;
        }
    }

    .LOCATION_WRAPPER_M {
        display: none;
    }
}

// =========================  RWD ===============================

@mixin m() {
    @media screen and (max-width: 415px) {
        @content;
    }
}

@include m {
    .RESERVE_COMMUNICATION_COMPLETE {
        .APPOINTMENT {
            display: none;
        }

        .CAROUSEL {
            .PAWPAW {
                position: absolute;
                top: 5%;
                left: 25vw;

                >picture>img {
                    width: 55vw;
                }
            }

            .DOT {
                position: absolute;
                width: 120px;
                height: 120px;
                left: -62px;
                top: 25vh;
                z-index: 10;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: radial-gradient(circle, $white 0%, $white 20%, transparent 25%, transparent 100%);
                    background-size: 10px 10px;
                    background-position: 0 0;
                }
            }

            .DOT1 {
                display: block;
                position: absolute;
                width: 170px;
                height: 170px;
                left: auto;
                right: 10px;
                bottom: -10px;
                z-index: 10;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: radial-gradient(circle, $white 0%, $white 20%, transparent 0%, transparent 100%);
                    background-size: 14px 14px;
                    background-position: 0 0;
                }
            }
        }

        .RESERVE_INFO {
            width: 93%;
            padding-bottom: 70px;

            .FIRSTTIME_INFO>h1::before {
                background-color: #34424F;
                width: 40px;
                height: 2px;
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 20px;
                left: 25px;
                display: block;
            }

            .FIRSTTIME_INFO>h1::after {
                background-color: #34424F;
                width: 40px;
                height: 2px;
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 20px;
                right: 25px;
                display: block;
            }

            .RESERVE_TYPE_UL {
                display: none;
            }

            .RESERVE_TYPE_UL_M {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 20px auto;

                .TITLE_NO {
                    font-size: 14px;
                }

                .RESERVE_TYPE {
                    width: 110px;
                    height: 110px;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    line-height: 110px;
                    font-size: 14px;
                }
            }

            .RESERVE_STEPAREA {
                width: 100%;
                display: flex;
                flex-grow: 1;
                margin-top: 20px;

                .RESERVE_ARC {
                    p {
                        font-size: 12px;
                        bottom: -25px;
                    }
                }

                .RESERVE_ARC::before {
                    background-color: #FFF;
                    width: 40px;
                    height: 6px;
                    content: "";
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    top: 19px;
                    left: 0px;
                }

                .RESERVE_ARC::after {
                    background-color: #FFF;
                    width: 40px;
                    height: 6px;
                    content: "";
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    top: 19px;
                    right: 0px;
                }

            }
        }

        .RESERVE_FORM {
            .RESERVE_SUCCESS {
                margin-bottom: 0;
                h2 {
                    font-size: 22px;
                }
            }
            .STEPS {
                flex-direction: column;
                margin-bottom: 30px;
                input {
                    width: 100%;
                    margin: 10px auto;
                }
            }
        }

        .WRAPPER {
            .LOCATION_WRAPPER{
                margin-top: 30px;
                padding-bottom: 50px;
                flex-direction: column;
            }
    
            .LOCATION_LEFT{
                width: auto;
                order: 1;
                margin-top: 30px;
                iframe{
                    width: 100%;
                    height: 33vh;
                }
                // border: 1px solid;
            }
    
            .LOCATION_RIGHT{
                width: auto;
                padding-left: 0;
                order: 0;
            }
    
            .LOCATION_LOGO{
                margin-bottom: 20px;
                >img{
                    width: 260px;
                    height: 80px;
                }
            }
    
            .LOCATION_INFORMATION{
                display: flex;
                padding: 10px 0;
                i{
                    font-size: 18px;
                }
                p{
                    line-height: 20px;
                    font-size: 15px;
                }
            }
    
            .LOCATION_TIMETABLE{
                margin-top: 0;
                >picture{
                    >img{
                        margin-top: 20px;
                        width: 90vw;
                        border-radius: 10px;
                    }
                }
            }
                
        }

        .FOOTER_BOTTOM {
            margin-bottom: 0px;
        }
    }

}