.RESERVE_NORMAL3 {

    //----- 預約步驟區塊 -----//
    .RESERVE_STEPAREA {
        color: #34424F;
        margin: 60px auto 170px;
        display: flex;
        width: 67%;
        justify-content: space-between;
    }

    .RESERVE_ARC {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .RESERVE_ARC>.ARC_TITLE {
        color: #428AA9;
        background-color: #fff;
        z-index: 10;
    }

    .RESERVE_ARC>p {
        position: absolute;
        bottom: -60px;
    }

    .RESERVE_ARC::before {
        background-color: #FFF;
        width: 10vw;
        height: 6px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 35px;
        left: 0px;
    }

    .RESERVE_ARC::after {
        background-color: #FFF;
        width: 10vw;
        height: 6px;
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 35px;
        right: 0px;
    }

    #ARCONE::before {
        display: none;
    }

    #ARCFOUR::after {
        display: none;
    }

    #ARCONE>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCTWO>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCTHREE>.ARC_TITLE {
        background-color: #428AA9;
        color: #FFF;
        z-index: 10;
    }

    #ARCONE::after {
        background-color: #428AA9;
    }

    #ARCTWO::before {
        background-color: #428AA9;
    }

    #ARCTWO::after {
        background-color: #428AA9;
    }

    #ARCTHREE::before {
        background-color: #428AA9;
    }

    #ARCONE>p {
        font-weight: bold;
    }

    #ARCTWO>p {
        font-weight: bold;
    }

    #ARCTHREE>p {
        font-weight: bold;
    }

    .RESERVE_TYPE_UL_M {
        display: none;
    }

    //----- 表單區塊 -----//
    .RESERVE_FORM {
        margin: 30px auto;
        width: 80%;
        display: flex;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        z-index: 10;

        h1 {
            font-size: 25px;
            margin: 20px 0;
        }
    }

    .RESERVE_FORM ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 98%;
        margin: 0 auto 50px;
        border: 1px solid #888888;
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
    }

    .RESERVE_FORM ul li {
        width: 99%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 10px;
        font-size: 20px;
    }

    .RESERVE_FORM ul li:nth-child(even) {
        background-color: #D9D9D9;
    }

    .FYI {
        width: 100%;
        margin: 20px auto 50px;
    }



    .RESERVE_FORM .STEPS {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .STEPS {
        margin-bottom: 170px;
    }

    .STEPS input {
        width: 180px;
        height: 60px;
        font-size: 20px;
        color: #FFF;
        background-color: #34424F;
        border-radius: 8px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .STEPS input:first-child {
        background-color: transparent;
        border: none;
        color: #000;
        text-decoration-line: underline;
    }
}

// =========================  RWD ===============================

@mixin m() {
    @media screen and (max-width: 415px) {
        @content;
    }
}

@include m {
    .RESERVE_NORMAL3 {
        .RESERVE_STEPAREA {
            width: 100%;
            display: flex;
            flex-grow: 1;
            margin: 20px auto 100px;

            .RESERVE_ARC {
                p {
                    font-size: 12px;
                    bottom: -25px;
                }
            }

            .RESERVE_ARC::before {
                background-color: #FFF;
                width: 40px;
                height: 6px;
                content: "";
                box-sizing: border-box;
                display: block;
                position: absolute;
                top: 19px;
                left: 0px;
            }

            .RESERVE_ARC::after {
                background-color: #FFF;
                width: 40px;
                height: 6px;
                content: "";
                box-sizing: border-box;
                display: block;
                position: absolute;
                top: 19px;
                right: 0px;
            }

        }
    }

    .CALENDAR_AREA {
        .CALENDAR_INFO {
            padding-top: 20px;
            padding-left: 50px;
        }
    }

    .RESERVE_FORM ul li {
        padding-left: 32px;
    }

    .FOOTER_BOTTOM {
        margin-bottom: 0px;
    }
}