.SHOPPING{
// 背景圖片統一裁成1920*1080
.SHOPPING_MASTERVISION {
    background-image: url('/img/shopping/SHOPPING_MASTERVISION_01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 250px 0 0 0;
    width: 87.5%;
    height: 830px;
    float: right;
    // margin-left: 282.5px;
    margin-top: 105px;

    animation: image 30s ease-in-out infinite;

    img {
        width: 100%;
        height: 830px;
    }

}

// @keyframes image {
//     0% {
//         background-image: url('../../img/header/victor-grabarczyk-N04FIfHhv_k-unsplash.jpg');
//     }

//     20% {
//         background-image: url('../../img/header/leslie-low-0lzAa5raUso-unsplash.png');
//     }

//     40% {
//         background-image: url('../../img/header/flouffy-7hEXd9kYPCY-unsplash.jpg');
//     }

//     60% {
//         background-image: url('../../img/header/alicja-gancarz-e3EHK9pzmLU-unsplash.jpg');
//     }

//     80% {
//         background-image: url('../../img/header/peri-stojnic-5Vr_RVPfbMI-unsplash.jpg');
//     }

//     100% {
//         background-image: url('../../img/header/victor-grabarczyk-N04FIfHhv_k-unsplash.jpg');
//     }
// }


.DOT{
    position: absolute;
    width: 425px;
    height: 425px;
    right: 0px;
    bottom:-120px;
    z-index: 10;

}

// ============================================================

.SHOPPINGBG{
    background-image: url('../../img/shopping/SHOPPING_BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.BREAD{
    padding-top:55px ;
}

.BIG_TITLE{
    overflow: hidden;
    // margin-top: 25px;
    margin-bottom: 40px;
    &::after{
        width: 0px;
        border: 0px;
    }
}

.SHOPPINGHOT{
    background-image: url(/img/shopping/SHOPPINGHOT_BG.png);
    width: 100%;
    height: 737px;
}

.SMALL_TITLE{
    margin: 0 auto;
    padding-top: 45px;
}

.SHOPPINGCARDAREA_UL{
    display: flex;
    justify-content: space-around;
}

.SHOPPINGCARDBTN{
    margin-top: 60px;
    width: 320px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

// =========================================

.SHOPPINGSELECT{
    box-sizing: border-box;
    padding: 0 135px;
    padding-top: 130px;
}

.SELECT{
    margin-right: 60px;
}
.SELECTOP{
    width: 350px;
    font-weight: 600;
}

select option{
    color: $blueblack;
    font-weight: 600;
}

::placeholder{
    color: $blueblack;
    font-weight: 600;
}

.SEARCH_ALL{
    position: relative;
    display: inline-block;
    width: 63%;
}


.SHOPPINGSELECT_SEARCH{
    width: 100%;
    font-weight: 500;
}


.SEARCHBTN_ALL{
    position: absolute;
    top:16%;
    right: 0px;
    z-index: 10;
    width: 20%;
}

.SEARCHICON{
    font-size: 2rem;
    color: #FFF;
    z-index: 5;
    margin-right: 10px;
}



.SEARCHBTN{
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 2rem;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    
    
}

// ==================================================================

.SHOPPINGITEM{
    box-sizing: border-box;
    padding: 0 135px;
    padding-top: 100px;
}

.SHOPPINGITEM_UL{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
}

.SHOPPINGITEM .SHOPPINGCARD{
    margin-bottom: 50px;
    // flex-basis: 321.41px;
}

.PGAENUMBER{
    padding-top: 120px;
    margin-bottom: 335px;
    display: flex;
    justify-content:center;
}

.PGAENUMBER span{
    width: 25px;
    &:hover{
        border-bottom: 2px solid $blueblack;
    }
}

.PGAENUMBER span>img{
    margin: 0 auto;
    height: 25px;
    
}

.PAGEBTN{
    width: 12px;
    cursor: pointer;
    
}

.PGAENUMBER p{
    display: block;
    width: 50px;
    margin: 0 10px;
    color: $blueblack;
    cursor: pointer;
    text-align: center;
    &:hover{
        text-decoration: underline;
    }
}

.LEFT{
    transform: rotate(180deg);
    margin-right: 20px;
    padding-right: 25%;

}

.RIGHT{
    margin-left: 20px;
    padding-left: 25%;
    
}

}
