.SHOPPINGCARTP2{

    .SHOPPINGCARTP2BG{

    background-image: url(../img/shopping_cart/shopping_cartp2_bgALL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;

    .BG {}
    .BG_CLOUDS {

        .BG_CLOUD {}

        .CLOUD_1 {
            top: 500px;
            left: -200px;
            .BG_CLOUD_IMG1 {
                transform: scale(-2) rotate(160deg);

                @include m() {
                    transform: scale(-8) rotate(220deg);
                }
            }
            @include m() {
                img{
                    width: 100%;
                    filter: saturate(1.5);
                    
                }
                top: -1000px;
            }
        }
        .CLOUD_2 {
            top: 1640px;
            left: 22px;

            .BG_CLOUD_IMG2 {
                transform: scale(-2) rotate(20deg);

                @include m() {
                    transform: scale(-11) rotate(150deg);
                }
            }
            @include m() {
                img{
                    width: 100%;
                    filter: saturate(1.5);
                }
                top: 2860px;
                left: 0px;
            }
        }

    }

    .ITEM_PRODUCT--W{
        width: 40%;
    }

    // .COL-7{
    //     margin-right: 0;
    // }

// =========================================

    .CART02_SLOGANALL{
        width: 100%;
        padding-top: 130px;
        position: relative;

        @include m {
            padding-top: 110px;
        }

        .SLOGAN02{
            display: block;
            margin: 0 auto;

            @include m {
                display: none;
            }
        }

        .SLOGAN02M{
            display: none;
            margin: 0 auto;

            @include m {
                display: block;
                padding-left: 5px;
            }
        }


        .CAT{
            background-image: url(../img/shopping_cart/cat01.png);
            animation:ANI2 2s steps(6,end) infinite; 
            width: 150px;
            height: 150px;
            background-size: 900px 150px;
            position: absolute;
            right: 266px;
            bottom: -31px;

            @include m {
                right: 60px;
            }
        }

        @keyframes ANI2 {
            0%{
                background-position-x: 0px;
            }
        
            100%{
                background-position: -900px;
            }
        }
    }

// ======================================

    .BREAD{
        padding-top:14px ;

        @include m {
            padding-top: 20px;
        }
    }

    .SHOPPINGCART_STEP{
        margin-bottom: 75px;
        
        .SHOPPINGCART_ARCTWO{
            &::before{
                background-color: $blueblack;
            }
            .ARC_TITLE{
                background-color: $blueblack;
                color: $white;
            }
            p{
                font-weight: 700;
            }
        }
    }

    @include m {
        div.ARC_TITLE{
            width: 65px;
            height: 65px;
            line-height: 65px;
        }
    }

// ===========================================================

    .SHOPPINGCARTP2_ORDER{

        .SHOPPINGCARTP2_ORDERTEXTALL{
            margin-bottom: 35px;
        }

        .SHOPPINGCARTP2_ORDERTEXT{
            width: 100%;
            background-color:rgba(255, 255, 255, 0.5);
            height: 120px;
            padding-top: 35px;
            box-sizing: border-box;
            cursor: pointer;

            p{
                font-weight: 700;
                color: $blueblack;
                text-align: center;
                margin-bottom: 15px;
                
            }
            span{
                display:inline-block;
                width: 100%;
                text-align: center;
                margin-left: 5px;
                font-size: $littleword;
                color: $blueblack;
                vertical-align: middle;

                .SHOPPINGCARTP2_ORDERARR{
                    display: inline-block;
                    width: 15px;
                    margin-left: 10px;
                    vertical-align: middle;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    img{
                        width: 100%;
                        transform: rotate(90deg);
                        
                    }
                }

                
            }
        }
    }

    .ORDERITEM{
        border-radius: 0px;
        border: 0px;
        border-top: 1px solid $gray;
        margin-bottom: 0;
    }

// ======================================================================


    .SHOPPINGCARTP2_TEXT{
        // display: flex;
        margin-bottom: 45px;

        .SHOPPINGCARTP2_TEXT--TOP{
            display: flex;

            @include m {
                display: block;
            }
        }

        .SHOPPINGCARTP2_TEXT--BOTTOM{
            display: flex;

            @include m {
                display: block;

                :first-child{
                    margin-bottom: 25px;
                }
            }
        }


            .P2MEMBER{
                margin-bottom: 40px;
            }

            .SHOPPINGCARTP2_STEPTEXT--FORM{
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                border: 1px solid $gray;
                overflow: hidden;
                width: 100%;
                padding-bottom: 30px;

                @include m {
                    padding-bottom: 25px;
                }

                .SHOPPINGCARTP2_STEPTEXT--TITLE{
                    width: 100%;
                    height: 60px;
                    background-color: #fff;
                    position: relative;
                    &::after{
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: $gray;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                    span{
                        line-height: 60px;
                        color: $blueblack;
                        font-size: $p;
                        margin-left: 40px;

                        @include m {
                            margin-left: 20px;
                        }
                    }

                    .SAMEMEMBER{
                        font-size: $littleword;
                        color: $blueblack;
                        font-weight: 300;
                        position: absolute;
                        top: 17px;
                        right: 45px;

                        @include m {
                            right: 25px;
                        }

                        input{
                            visibility: hidden; /* 把原本的input藏起來 */
                            
                        }

                        .CHECKMEMBER{
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                            border: 1px solid $blueblack;
                            margin: 0;
                            transform: translateY(3px);
                            position: relative;
                            margin-right: 5px;

                            &::after{
                                content: '';
                                width: 25px;
                                height: 25px;
                                background-image: url(/img/shopping_cart/tick.png);
                                background-repeat: no-repeat;
                                position: absolute;
                                top: 2.5px;
                                right: -5.5px;
                                opacity: 0;
                                
                            }
                        }
                        
                    }

                    .SAMEMEMBER input:checked + .CHECKMEMBER::after{
                        opacity: 1;
                    }

                }

                .SHOPPINGCARTP2_STEPTEXT--INPUT{
                    padding:0 40px;
                    margin-top: 25px;
                    position: relative;

                    @include m {
                        padding:  0 20px;
                    }
            
                    .INPUT{
                        font-size: $littleword;
                        font-weight: 300;
                        
                        .INPUTENTER{
                            width: 100%;
                            color: $blueblack;
                            font-weight: 400;
                        }
                        ::placeholder{
                            color: #9E9E9E;
                            font-weight: 400;
                        }

                        .INPUTERROR{
                            display: inline-block;
                            color: $redprice;
                            font-size: 16px;
                            margin-left: 10px;
                            margin-bottom: 0px;
                            line-height: 16px;
                            display: none;
                        }

                        .INPUTERROR2{
                            display: none;
                            color: $redprice;
                            font-size: 16px;
                            margin-left: 10px;
                            margin-bottom: 0px;
                            line-height: 16px;
                        }
                    }

                    span{
                        display: block;
                        font-size: $bread;
                        font-weight: 300;
                        margin-bottom: 8px;
                        line-height: 20px;
                    }
                    div{
                        .BTN{
                            width: 100%;
                        }
                    }
                    .CREDITREMIND{
                        color: $gray;
                        line-height: 25px;
                    }

                    .TEXTAREA{
                        font-size: $littleword;
                        font-weight: 300;
                        .TEXTAREA_CONTENT{
                            width: 100%;
                            height: 288px;

                            @include m {
                                height: 383px;
                            }
                        }
                    }

                    .INPUT .WRONG{
                        display: inline-block;
                    }

                }

                .SHOPPINGCARTP2_STEPTEXT--REMIND{
                    display: block;
                    padding:0 40px;
                    margin-top: 25px;
                    font-size: $littleword;
                    font-weight: 300;

                    @include m {
                        padding: 0 20px;
                    }
                }

                .SHOPPINGCARTP2_STEPTEXT--HALF{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 0 40px;

                    .INPUTERROR{
                        display: none;
                        color: $redprice;
                        font-size: 16px;
                        margin-left: 10px;
                        margin-bottom: 0px;
                        line-height: 16px;
                    }

                    .INPUTERROR2{
                        display: none;
                        color: $redprice;
                        font-size: 16px;
                        margin-left: 10px;
                        margin-bottom: 0px;
                        line-height: 16px;
                    }

                    .INPUT .WRONG{
                        display: inline-block;
                    }

                    @include m {
                        display: block;
                        padding: 0 20px;
                    }

                    .SHOPPINGCARTP2_STEPTEXT--HALFINPUT{
                        margin-top: 25px;
                        width: 48%;
                        .INPUT{
                            font-size: $littleword;
                            font-weight: 300;
                            
                            .INPUTENTER{
                                width: 100%;
                                color: $blueblack;
                                font-weight: 400;
                            }
                            ::placeholder{
                                color: #9E9E9E;
                                font-weight: 400;
                            }
                        }

                        @include m {
                            width: 100%;
                        }
                    }
                }
            
        }
    }


// ===========================================================================


    .SHOPPINGCARTP2_FINALLINK{
        width: 100%;
        height: 160px;
        background-color: #fff;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        margin-bottom: 150px;
        
        @include m {
            height: 100px;
        }

        section{
            height: 160px;
            padding: 0 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include m {
                padding: 0 20px;
                height: 100px;
            }

            a{
                font-size: $littleword;
                font-weight: 300;
                color: $blueblack;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                    text-underline-position: under;
                    text-underline-offset: 2px;
                    font-weight: 400;
                }
            }

            .BTN{
                width: 306px;
                font-weight: 700;

                @include m {
                    width: 160px;
                }
            }
        }
    }


}

    .SHOPPINGCART_ITEMLIST--M{
        display: none;
        @include m{
            display: block;   
            background-color: rgba(255, 255, 255, 0.5);
            border-top: 1px solid $gray;
            margin-bottom: 25px;
        }
        .SHOPPINGCART_ITEMWORD--BOTTOMM{
            .SHOPPINGCART_ITEMWORD--COUNTM{
                span.ITEM_COUNT--NUM{
                    @include m {
                        margin: 0px;
                        font-size: 1.7rem;
                        padding-top: 2px;
                    }
                }
            }
        }
    }

    .SHOPPINGCART_ALLLIST{
        @include m {
            display: none;
        }
    }

    .ERROROUTLINE{
        border: 0px;
        outline: 2px solid $redprice;
    }

    .TRUEOUTLINE{
        border: 1px solid #9E9E9E;
    }

}