.SHOPPING{
// 背景圖片統一裁成1920*1080

.SHOPPING_MASTERVISION {
    background-image: url('../img/shopping/SHOPPING_BG1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 250px 0 0 0;
    width: 87.5%;
    height: 830px;
    float: right;
    // margin-left: 282.5px;
    margin-top: 105px;
    position: relative;

    animation: MASTERVISIONIMG 80s ease-in-out infinite;

    @include m {
        background-image: url('../img/shopping/SHOPPING_M_BG1.jpg');
        border-radius: 0px;
        width: 100%;
        height: 736px;
        margin-top: 0px;

        animation: MASTERVISIONIMG_M 60s ease-in-out infinite;
    }



    .MASTERVISIONTEXT1{
        text-align: left;
        white-space: pre-wrap;
        color: #FFF;
        position: absolute;
        top: 305px;
        right: 305px;
        line-height: 35px;
        letter-spacing: 5px;
        opacity: 0;


        animation: MASTERVISIONTEXT1 80s ease-in-out 3s infinite;
        @include m{
            display: none;
        }
    }

    .MASTERVISIONTEXT3{
        text-align: left;
        white-space: pre-wrap;
        color: $orange;
        position: absolute;
        top: 215px;
        right: 305px;
        line-height: 35px;
        letter-spacing: 5px;
        opacity: 0;


        animation: MASTERVISIONTEXT3 80s ease-in-out infinite;
        @include m{
            display: none;
        }
    }


    img {
        width: 100%;
        height: 830px;

        @include m {
            display: none;
        }
    }

}

@keyframes MASTERVISIONTEXT1 {
    0%{opacity: 0;}
    3%{opacity: 1;}
    19%{opacity: 1;}
    21%{opacity: 0;}
    100%{opacity: 0};
}

@keyframes MASTERVISIONTEXT3 {
    0%{opacity: 0;}
    48%{opacity: 0;}
    50%{opacity: 1;}
    73%{opacity: 1;}
    75%{opacity: 0};
    100%{opacity: 0};
}

@keyframes MASTERVISIONIMG {
    0%{
        background-image: url(../img/shopping/SHOPPING_BG1.jpg);
    }

    23%{
        background-image: url(../img/shopping/SHOPPING_BG1.jpg);
    }
    
    25%{
        background-image: url(../img/shopping/SHOPPING_BG2.jpg);

    }

    48%{
        background-image: url(../img/shopping/SHOPPING_BG2.jpg);
    }

    50%{
        background-image: url(../img/shopping/SHOPPING_BG3.jpg);
    }

    73%{
        background-image: url(../img/shopping/SHOPPING_BG3.jpg);
    }

    75%{
        background-image: url(../img/shopping/SHOPPING_BG4.jpg);
    }

    98%{
        background-image: url(../img/shopping/SHOPPING_BG4.jpg);
    }
    
}

@keyframes MASTERVISIONIMG_M {
    0%{
        background-image: url(../img/shopping/SHOPPING_M_BG1.jpg);
    }

    23%{
        background-image: url(../img/shopping/SHOPPING_M_BG1.jpg);
    }
    
    25%{
        background-image: url(../img/shopping/SHOPPING_M_BG2.jpg);

    }

    48%{
        background-image: url(../img/shopping/SHOPPING_M_BG2.jpg);
    }

    50%{
        background-image: url(../img/shopping/SHOPPING_M_BG3.jpg);
    }

    73%{
        background-image: url(../img/shopping/SHOPPING_M_BG3.jpg);
    }

    75%{
        background-image: url(../img/shopping/SHOPPING_M_BG4.jpg);
    }

    98%{
        background-image: url(../img/shopping/SHOPPING_M_BG4.jpg);
    }
    
}


.DOT{
    position: absolute;
    width: 425px;
    height: 425px;
    right: 0px;
    bottom:-120px;
    z-index: 21;

    @include m {
        display: none;
    }

}

// ============================================================

.SHOPPINGBG{
    background-image: url('../img/shopping/SHOPPING_BGALL2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;

}


.BACKGROUND {
    .BG {}
    .BG_CLOUDS {
        .BG_CLOUD {
        }

        .CLOUD_1 {
            top: 1200px;
            left: 0;
            .BG_CLOUD_IMG1 {
                transform: scale(-2) rotate(330deg);

                @include m() {
                    transform: scale(-8) rotate(330deg);
                }
            }
            @include m() {
                img{
                    width: 100%;
                    filter: saturate(3),contrast(.5);
                }
                top: 400px;
            }
        }
        .CLOUD_2 {
            top: 2040px;
            left: 322px;

            .BG_CLOUD_IMG2 {
                transform: scale(-2) rotate(340deg);

                @include m() {
                    transform: scale(-10) rotate(340deg);
                }
            }
            @include m() {
                img{
                    width: 100%;
                    filter: saturate(3),contrast(.5);
                }
                top: 1360px;
                left: 0px;
            }
        }

    }
}


.BREAD{
    padding-top:55px ;
    margin-bottom: 25px;
}

.BIG_TITLE{
    overflow: hidden;
    // margin-top: 25px;
    margin-bottom: 40px;
    &::after{
        width: 0px;
        border: 0px;
    }
}

.SHOPPINGHOT{
    background-image: url(../img/shopping/SHOPPINGHOT_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    @include m {
        height: 650px;
    }
}

.SMALL_TITLE{
    margin: 0 auto;
    padding-top: 45px;
    position: relative;

    .HIPPO{
        background-image: url(../img/shopping/hippo01.png);
        width: 300px;
        height: 300px;
        background-size: 1800px 300px;
        animation:ANI4 2s steps(6,end) infinite; 
        position: absolute;
        bottom: -53px;
        right: 220px;
        margin: 0;
        padding: 0  ;

        @include m {
            transform: scale(.55);
            bottom: -92px;
            right: -87px;
        }
    }

    @keyframes ANI4 {
        0%{
            background-position-x: 0px;
        }
    
        100%{
            background-position: -1800px;
        }
    }

    .HIPPO2{
        background-image: url(../img/shopping/hippo01.png);
        width: 150px;
        height: 150px;
        background-size: 900px 150px;
        animation:ANI5 2s steps(6,end) infinite; 
        position: absolute;
        bottom: -26px;
        right: 80px;
        margin: 0;
        padding: 0 ;

        @include m {
            transform: scale(.55);
            right: -37px;
            bottom: 53px;
        }
    }

    @keyframes ANI5 {
        0%{
            background-position-x: 0px;
        }
    
        100%{
            background-position: -900px;
        }
    }
}

.swiper-button-prev{
    top: var(--swiper-navigation-top-offset,38%);
    left: 5px;
    color: $orange;
    font-weight: 600;
    @include m {
        display: none;
    }

}

.swiper-button-next{
    top: var(--swiper-navigation-top-offset,38%);
    color: $orange;
    right: 5px;
    font-weight: 600;
    @include m {
        display: none;
    }

}



.SHOPPINGCARDBTN{
    margin-top: 70px;
    width: 320px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

// =========================================

.SHOPPINGSELECT{
    box-sizing: border-box;
    padding: 0 135px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    @include m {
        display: block;
        padding: 0px;
        padding-top: 40px;
    }
}

.SELECT{
    display: block;
    width: 34%;
    @include m {
        width: 100%;
    }
}
.SELECTOP{
    width: 100%;
    font-weight: 600;
}

select option{
    color: $blueblack;
    font-weight: 600;
}

::placeholder{
    color: $blueblack;
    font-weight: 600;
}

.SEARCH_ALL_M{
    display: none;
    position: relative;
    @include m {
        display: block;
        margin-bottom: 15px;
    }

    .SEARCHBTN_ALL{
        position: absolute;
        top:16%;
        right: 0px;
        z-index: 10;
        width: 20%;
    }
}

.SEARCH_ALL{
    position: relative;
    display: block;
    width: 63%;

    @include m {
        display: none;
    }
}


.SHOPPINGSELECT_SEARCH{
    width: 100%;
    font-weight: 500;
}


.SEARCHBTN_ALL{
    position: absolute;
    top:16%;
    right: 0px;
    z-index: 10;
    width: 20%;
}

.SEARCHICON{
    font-size: 2rem;
    color: #FFF;
    z-index: 5;
    margin-right: 10px;

    @include m {
        margin: 0px;
    }
}



.SEARCHBTN{
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 2rem;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    
    
}

// ==================================================================

.SHOPPINGITEM{
    box-sizing: border-box;
    padding: 0 135px;
    padding-top: 50px;

    @include m {
        padding: 0px;
        padding-top: 30px;
    }
}

.SHOPPINGITEM_UL{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    
}

.SHOPPINGITEM .SHOPPINGCARD{
    // flex: calc((100% - 220px) / 12 * 4);
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 10px;
    // margin-right: 110px;
    // flex-basis: 321.41px;

    @include m {
        margin-bottom: 0px;
    }
}

.SHOPPINGITEM_UL li:nth-child(3n){
    margin-right: 0px;
    @include m {
        margin-right: 10px;
    }
}

@include m {
    .SHOPPINGITEM_UL li:nth-child(2n){
        margin-right: 0px;
    }
}

.PGAENUMBER{
    padding-top: 80px;
    margin-bottom: 200px;
    display: flex;
    justify-content:center;

    @include m {
        margin-bottom: 0px;
        padding-bottom: 200px;
    }
}

.PGAENUMBER span{
    width: 25px;
    &:hover{
        border-bottom: 2px solid $blueblack;
    }
}

.PGAENUMBER span>img{
    margin: 0 auto;
    height: 25px;
    
}

.PAGEBTN{
    width: 12px;
    cursor: pointer;
    
}

.PGAENUMBER p{
    display: block;
    width: 50px;
    margin: 0 10px;
    color: $blueblack;
    cursor: pointer;
    text-align: center;
    &:hover{
        text-decoration: underline;
    }
}

.LEFT{
    transform: rotate(180deg);
    margin-right: 20px;
    padding-right: 25%;

}

.RIGHT{
    margin-left: 20px;
    padding-left: 25%;
    
}

}
