$white: #FFFFFF;
$lightblue: #98C7CF;
$blue: #428AA9;
$blueblack: #34424F;
$orange: #F89F69;
$red: #CB5656;
$redprice: #D13333;

$linear-orange: linear-gradient(180deg, #FF965C 0%, #DC643E 100%);
$linear-orange-hover:linear-gradient(180deg, #C53D3D 0%, #BC6231 100%);
$linear-darkblue:linear-gradient(180deg, #33414E 0%, #22163C 100%);
$linear-darkblue-hover:linear-gradient(180deg, #000000 0%, #24313F 100%);
$linear-red:linear-gradient(180deg, #CB5656 0%, #A92A2A 100%);
$linear-red-hover:linear-gradient(180deg, #610E0E 0%, #891D1D 100%);


