@import url("/css/reset.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html{
    font-family: Arial, 'Noto Sans TC';
    line-height: 1.25;
    // letter-spacing: 1.5px;
    font-size: $initial;
    color: $blueblack;
}

// header下面的背景
.BACKGROUND {
  background-image: url("../../img/BG.jpg");   
  background-repeat: no-repeat;
  background-size: cover;
}

// wrapper
.WRAPPER {
  max-width: 1440px;
  margin: 0 auto;
  width: 75%;

  @include m(){
    width: 90%;
  }
}


<<<<<<< HEAD
=======

//=============================================================
// 手機版414px
@mixin m() {
  @media screen and (max-width: 414px) {
      @content;
  }
}

@include m {

  .BACKGROUND {
    height: auto;
    position: relative;
    background-image: url("");   
    background: linear-gradient(176.06deg, #F89F69 0%, #D9EAED 33.33%, #F6DFC8 66.67%, #A7CFD7 100%);
  }


  .WRAPPER{
    width: 90%;
  }

}
>>>>>>> dev
