

a {
    display: block;
}
// 立即預約按鈕
.HEADER_NAV .RESERVE {
    background: $linear-orange;
    font-size: $p;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 65px;
    width: 270px;
    height: 65px;
    cursor: pointer;

    &:hover{
        background: $linear-orange-hover;
        color: $white;
    }
}
// 登入登出紐
.LOGIN{
    font-size: $p;
    font-weight: 700;
}
.LOGOUT {
    font-size: $p;
    font-weight: 700;
}
// 前台btn有放大外框效果 width需自行設定
// 如果BTN上方有文字，請自行加入margin-top:15px
.BTN {
    cursor: pointer;
    font-size: $p;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    position: relative;
    border: unset;
    background: $linear-darkblue;
    color: $white;
    cursor: pointer;
    &:hover{
        background: $linear-darkblue-hover;
    }
    // &:after{
    //     content: '';
    //     width: 100%;
    //     height: 110%;
    //     padding: 2px;
    //     border: 1px solid $blueblack;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     border-radius: 15px;
    //     transition:all 1s;
    //     transform: translate(-50% , -50%);
    //     transform-origin: center;
    //     opacity: 0;
        
    // }
    
    // &:hover::after{
    //     transform: translate(-50% , -50%) scale(1.04, 1.11);
    //     transform-origin: center;
    //     opacity: 1;
    //     transition:all .8s;
    // }

    // &:after{
    //     content: '';
    //     width: 100%;
    //     height: 110%;
    //     padding: 2px;
    //     border: 1px solid $blueblack;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     border-radius: 15px;
    //     transition:all 1s;
    //     transform: translate(-50% , -50%);
    //     transform-origin: center;
    //     opacity: 0;

    // }

    // &:hover::after{
    //     transform: translate(-50% , -50%) scale(1.04, 1.11);
    //     transform-origin: center;
    //     opacity: 1;
    //     transition:all .8s;
    // }

}

// BTN_BACK 後台BTN width需自行設定
.BTN_BACK {
    cursor: pointer;
    font-size: $p;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    position: relative;
    border: unset;
    background: $linear-red;
    color: $white;

    // @include m{
    //     font-size: $littleword;
    //     height: 50px;
    //     line-height: 50px;
    // }

    &:hover {
        // opacity: .7;
        background: $linear-red-hover;
    }
}

// top紐

.TOP_BTN.HIDE{
    opacity: 0;
}

.TOP_BTN{
    background-image: url(../img/TOP-BTN.svg);
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: unset;
    border-radius: 50%;
    position: fixed;
    left: 93%;
    bottom: 50px;
    opacity: .6;
    z-index: 3000;
    display: none;


    &:hover{
        background-image: url(../img/TOP-BTN-HOVER.svg);
        width: 100px;
        height: 100px;
        cursor: pointer;
        border: unset;
        border-radius: 50%;
        opacity: 1;
        transition: opacity .1s linear;
    }
}



// RWD footer的top按鈕
.FOOTER_TOP_BTN{
    display: none;
}






@mixin m() {
    @media screen and (max-width: 414px) {
        @content;
    }
}

@include m{

    #js-top{
        display: none;
    }
    #js-top{
        left: 500%;
    }
    
    .FOOTER_TOP_BTN{
        display: block;
    }


    .FOOTER_TOP_BTN{
        color: $white;
        text-align: center;
        position: absolute;
        right: 15px;
        bottom: 40px;
        i{
            font-size: 50px;
        }

        p{
            font-size: 15px;
        }
    }

}

// =========================================

.SHOPPINGLIST_MAGNIFIER{
    cursor: pointer;
    background-image: url(../img/shopping_list/magnifier.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    
}


.ITEMCOUNT_BTN{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    


    .ITEMCOUNT_BTN-LEFT{
        display: block;
        width: 20%;
        height: 65px;
        background-color: $blue;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;

        &:hover{
            background-color: $blueblack;
            outline: 1px solid $blueblack;
            i{
                color: #fff;
            }
        }

        
        i{
            font-size: 45px;
            color:$blueblack;
            line-height: 65px;
        }
        
    }

    input.ITEMCOUNT_BTN-BODY{
        display: block;
        width: 100%;
        height: 63px;
        background-color: #fff;
        border: 1px solid $blue;
        font-size: 30px;
        color:$blueblack;
        line-height: 63px;
        text-align: center;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;

        &:focus{
            outline: 0px;
        }

        
    }

    .ITEMCOUNT_BTN-RIGHT{
        display: block;
        width: 20%;
        height: 65px;
        background-color: $blue;
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;

        &:hover{
            background-color: $blueblack;
            outline: 1px solid $blueblack;
            i{
                color: #fff;
            }
        }
        
        i{
            font-size: 45px;
            color:$blueblack;
            line-height: 65px;
        }
    }
}