// index消息小卡


// @media screen and (max-width: 1400px) {

//     .CARD_BODY{
//         max-width: 1000px;
//         height: 300px;
//     }
//     .CARD_BODY > .CARD_LEFT > img{
//         width: 400px;
//         height: 300px;
//     }

//     .CARD_BODY > .CARD_RIGHT{
//         height: 300px;

//     }
// }


// @media screen and (max-width: 1000px) {

//     .CARD_BODY{
//         max-width: 800px;
//         height: 250;
//     }
//     .CARD_BODY > .CARD_LEFT > img{
//         width: 350px;
//         height: 250px;
//     }

//     .CARD_BODY > .CARD_RIGHT{
//         height: 250px;

//     }
// }



.CARD_BODY{
    max-width: 1200px;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    // flex-direction: row;
    padding: 50px 0;
    
    

}

.INFORMATION_CARD_A{
    color: $blueblack;
    transition: all 0.3s ease;
    width: 100%;
    &:hover{
        filter: drop-shadow(0px 0px 5px $blueblack);
        transform: scale(1.05);
    }
}

.CARD_LEFT > img{
    border-radius: 10px 0 0 10px;
    width: 525px;
    height: 350px;
    @include m {
        width: 120px;
        height: 100px;
    }

    
}




.CARD_RIGHT{
    position: relative;
    background-color: $white;
    width: 675px;
    height: 350px;
    border-radius: 0 10px 10px 0;
    padding:0 30px 0 40px;
    
}

.CARD_TITLE{
    font-size: $p;
    color: $white;
    font-weight: 700;
    background-color: $orange;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
}

.CARD_DATE{
    font-size: $littleword;
    font-weight: 500;
    padding-top: 30px;
}

.CARD_CONTENT{
    padding-top: 30px;
    font-weight: 500;
    line-height: 1.8;
    font-size: 1.55vw;
    @include m {
        width: 220px; /* 設定容器寬度 */
        white-space: nowrap; /* 讓文字不換行 */
        overflow: hidden; /* 超出容器範圍的內容隱藏 */
        text-overflow: ellipsis; /* 使用省略號表示被截斷的內容 */
    }
}

.ALLOW{
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 40px;
    color:$blueblack ;

    @include m {
        display: none;
    }
}


// ================= SHOPPINGCARD ====================


.SHOPPINGCARD{
    margin-top: 35px;

    @media screen and (max-width: 1300px) {
        a{
            line-height: 25px;
            p.SHOPPINGCARD_TITLE{
                font-size: 2.2rem;
                line-height: 25px;
            }
        }
        
        
    }

    @media screen and (max-width: 1100px) {
        a{
            line-height: 20px;
            p.SHOPPINGCARD_TITLE{
                font-size: 2rem;
                // line-height: 25px;
            }
        }
        
        
    }

    @media screen and (max-width: 1050px) {
        a{
            line-height: 20px;
            p.SHOPPINGCARD_TITLE{
                font-size: 1.7rem;
                line-height: 20px;
            }
        }
        
        
    }

    @include m{
        a{
            line-height: 0px;
            p.SHOPPINGCARD_TITLE{
                font-size: 4.83vw;
                line-height: 30px;
            }
        }
    }

    @media (min-width:768px){
    &:hover{
        .CARDLINK img{
            transform: scale(1.05);
            // transition: all .3s ease-in-out;
            
        }

        p.SHOPPINGCARD_TITLE{
            text-decoration: underline;
            text-underline-position: under;
            text-underline-offset: 1px;

            
        }
        }
    }

        

        .SHOPPINGCARD_IMG{
            // display: inline-block;
            // width: 100%;
            border-radius:3px 50px 3px 3px; 
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            filter: drop-shadow(8px 4px 8px #6b7d807e);

            }

            img{
                width: 100%;
                // border-radius:3px 50px 3px 3px; 
            }

            span{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content:center;
                background-color:rgba(248, 160, 105, 0.9);
                width: 100%;
                position: absolute;
                left: 0px;
                bottom: 0px;
                z-index: 5;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color:$red;
                    transition: all .3s ease-in-out;
                    
                }
    
                .SHOPPINGCART_ICON{
                    &::before{
                        color: #FFF;
                        font-size: 2.5rem;
                        margin-right: 10px;
                        transform: translate(20%,20%);
                    }
                }
    
                p{
                    color: #FFF;
                    }
                    line-height: 50px;
                @media screen and (max-width: 1300px) {
                    p{
                        font-size: 2rem;
                    }
                }
                @media screen and (max-width: 1100px) {
                    p{
                        font-size: 1.5rem;
                    }
                }

                @include m {
                    p{
                        font-size: 4.83vw;
                    }
                }

            } 

            a{
                text-decoration: none;
        

                img{
                    width: 100%;
                    transition: all .3s ease-in-out;
                    z-index: 1;
                }

            }  

        }

        a{
            text-decoration: none;

            

        .SHOPPINGCARD_TITLE{
            height: 125px;
            font-weight: 700;
            line-height: 34px;
            margin-bottom: 10px;
            color:$blueblack;

            // @media screen and (max-width: 1200px) {
            //     font-size: 2.2rem;
            // }

            @include m {
                height: 150px;
            }
        }

    }
    .SHOPPINGCARD_PRICE{
        font-weight: 700;
        line-height: 34px;
        color: $redprice;
        text-align: right;
    }

    span.SHOPPINGCARD_ZERO{
        background-color:#727272;
        &:hover{
            background-color:#727272;
        }
    }









//=============================================================
// 手機版414px
@mixin m() {
    @media screen and (max-width: 428px) {
        @content;
    }
}


@include m {
    // index消息小卡



.CARD_BODY{
    width: 90vw;
    max-width: 90vw;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 10px 0;

}

    
.CARD_LEFT > img{
    width: 22vw;
   
}
.CARD_RIGHT{
    position: relative;
    background-color: $white;
    width: 80%;
    height: auto;
    border-radius: 0 10px 10px 0;
    padding:0 20px 0 10px;
    
}

.CARD_TITLE{
    font-size: $bread;
    color: $white;
    font-weight: 700;
    background-color: $orange;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    margin-top: 10px;
}

.CARD_DATE{
    font-size: $initial;
    position: absolute;
    right: 20px;
    top: 16.5px;
    padding-top: 0;
}

.CARD_CONTENT{
    font-size: $bread;
    padding-top: 13px;
    font-weight: 500;
    line-height: 150%;
}

.ALLOW{
    position: absolute;
    bottom: 11px;
    right: 20px;
    font-size: 15px;
    
    
}

}