// input請自己設定width
.INPUT {

    font-size: $p;

    input {
        font-family: 'Noto Sans';
        font-size: 20px;
        color: $blueblack;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #9E9E9E;
        height: 45px;
        width: 300px;
    }

    input:focus {
        outline: none;
    }

}

// RWD的input有兩種長度：
// 有外層DIV的長度: width: 336px;
// 自己在外面的長度: width: 376px;


// select請自己設定width
.SELECT {

    font-size: $p;
    position: relative;

    select {
        // 隱藏預設箭頭
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        // 新箭頭
        background-image: url('../../img/chevron-down.svg');
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        font-family: 'Noto Sans';
        font-size: 20px;
        color: $blueblack;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #9E9E9E;
        height: 45px;
        width: 300px;
    }

    select:focus {
        outline: none;
    }

}

// textarea請自己設定width
.TEXTAREA {

    font-size: $p;

    textarea {
        font-family: 'Noto Sans';
        font-size: 20px;
        color: $blueblack;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #9E9E9E;
        width: 300px;
    }

    textarea:focus {
        outline: none;
    }

}
