// 手機板下方固定功能列
.M_FUNTION{
    display: none;
}

.M_TIME_TABLE.-off{
    display: none;
}

// =============== 手機板下方固定功能列 ============

//=============================================================
// 手機版414px
@mixin m() {
    @media screen and (max-width: 414px) {
        @content;
    }
  }

@include m{
    .M_FUNTION{
        display: block;
        position: fixed;
        z-index: 100;
        bottom: 0;
    
        ul{
            display: flex;
            justify-content: space-between;
            width: 100vw;   
            height: 90px;
            background: linear-gradient(90deg, #F89F69 0%, #fc9a5e 40%, #A7CFD7 100%);
    
            .M_FUNTION_A1{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .M_FUNTION_A2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $white;
                text-align: center;
                padding:  0 15px;
                i{
                    font-size: 25px;
                    padding-bottom: 15px;
                }
            }

            .M_FUNTION_A3{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $white;
                text-align: center;
                padding:  0 15px;

                i{
                    font-size: 25px;
                    padding-bottom: 15px;
                }
    
                .arrow{
                    font-size: 40px;
                }
            }
        }
    }
    
    
    .M_TIME_TABLE{
        text-align: center;
        
        width: 100vw;
        height: 100vh;
        position: fixed;
        border: 1px solid;
        background: linear-gradient(180deg, rgb(248, 159, 105,.8) 0%, rgb(252, 155, 94,.8) 40%, rgb(167, 207, 215,.8) 100%);
        z-index: 9999;
        >div{
            margin-top: 28vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            // justify-content: center;
            h1{
                color: $white;
            }
            img{
                
                padding-top: 50px;
                
                
            }

            .CLOSE_TABLE{
                i{
                    font-size: 5rem;
                    color: $white ;
    
                    position: fixed;
                    top: 20%;
                    right: 4%;
                    z-index: 1000;
                    transition: all .3s ease;
                    transform: scale(.6);
                   
                }
            } 


        }
        
    }
}

