.big_title{

    position: relative;

.big_title_img{
    background-image: url(../../img/TITLE-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 100px;
    padding: 10px 45px;
    box-sizing: border-box;
    text-align: left;
    color: $white;

    .h1{
        font-size: $h1;
    }
    
    .p{
        font-size: $bread;
        padding: 0 5px;
    }

}

}





.arc_title{
    font-size: $h2;
    width: 80px;
    height: 80px;
    background-color: $orange;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    color: $white;
    font-weight: bold;
}