// 手機版414px
@mixin m() {
    @media screen and (max-width: 414px) {
        @content;


        
    }
}
@mixin m() {
  
  @for $i from 1 through 11 {
    .RWD-COL-#{$i} {
    width: calc((100% - #{$column-gap * 10}) / 11 * #{$i});
    margin-right: $column-gap;
    // float: left;
    
    &:last-child {
      margin-right: 0;
    }
  }
  }
}


@mixin flex-container($direction: row, $wrap: wrap, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

$column-gap: 20px;
 
@for $i from 1 through 12 {
    .COL-#{$i} {
    width: calc((100% - #{$column-gap * 11}) / 12 * #{$i});
    margin-right: $column-gap;
    // float: left;
    
    &:last-child {
      margin-right: 0;
    }
  }
}


